<div class="app-content content py21">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section class="vertical-wizard">
                <div class="bs-stepper vertical vertical-wizard-example">
                    <div class="bs-stepper-header">
                        <h4>Añadir metodo de pago</h4>
                        <div class="step active" data-target="#account-details-vertical" role="tab" id="account-details-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="true">
                                <span class="bs-stepper-box">1</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Transferencia Bancaria</span>
                                </span>
                            </button>
                        </div>
                        <div class="step" data-target="#address-step-vertical2" role="tab" id="address-step-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="false">
                                <span class="bs-stepper-box">2</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Pago Móvil</span>
                                </span>
                            </button>
                        </div>
                        <div class="step" data-target="#personal-info-vertical" role="tab" id="personal-info-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="false">
                                <span class="bs-stepper-box">3</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Retiro en Criptomonendas</span>
                                </span>
                            </button>
                        </div>
                        <div class="step" data-target="#address-step-vertical" role="tab" id="address-step-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="false">
                                <span class="bs-stepper-box">4</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Retiro en Billetera digital</span>
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="bs-stepper-content">
                        <form method="POST" action="/addretreatsbankpy21" id="account-details-vertical" class="content dstepper-block active" role="tabpanel">
                            <div class="content-header">
                                <h5 class="mb-0">Transferencia Bancaria</h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Nombre Completo</label>
                                    <input type="text" id="" name="fullname" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Documento de identificación</label>
                                    <input type="text" id="" name="dni" class="form-control" placeholder="" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Tipo de Banco</label>
                                    <input type="text" id="" name="bank_name" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Tipo de Cuenta</label>
                                    <select name="type_account" id="" class="form-select" required>
                                        <option value="Corriente" selected>Corriente</option>
                                        <option value="Ahorro">Ahorro</option>
                                    </select>
                                </div>
                                <div class="mb-1">
                                    <label class="form-label" for="">Nro de Cuenta Bancaria</label>
                                    <input type="text" id="" name="num_account" class="form-control" placeholder="" required>
                                </div>
                            </div>
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1">
                                    Añadir
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Descartar
                                </button>
                            </div>
                        </form>

                        <form method="POST" action="/addretreatsbtcpy21" id="personal-info-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Retiro en BTC</h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-first-name">Codigo de la Billetera</label>
                                    <input type="text" id="" name="code_wallet" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1">
                                    Añadir
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Descartar
                                </button>
                            </div>
                        </form>

                        <form method="POST" action="/addretreatswalletpy21" id="address-step-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Retiro en Billetera digital</h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Email</label>
                                    <input type="email" id="" name="email" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1">
                                    Añadir
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Descartar
                                </button>
                            </div>
                        </form>

                        <form method="POST" action="/addretreatspaympy21" id="address-step-vertical2" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Pago Móvil</h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Nombre Completo</label>
                                    <input type="text" name="fullname" id="" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Documento de identicicación</label>
                                    <input type="text" name="dni" id="" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Banco</label>
                                    <input type="text" id="" name="bank_name" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Telefono</label>
                                    <input type="text" id="" name="phone" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <div class="d-flex">
                                <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                    Añadir
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Descartar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <div class="col-12">
                <div class="card card-statistics">
                    <div class="card-body statistics-body">
                        <div class="row">
                            <!-- TRANSFERENCIAS -->
                            <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0" type="button" data-bs-toggle="collapse" data-bs-target="#transf" aria-expanded="true" id="transfbtn">
                                <div class="d-flex flex-row">
                                    <div class="avatar bg-light-primary me-2">
                                        <div class="avatar-content">
                                            <i data-feather='activity' class="feather feather-trending-up avatar-icon text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="my-auto">
                                        <h5 class="fw-bolder mb-0">Transferencias Bancarias</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0" type="button" data-bs-toggle="collapse" data-bs-target="#pagom" aria-expanded="true" id="pagombtn">
                                <div class="d-flex flex-row">
                                    <div class="avatar bg-light-primary me-2">
                                        <div class="avatar-content">
                                            <i data-feather='smartphone' class="feather feather-trending-up avatar-icon text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="my-auto">
                                        <h5 class="fw-bolder mb-0">Pago Móvil</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0" type="button" data-bs-toggle="collapse" data-bs-target="#billetera" aria-expanded="true" id="billeterabtn">
                                <div class="d-flex flex-row">
                                    <div class="avatar bg-light-primary me-2">
                                        <div class="avatar-content">
                                            <i data-feather='dollar-sign' class="feather feather-trending-up avatar-icon text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="my-auto">
                                        <h5 class="fw-bolder mb-0">Billetera Digital</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0" type="button" data-bs-toggle="collapse" data-bs-target="#btcw" aria-expanded="true" id="btcwbtn">
                                <div class="d-flex flex-row">
                                    <div class="avatar bg-light-primary me-2">
                                        <div class="avatar-content">
                                            <i data-feather='credit-card' class="feather feather-trending-up avatar-icon text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="my-auto">
                                        <h5 class="fw-bolder mb-0">BTC</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TRANSFERENCIAS BANCARIAS -->
            <div class="col-12 collapse" id="transf">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Transferencias Bancarias</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Mostrar 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entradas
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th>Metodo</th><th class="sorting" tabindex="0" style="width: 102px; white-space: nowrap">Banco</th><th tabindex="0" colspan="2">Nro de cuenta</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px; white-space: nowrap" aria-label="Email: activate to sort column ascending">Tipo de cuenta</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Nombre</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">DNI</th><th>Estado</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Acción</th></tr>
                                </thead>
                                <tbody>
                                    {{#if transf}}
                                    {{#each transf as |item i|}}
                                    <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td style="white-space: nowrap">{{item.transaction_type}}</td><td><div class="d-flex justify-content-left align-items-center"><div class="d-flex flex-column"><span class="emp_name text-truncate fw-bold">{{item.bank_name}}</span></div></div></td><td colspan="2" class="text-nowrap">{{item.num_account}}</td><td>{{item.type_account}}</td><td style="white-space: nowrap;">{{item.full_name}}</td><td>{{item.dni}}</td><td><span class="badge rounded-pill bg-light-success">Activo</span></td>
                                    
                                        <td class="text-nowrap" style=""><div class="d-inline-flex"><a class="pe-1 dropdown-toggle hide-arrow text-primary" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-small-4"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></a><div class="dropdown-menu dropdown-menu-end">

                                            <form action="/deletemretreatspy21" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <button type="submit" class="dropdown-item delete-record w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 font-small-4 me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>Borrar</button></div></div>

                                                <a class="item-edit editar-transferencias" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard" data-id="{{item.id}}" data-name="{{item.full_name}}" data-dni="{{item.dni}}" data-bank="{{item.bank_name}}" data-tacc="{{item.type_account}}" data-numacc="{{item.num_account}}"><svg style="pointer-events: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit font-small-4 text-primary"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    {{else}}
                                    <tr>
                                        <td style="white-space: nowrap;">No existen metodos de retiro registrados</td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGO MOVIL -->
            <div class="col-12 collapse" id="pagom">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Pago Movil</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Mostrar 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entradas
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th>Metodo</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Nombre</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">DNI</th><th class="sorting" tabindex="0" style="width: 102px;">Banco</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Telefono</th><th>Estado</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Acción</th></tr>
                                </thead>
                                <tbody>
                                    <!-- PAGO MOVIL -->
                                    {{#if paym}}
                                    {{#each paym as |item i|}}
                                    <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td>{{item.transaction_type}}</td><td style="white-space: nowrap;">{{item.full_name}}</td><td>{{item.dni}}</td><td><div class="d-flex justify-content-left align-items-center"><div class="d-flex flex-column"><span class="emp_name text-truncate fw-bold">{{item.bank_name}}</span></div></div></td><td>{{item.phone}}</td><td><span class="badge rounded-pill bg-light-success">Activo</span></td>
                                    
                                        <td class="text-nowrap" style=""><div class="d-inline-flex"><a class="pe-1 dropdown-toggle hide-arrow text-primary" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-small-4"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></a><div class="dropdown-menu dropdown-menu-end">

                                            <form action="/deletemretreatspy21" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <button type="submit" class="dropdown-item delete-record w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 font-small-4 me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>Borrar</button></div></div>

                                                <a class="item-edit editar-pagomovil" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2" data-id="{{item.id}}" data-name="{{item.full_name}}" data-dni="{{item.dni}}" data-phone="{{item.phone}}" data-bank="{{item.bank_name}}"><svg style="pointer-events: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit font-small-4 text-primary"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    {{else}}
                                    <tr>
                                        <td style="white-space: nowrap;">No existen metodos de retiro registrados</td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGO BTC -->
            <div class="col-12 collapse" id="btcw">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">BTC</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Mostrar 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entradas
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th>Metodo</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Código Billetera</th><th>Estado</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Acción</th></tr>
                                </thead>
                                <tbody>
                                    <!-- PAGO MOVIL -->
                                    {{#if btc}}
                                    {{#each btc as |item i|}}
                                    <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td>{{item.transaction_type}}</td><td style="white-space: nowrap;">{{item.code_wallet}}</td><td><span class="badge rounded-pill bg-light-success">Activo</span></td>
                                    
                                        <td class="text-nowrap" style=""><div class="d-inline-flex"><a class="pe-1 dropdown-toggle hide-arrow text-primary" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-small-4"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></a><div class="dropdown-menu dropdown-menu-end">

                                            <form action="/deletemretreatspy21" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <button type="submit" class="dropdown-item delete-record w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 font-small-4 me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>Borrar</button></div></div>

                                                <a class="item-edit editar-btc" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard3" data-id="{{item.id}}" data-code="{{item.code_wallet}}"><svg style="pointer-events: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit font-small-4 text-primary"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    {{else}}
                                    <tr>
                                        <td style="white-space: nowrap;">No existen metodos de retiro registrados</td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGO BILLETERA DIGITAL -->
            <div class="col-12 collapse" id="billetera">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Billetera Digital</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Mostrar 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entradas
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th>Metodo</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Email Billetera</th><th>Estado</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Acción</th></tr>
                                </thead>
                                <tbody>
                                    
                                    {{#if wallet}}
                                    {{#each wallet as |item i|}}
                                    <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td>{{item.transaction_type}}</td><td style="white-space: nowrap;">{{item.digital_wallet_email}}</td><td><span class="badge rounded-pill bg-light-success">Activo</span></td>
                                    
                                        <td class="text-nowrap" style=""><div class="d-inline-flex"><a class="pe-1 dropdown-toggle hide-arrow text-primary" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-small-4"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></a><div class="dropdown-menu dropdown-menu-end">

                                            <form action="/deletemretreatspy21" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <button type="submit" class="dropdown-item delete-record w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 font-small-4 me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>Borrar</button></div></div>

                                                <a class="item-edit editar-billetera" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard4" data-id="{{item.id}}" data-email="{{item.digital_wallet_email}}"><svg style="pointer-events: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit font-small-4 text-primary"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    {{else}}
                                    <tr>
                                        <td style="white-space: nowrap;">No existen metodos de retiro registrados</td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-2">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="btnHistorial">
                    Historial de Retiros
                </a>
                <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" id="btnPendientes">
                    Retiros Pendientes
                </a>
            </div>

            <!--- HISTORIAL RETIROS REALIZADOS --->
            <div class="col-12 collapse" id="collapseExample">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Historial Retiros</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Mostrar 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entradas
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th>Paquete</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Monto $</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Ganancias $</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Fecha</th><th>Estado</th></tr>
                                </thead>
                                <tbody>
                                    {{#each retreatsCompletes as |item i|}}
                                    <tr>
                                        <td>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary showModalBtn" style="white-space: nowrap; text-overflow: ellipsis;" data-id="{{paquete.id}}" data-status="{{status}}"  data-name="{{#paqueteNombrepy24 paquete.name}}{{/paqueteNombrepy24}}" data-price="{{paquete.price}}" data-duration="{{paquete.duration}}" data-amount_th="{{paquete.amount_th}}" data-maintance="{{paquete.maintance_charge}}" data-date="{{#formatDatapy24 paquete.createdAt}}{{/formatDatapy24}}" data-activated="{{deposito.activatedAt}}" data-culmination="{{deposito.culmination}}" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard5">Ver</a>
                                        </td>
                                        <td>{{amount}}</td>
                                        <td>{{usuario.earnings}}</td>
                                        <td>{{#formatDatapy24 createdAt}}{{/formatDatapy24}}</td>
                                        <td>
                                            {{#statusretreatspy24 item.status}}{{/statusretreatspy24}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--- RETIROS PENDIENTES (EN PROCESO) --->
            <div class="col-12 collapse" id="collapseExample2">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Retiros Pendientes</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Mostrar 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entradas
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"><input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th>Paquete</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Monto $</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Ganancias $</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Fecha</th><th>Estado</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Acción</th></tr>
                                </thead>
                                <tbody>
                                    {{#each retreats as |item i|}}
                                    <tr>
                                        <td>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary showModalBtn" style="white-space: nowrap; text-overflow: ellipsis;" data-id="{{paquete.id}}" data-status="{{status}}"  data-name="{{#paqueteNombrepy24 paquete.name}}{{/paqueteNombrepy24}}" data-price="{{paquete.price}}"  data-duration="{{paquete.duration}}" data-amount_th="{{paquete.amount_th}}" data-maintance="{{paquete.maintance_charge}}" data-date="{{#formatDatapy24 paquete.createdAt}}{{/formatDatapy24}}" data-activated="{{deposito.activatedAt}}" data-culmination="{{deposito.culmination}}" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard5">Ver</a>
                                        </td>
                                        <td>{{amount}}</td>
                                        <td>{{deposito.earnings}}</td>
                                        <td>{{#formatDatapy24 createdAt}}{{/formatDatapy24}}</td>
                                        <td>
                                            <span class="badge rounded-pill badge-light-warning">{{status}}</span>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary SolicitarBtn" style="white-space: nowrap; text-overflow: ellipsis;" data-id="{{item.id}}" data-amount="{{usuario.avalible_balance}}" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard6">Solicitar</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--- MODAL ACTUALIZAR --->

            <!--- MODAL TRANSFERENCIAS --->
            <div class="modal fade" id="addNewCard" tabindex="-1" aria-labelledby="" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Actualizar Metodo de Retiro</h1>
                            <form action="/updatemretreatspy21" method="POST"  class="card-body row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Metodo</label>
                                    <input type="text" class="d-none" name="id" id="idtrans" readonly required>
                                    <input name="ttype" class="form-control" type="text" value="Transferencia Bancaria" readonly required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Nombre</label>
                                    <input type="text" name="name" id="name1" class="form-control" value="" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Documento de identificación</label>
                                    <input type="text" id="dni1" name="dni" class="form-control" value="" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Banco</label>
                                    <input id="bank1" name="bank" class="form-control" type="text" value="" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Tipo de Cuenta</label>
                                    <select name="type_account" id="type_account" class="form-select" required>
                                        <option value="Corriente">Corriente</option>
                                        <option value="Ahorro">Ahorro</option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Nro de Cuenta</label>
                                    <input id="num_account1" name="num_account" class="form-control" type="text" value="">
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->

            <!--- MODAL PAGO MOVIL --->
            <div class="modal fade" id="addNewCard2" tabindex="-1" aria-labelledby="" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Actualizar Metodo de Retiro</h1>
                            <form action="/updatemretreatspy21" method="POST" class="card-body row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Metodo</label>
                                    <input type="text" name="id" id="idpagom" class="d-none">
                                    <input name="ttype" class="form-control" type="text" value="Pago Movil" readonly required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Nombre</label>
                                    <input type="text" name="name" id="name2" class="form-control" value="">
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Documento de identificación</label>
                                    <input type="text" id="dni2" name="dni" class="form-control" value="">
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Banco</label>
                                    <input id="bank2" name="bank" class="form-control" type="text" value="">
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Telefono</label>
                                    <input id="phone" name="phone" class="form-control" type="text" value="">
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->

            <!--- MODAL BTC --->
            <div class="modal fade" id="addNewCard3" tabindex="-1" aria-labelledby="" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Actualizar Metodo de Retiro</h1>
                            <form action="/updatemretreatspy21" method="POST" class="card-body row">
                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Metodo</label>
                                    <input type="text" name="id" class="d-none" id="idbtc" readonly required>
                                    <input name="ttype" class="form-control" type="text" value="BTC" readonly required>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Código de Billetera</label>
                                    <input type="text" name="code_wallet" id="code_wallet" class="form-control" value="">
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->

            <!--- MODAL BILLETERA DIGITAL --->
            <div class="modal fade" id="addNewCard4" tabindex="-1" aria-labelledby="" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Actualizar Metodo de Retiro</h1>
                            <form action="/updatemretreatspy21" method="POST" class="card-body row">
                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Metodo</label>
                                    <input type="text" name="id" class="d-none" id="idwallet">
                                    <input name="ttype" class="form-control" type="text" value="Billetera Digital" readonly required>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Email de Billetera Digital</label>
                                    <input type="email" name="email_wallet" id="email_wallet" class="form-control" value="">
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->

            <!--- MODAL PAQUETES --->
            <div class="modal fade" id="addNewCard5" tabindex="-1" aria-labelledby="" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="pname"></h1>
                            <div class="card-body row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Nombre del Paquete</label>
                                    <input id="namepack" class="form-control" type="text" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Total de TH</label>
                                    <input id="amount_th2" class="form-control" type="text" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Duración de Minado / Meses</label>
                                    <input type="text" id="duration2" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Creación</label>
                                    <input type="text" id="date2" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Activación</label>
                                    <input type="text" id="activated" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Culminación</label>
                                    <input type="text" id="culmination" class="form-control" value="" readonly>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Porcentaje a cobrar por mantenimiento</label>
                                    <input type="text" id="maintance" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Monto Total $</label>
                                    <input type="text" id="amount2" class="form-control" value="400$" readonly>
                                </div>

                                <div class="col-12 col-md-6 mb-2">
                                    <label class="form-label" for="">Estado</label>
                                    <input type="text" id="state2" class="form-control" value="Terminado" readonly>
                                </div>
                                
                                <div class="col-12">
                                    <a href="#" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL PAQUETES --->

            <!--- MODAL SOLICITAR PAGO --->
            <div class="modal fade" id="addNewCard6" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1">Solicitar Retiro</h1>
                            <p class="text-primary text-center d-none" id="insuficiente">Saldo insuficiente, debe alcanzar el mínimo de retiro establecido: <span id="min">{{data_th.min_withdrawal}}</span> BTC.</p>
                            <form action="/solicitpaypy21" method="POST" class="card-body row">

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Monto $</label>
                                    <input type="text" name="id" id="idpay" class="d-none" readonly required>
                                    <input type="number" id="total_amount" min="{{data_th.min_withdrawal}}" class="form-control" value="{{data_th.min_withdrawal}}" autocomplete="off" required>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Saldo Disponible $</label>
                                    <input type="number" id="disponible" value="" class="form-control" readonly>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" id="btnSolicitar">Realizar Solicitud</button>
                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-outline-secondary">Cerrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    let editTrasnf = document.querySelectorAll('.editar-transferencias'),
    editPagom = document.querySelectorAll('.editar-pagomovil'),
    editBtc = document.querySelectorAll('.editar-btc'),
    editWallet = document.querySelectorAll('.editar-billetera'),
    historial = document.getElementById('collapseExample'),
    pendientes = document.getElementById('collapseExample2'),
    historialBtn = document.getElementById('btnHistorial'),
    pendientesBtn = document.getElementById('btnPendientes');

    let btn = document.querySelectorAll('.showModalBtn'),
    SolicitarBtn = document.querySelectorAll('.SolicitarBtn');

    historialBtn.addEventListener('click', () => {
        pendientes.classList.remove('show');
        pendientes.classList.add('collapse');
    });

    pendientesBtn.addEventListener('click', () => {
        historial.classList.remove('show');
        historial.classList.add('collapse');
    });

    btn.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetModal(current);
        });
    });

    SolicitarBtn.forEach(abtn => {
        abtn.addEventListener('click', (event) => {
            let current = event.target
            SetPayModal(current);
        });
    });

    const SetModal = (target) => {
        const packName = document.getElementById('pname'),
        name = document.getElementById('namepack'),
        amount_th = document.getElementById('amount_th2'),
        duration = document.getElementById('duration2'),
        date = document.getElementById('date2'),
        maintance = document.getElementById('maintance'),
        activated = document.getElementById('activated'),
        culmination = document.getElementById('culmination'),
        amount = document.getElementById('amount2'),
        state = document.getElementById('state2');

        packName.innerText = target.getAttribute('data-name')
        name.value = target.getAttribute('data-name')
        amount_th.value = target.getAttribute('data-amount_th')
        duration.value = target.getAttribute('data-duration')
        amount.value = target.getAttribute('data-price')
        date.value = target.getAttribute('data-date')
        state.value = target.getAttribute('data-status')
        activated.value = target.getAttribute('data-activated')
        culmination.value = target.getAttribute('data-culmination')
        maintance.value = target.getAttribute('data-maintance')
        console.log(target.getAttribute('data-name'))
        console.log(target.getAttribute('data-activated'))
        console.log(target.getAttribute('data-culmination'))
    }

    const id = document.getElementById('idpay'),
    totalAmount = document.getElementById('total_amount'),
    disponible = document.getElementById('disponible'),
    btnSolicitar = document.getElementById('btnSolicitar'),
    min = document.getElementById('min'),
    insuficiente = document.getElementById('insuficiente');

    const SetPayModal = (target) => {
        id.value = target.getAttribute('data-id')
        totalAmount.setAttribute('max', target.getAttribute('data-amount'))
        disponible.value = target.getAttribute('data-amount')

            console.log(parseInt(target.getAttribute('data-amount')))
            console.log(parseInt(min.innerText))
        if (parseInt(target.getAttribute('data-amount')) < parseInt(min.innerText)) {
            console.log(parseInt(target.getAttribute('data-amount')))
            console.log(parseInt(min.innerText))
            btnSolicitar.setAttribute('disabled', 'disabled')
            insuficiente.classList.remove('d-none')
        } else {
            btnSolicitar.removeAttribute('disabled')
            insuficiente.classList.add('d-none')
        }
    }

    editTrasnf.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetTransfModal(current);
        });
    });

    editPagom.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetPagomModal(current);
        });
    });

    editBtc.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetBTCModal(current);
        });
    });

    editWallet.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetWalletModal(current);
        });
    });

    const SetTransfModal = (target) => {
        const name = document.getElementById('name1'),
        id = document.getElementById('idtrans'),
        dni = document.getElementById('dni1'),
        bank = document.getElementById('bank1'),
        tacc = document.getElementById('type_account'),
        nacc = document.getElementById('num_account1');

        id.value = target.getAttribute('data-id')
        name.value = target.getAttribute('data-name')
        dni.value = target.getAttribute('data-dni')
        bank.value = target.getAttribute('data-bank')
        tacc.value = target.getAttribute('data-tacc')
        nacc.value = target.getAttribute('data-numacc')

        console.log(target.getAttribute('data-tacc'))
        console.log(target.getAttribute('data-numacc'))
    }

    const SetPagomModal = (target) => {
        const name = document.getElementById('name2'),
        id = document.getElementById('idpagom'),
        dni = document.getElementById('dni2'),
        bank = document.getElementById('bank2'),
        phone = document.getElementById('phone');

        id.value = target.getAttribute('data-id')
        name.value = target.getAttribute('data-name')
        dni.value = target.getAttribute('data-dni')
        bank.value = target.getAttribute('data-bank')
        phone.value = target.getAttribute('data-phone')

    }

    const SetBTCModal = (target) => {
        const id = document.getElementById('idbtc'),
        code = document.getElementById('code_wallet');

        id.value = target.getAttribute('data-id')
        code.value = target.getAttribute('data-code')
    }

    const SetWalletModal = (target) => {
        const id = document.getElementById('idwallet'),
        email = document.getElementById('email_wallet');

        id.value = target.getAttribute('data-id')
        email.value = target.getAttribute('data-email')
    }

    $(document).ready(function(){
        $('#transfbtn').on('click', (e)=> {
            Reset(1)
        });
        $('#pagombtn').on('click', (e)=> {
            Reset(2);
        });
        $('#billeterabtn').on('click', (e)=> {
            Reset(3);
        });
        $('#btcwbtn').on('click', (e)=> {
            Reset(4);
        });

        function Reset(num) {
            $('#transf').removeClass('show')
            $('#transf').addClass('collpase')

            $('#pagom').removeClass('show')
            $('#pagom').addClass('collpase')

            $('#billetera').removeClass('show')
            $('#billetera').addClass('collpase')
            
            $('#btcw').removeClass('show')
            $('#btcw').addClass('collpase')
            switch (num){
                case 1:
                    $('#transf').removeClass('collpase')
                    $('#transf').addClass('show')
                    break;
                case 2:
                    $('#pagom').removeClass('collpase')
                    $('#pagom').addClass('show')
                    break;
                case 3:
                    $('#billetera').addClass('show')
                    $('#billetera').removeClass('collpase')
                    break;
                case 4:
                    $('#btcw').addClass('show')
                    $('#btcw').removeClass('collpase')
                    break;
                default:
                break
            }
        }
    });
</script>