<div class="app-content content py21">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section id="basic-datatable">               
                <div class="row">
                    {{!--- VERIFICADOS ---}}
                    <div class="col-12">
                        <div class="card">
                            <div id="" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Usuarios Verificados</h6></div></div>
                                <div class="d-flex justify-content-between align-items-center mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label class="d-flex align-items-center">Mostrar 
                                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="7">7</option>
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="75">75</option>
                                                    <option value="100">100</option>
                                                </select> entradas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 mb-1 mb-md-0">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <select id="filter-users" class="form-select d-block w-50 me-0 ms-auto">
                                                <option value="all">Todos</option>
                                                <option value="invers">Inversionistas</option>
                                                <option value="sellers">Vendedores</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px; white-space:nowrap" aria-label="Date: activate to sort column ascending">Nombre de Usuario</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">Email</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px; white-space: nowrap" aria-label="Salary: activate to sort column ascending">Tipo de Usuario</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Paquetes</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px; white-space: nowrap" aria-label="Actions">Cuenta verificada</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Estado</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Acción</th></tr>
                                    </thead>
                                    <tbody id="table-user">
                                        {{#if allusers}}
                                        {{#each allusers as |user i|}}      
                                        <tr class="even">
                                            <td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td>
                                            <td style="white-space: nowrap;">{{user.username}}</td>
                                            <td style="white-space: nowrap;">{{user.email}}</td>
                                            <td class="type_user">
                                                {{#roleuserpy24 user.type_user}}{{/roleuserpy24}}
                                            </td>
                                            <td>
                                                <form id="form{{user.id}}">
                                                    <input type="text" class="d-none" name="id" value="{{user.id}}" readonly required>
                                                    {{#userdepositspy24 user.id user.depositos}}{{/userdepositspy24}}
                                                </form>
                                            </td>
                                            <td>
                                                {{#accountverifiedpy24 user.account_verified}}{{/accountverifiedpy24}}
                                            </td>
                                            <td style="white-space: nowrap;">{{#statususerpy24 user.status}}{{/statususerpy24}}</td>

                                            <td class="text-nowrap" style=""><div class="d-inline-flex"><a class="pe-1 dropdown-toggle hide-arrow text-primary" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-small-4"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></a><div class="dropdown-menu dropdown-menu-end">
                                                {{#usertosellerpy21 user.id user.type_user}}{{/usertosellerpy21}}
                                                <a class="dropdown-item" href="#" role="button" data-bs-toggle="modal" data-bs-target="#AddNewCard4">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 me-50"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                                    Asignar porcentaje de ganancias
                                                </a>
                                                <a class="dropdown-item" href="#" role="button" data-bs-toggle="modal" data-bs-target="#AddNewCard5">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 me-50"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                                    Establecer sistema de referidos
                                                </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <tr>
                                            <td style="white-space: nowrap;">
                                                <p>No existen usuarios pendientes por verificación.</p>
                                            </td>
                                        </tr>
                                        {{/if}}
                                        
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="d-none" id="btnModalPaquetes" role="button" data-bs-toggle="modal" data-bs-target="#AddNewCard2"></button>

                    {{!--- PENDIENTES POR VERIFICAR ---}}
                    <div class="col-12">
                        <div class="card">
                            <div id="referidos" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Pendientes por verificación</h6></div></div>
                                <div class="d-flex justify-content-between align-items-center mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label class="d-flex align-items-center">Mostrar 
                                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="7">7</option>
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="75">75</option>
                                                    <option value="100">100</option>
                                                </select> entradas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                        </div>
                                    </div>
                                </div>
                                <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Nombre de Usuario</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">Email</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px; white-space: nowrap" aria-label="Salary: activate to sort column ascending">Tipo de Usuario</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px; white-space: nowrap" aria-label="Actions">Cuenta verificada</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Estado</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Acción</th></tr>
                                    </thead>
                                    <tbody>
                                        {{#if allunverif}}
                                        {{#each allunverif as |user i|}}      
                                        <tr class="even">
                                            <td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td>
                                            <td style="white-space: nowrap;">{{user.username}}</td>
                                            <td style="white-space: nowrap;">{{user.email}}</td>
                                            <td>
                                                {{#roleuserpy24 user.type_user}}{{/roleuserpy24}}
                                            </td>
                                            <td>
                                                {{#accountverifiedpy24 user.account_verified}}{{/accountverifiedpy24}}
                                            </td>
                                            <td style="white-space: nowrap;">{{#statususerpy24 user.status}}{{/statususerpy24}}</td>

                                            {{#if user.front_img_dni}}
                                            <td>
                                                <a href="#" role="button" class="btn btn-primary btn-verify" role="button" data-id="{{user.id}}" data-dni-front="{{user.front_img_dni}}" data-dni-back="{{user.back_img_dni}}" data-bs-toggle="modal" data-bs-target="#AddNewCard3">Verificar</a>
                                            </td>
                                            {{else}}
                                            <td>
                                                <span class="badge rounded-pill badge-light-danger">Sin datos de verificación</span>
                                            </td>
                                            {{/if}}
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <tr>
                                            <td style="white-space: nowrap;">
                                                <p>No existen usuarios pendientes por verificación.</p>
                                            </td>
                                        </tr>
                                        {{/if}}
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {{!-- MODAL --}}
            <div class="modal fade" id="AddNewCard2" tabindex="-1" aria-labelledby="pricingModalTitle" style="padding-left: 0px;" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-sm-5 mx-50 pb-5">
                            <div id="pricing-plan">
                                <!-- title text and switch button -->
                                <div class="text-center">
                                    <h1 id="pricingModalTitle">Paquetes</h1>
                                    <p class="mb-3"></p>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Paquetes</h6></div></div>
                                            <div class="d-flex justify-content-between align-items-center mx-0 row">
                                                <div class="col-sm-12 col-lg-6">
                                                    <div class="dataTables_length" id="DataTables_Table_0_length">
                                                        <label class="d-flex align-items-center">Mostrar 
                                                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                                <option value="7">7</option>
                                                                <option value="10">10</option><option value="25">25</option>
                                                                <option value="50">50</option><option value="75">75</option>
                                                                <option value="100">100</option>
                                                            </select> entradas
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                        <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                                <thead>
                                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Nombre</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Creación</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Activación</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Culminación</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Duración</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px; white-space: nowrap" aria-label="Actions">Cantidad de TH</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px; white-space: nowrap" aria-label="Actions">Monto $</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Estado</th></tr>
                                                </thead>
                                                <tbody id="tbody">
                                           
                                                </tbody>
                                            </table>

                                            <div class="d-flex justify-content-between mx-0 row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                            <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- END MODAL --}}

            {{!-- MODAL VERIFICACION --}}
            <div class="modal fade" id="AddNewCard3" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1">Verificación de cuenta</h1>
                            <p class="text-center">Datos suministrados por el cliente</p>
                            <form action="/verifyuser" method="POST" class="card-body">
                                <input type="text" name="id" id="iduser" class="d-none" required>
                                <p class="card-text mb-0">DNI Parte frontal</p>
                                <a target="_blank" id="link1">
                                    <img src="" class="img-fluid mb-2 rounded-1" id="dni_front">
                                </a>
                                
                                <p class="card-text mb-0">DNI Parte posterior</p>
                                <a target="_blank" id="link2">
                                    <img src="" class="img-fluid mb-2 rounded-1" id="dni_back">
                                </a>
                                
                                <input type="submit" class="btn btn-primary" value="Validar verificación">
                                <button type="reset" class="btn btn-outline-secondary">Denegar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- END MODAL VERIFICACION --}}

            {{!-- MODAL ASIGNAR GANANCIAS DE VENDEDOR --}}
            <div class="modal fade" id="AddNewCard4" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1">Establecer ganancias del vendedor</h1>
                            <form action="/" method="POST" class="card-body">
                                <p class="card-text mb-0">Porcentaje de Ganancias</p>
                                <input type="number" name="" id="" class="form-control mb-1" placeholder="10%" value="0" min="0" required>
                                
                                <input type="submit" class="btn btn-primary" value="Establecer">
                                <button type="reset" class="btn btn-outline-secondary">Denegar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- END MODAL ASIGNAR GANANCIAS DE VENDEDOR --}}

            {{!-- MODAL ESTABLECER SISTEMA DE REFERIDOS --}}
            <div class="modal fade" id="AddNewCard5" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1">Establecer sistema de referidos</h1>
                            <form action="/verifyuserpy21" method="POST" class="card-body">
                                <p class="card-text mb-0">DNI Parte frontal</p>
                                <select class="form-select mb-1">
                                    <option>Simple - Por venta directa</option>
                                    <option>Avanzado - Multinivel</option>
                                </select>
                                
                                
                                <input type="submit" class="btn btn-primary" value="Establecer">
                                <button type="reset" class="btn btn-outline-secondary">Denegar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- END MODAL ESTABLECER SISTEMA DE REFERIDOS --}}
        </div>
    </div>  
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>      
<script>
    let btnVerify = document.querySelectorAll('.btn-verify');

    let filter = document.getElementById('filter-users');

    filter.addEventListener('change', () => {
        let selectedOption = filter.options[filter.selectedIndex];

        if(selectedOption.value === 'all') {
            let row = document.querySelectorAll('.type_user');
            if (row.length) {
                row.forEach(el => {
                    el.parentElement.style.display = 'table-row';
                })
            }
        } else if (selectedOption.value === 'invers') {
            let row = document.querySelectorAll('.type_user');
            ResetFilter();
            if (row.length) {
                row.forEach(el => {
                    if (el.innerText === 'Inversionista') {
                        el.parentElement.style.display = 'table-row';
                    } else {
                        el.parentElement.style.display = 'none';
                    }
                })
            }
        } else if (selectedOption.value === 'sellers') {
            let row = document.querySelectorAll('.type_user');
            ResetFilter();
            if (row.length) {
                row.forEach(el => {
                    if (el.innerText === 'Vendedor') {
                        el.parentElement.style.display = 'table-row';
                    } else {
                        el.parentElement.style.display = 'none';
                    }
                })
            }
        }
    });

    const ResetFilter = () => {
        let row = document.querySelectorAll('.type_user');
        row.forEach(el => {
            el.parentElement.style.display = 'table-row';
        })
    } 

    btnVerify.forEach(btn => {
        btn.addEventListener('click', (e) => {
            let current = event.target
            SetVerifyModal(current);
        });
    });

    const SetVerifyModal = (target) => {
        const id = document.getElementById('iduser'), 
        link1 = document.getElementById('link1'), 
        dni1 = document.getElementById('dni_front'), 
        link2 = document.getElementById('link2'), 
        dni2 = document.getElementById('dni_back'); 

        id.value = target.getAttribute('data-id');
        link1.href = `/assets/img_up/${target.getAttribute('data-dni-front')}`;
        dni1.src = `/assets/img_up/${target.getAttribute('data-dni-front')}`;
        link2.href = `/assets/img_up/${target.getAttribute('data-dni-back')}`;
        dni2.src = `/assets/img_up/${target.getAttribute('data-dni-back')}`;
    }
</script>

<script>
    $(document).ready(function() {
        let tbodyModal = document.getElementById('tbody');
        let btnModalP = $('#btnModalPaquetes');
        $('.btn-paquetes').click(function(e) {
            let iduser = e.target.getAttribute('data-id');
            let form = document.getElementById(`form${iduser}`);
            const data = new FormData(form);
            console.log(data)
            $.ajax({
                url: '/getdepositspy21',
                type: 'POST',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (resp, textStatus, jqXHR) {
                    let arr = resp;
                    let newArr = [];
                    console.log(resp)
                    tbody.innerHTML = '';
                    if(arr.transf.length) {
                        newArr.push(arr.transf)
                    }
                    if(arr.paym.length) {
                        newArr.push(arr.paym)
                    }
                    if(arr.btc.length) {
                        newArr.push(arr.btc)
                    }
                    if(arr.wallet.length) {
                        newArr.push(arr.wallet)
                    }
                    SetPackagesUser(newArr);
                },
                error: function (jqXHR, textStatus) {
                    console.log('error:' + jqXHR);
                }
            });
        });

        function SetPackagesUser (item) {
            console.log(item)
            if(item[0]) {
                item[0].forEach(el => {
                    SetModalValues(el);
                })
            }
            if(item[1]) {
                item[1].forEach(el => {
                    SetModalValues(el);
                })
            }
            if(item[2]) {
                item[2].forEach(el => {
                    SetModalValues(el);
                })
            }
            if(item[3]) {
                item[3].forEach(el => {
                    SetModalValues(el);
                })
            }
        }

        function SetModalValues (item) {
            console.log(item)
            let name, status, created, activated, culmination;
            if(item.status === 'No verificado') {
                status = `<span class="badge rounded-pill badge-light-warning">${item.status}</span>`
            } else {
                status = `<span class="badge rounded-pill badge-light-success">${item.status}</span>`
            }
            if(!item.paquete.name) {
                name = 'Paquete Personalizado';
            } else {
                name = item.paquete.name;
            }
            if(!item.createdAt) {
                created = '-';
            } else {
                created = item.createdAt.slice(0,10)
            }
            if(!item.activatedAt) {
                activated = '-';
            } else {
                activated = item.activatedAt.slice(0,10)
            }
            if(!item.culmination) {
                culmination = '-';
            } else {
                culmination = item.culmination.slice(0,10)
            }
            let tr = document.createElement('tr')
            tr.innerHTML = `
                <td class=" control" tabindex="0" style="display: none;"></td>
                <td class=" dt-checkboxes-cell">
                    <div class="form-check"> 
                        <input class="form-check-input dt-checkboxes" type="checkbox"  id="checkbox100">
                        <label class="form-check-label" for="checkbox100"></label>
                    </div>
                </td>
                <td style="white-space: nowrap">${name}</td>
                <td style="white-space: nowrap">${created}</td>
                <td style="white-space: nowrap">${activated}</td>
                <td style="white-space: nowrap">${culmination}</td>
                <td>${item.paquete.duration} Meses</td>
                <td>${item.paquete.amount_th} TH</td>
                <td>${item.paquete.price}$</td>
                <td>
                    ${status}
                </td>
            `;
            tbodyModal.appendChild(tr)
            btnModalP.click();
        }
    });
</script>