<div class="app-content content ">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section id="pricing-plan">
                
                {{#if roleClient}}
                <!-- title text and switch button -->
                <div class="text-center">
                    <h1 class="mt-5">Precios de Paquetes</h1>
                    
                    <div class="d-flex align-items-center justify-content-center mb-5 pb-50">
                        <h6 class="me-1 mb-0">12 Meses</h6>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="priceSwitc">
                            <label class="form-check-label" for="priceSwitch"></label>
                        </div>
                        <h6 class="ms-50 mb-0">24 Meses</h6>
                    </div>
                </div>
                <!--/ title text and switch button -->

                <!-- pricing plan cards -->
                <div class="row pricing-card">
                    <div class="col-12 col-sm-offset-2 col-sm-10 col-md-12 col-lg-offset-2 col-lg-10 mx-auto">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <a class="btn btn-outline-warning me-1 waves-effect waves-float waves-light collapsed" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Personalizar paquete
                                </a>
                            </div>
                            <div class="col-md-8 collapse" id="collapseExample">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Paquete personalizado</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex p-1">
                                            <form class="form form-horizontal">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="mb-1 row">
                                                            <div class="col-sm-3">
                                                                <label class="col-form-label" for="first-name">Meses de Minería</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <select name="" id="" class="form-select">
                                                                    <option value="">6 Meses</option>
                                                                    <option value="">12 Meses</option>
                                                                    <option value="">18 Meses</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="mb-1 row">
                                                            <div class="col-sm-3">
                                                                <label class="col-form-label" for="email-id">Cantidad de TH</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <input type="number" id="" class="form-control" name="" placeholder="13" value="0" minlength="0">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="mb-1 row">
                                                            <div class="col-sm-3">
                                                                <label class="col-form-label" for="">Costo</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <input type="text" id="" class="form-control" name="" placeholder="" value="600$">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-9 offset-sm-3">
                                                        <button type="reset" class="btn btn-primary me-1 waves-effect waves-float waves-light" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Comprar</button>
                                                        <button type="reset" class="btn btn-outline-secondary waves-effect">Cancelar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-12"></div>
                            <!-- basic plan -->
                            <div class="col-12 col-md-4">
                                <div class="card basic-pricing text-center">
                                    <div class="card-body">
                                        <img src="../../../app-assets/images/illustration/Pot1.svg" class="mb-2 mt-5" alt="svg img">
                                        <h3>Basico</h3>
                                        <p class="card-text">Inicial</p>
                                        <div class="annual-plan">
                                            <div class="plan-price mt-2">
                                                <sup class="font-medium-1 fw-bold text-primary">$</sup>
                                                <span class="pricing-basic-value fw-bolder text-primary">600</span>
                                                {{!-- <sub class="pricing-duration text-body font-medium-1 fw-bold">600$</sub> --}}
                                            </div>
                                            <small class="annual-pricing d-none text-muted"></small>
                                        </div>
                                        <ul class="list-group list-group-circle text-start">
                                            <li class="list-group-item">12 meses Minería</li>
                                            <li class="list-group-item">Cantidad de TH: 6</li>
                                            <li class="list-group-item">Coste de mantenimiento: 10%</li>
                                        </ul>
                                        <button class="btn w-100 btn-outline-success mt-2 waves-effect">Tu paquete actual</button>
                                    </div>
                                </div>
                            </div>
                            <!--/ basic plan -->

                            <!-- standard plan -->
                            <div class="col-12 col-md-4">
                                <div class="card standard-pricing popular text-center">
                                    <div class="card-body">
                                        <div class="pricing-badge text-end">
                                            <span class="badge rounded-pill bg-light-primary text-primary">Popular</span>
                                        </div>
                                        <img src="../../../app-assets/images/illustration/Pot2.svg" class="mb-1" alt="svg img">
                                        <h3>Mediano</h3>
                                        <p class="card-text">Mejor compra</p>
                                        <div class="annual-plan">
                                            <div class="plan-price mt-2">
                                                <sup class="font-medium-1 fw-bold text-primary">$</sup>
                                                <span class="pricing-standard-value fw-bolder text-primary">750</span>
                                            </div>
                                        </div>
                                        <ul class="list-group list-group-circle text-start">
                                            <li class="list-group-item">12 meses Minería</li>
                                            <li class="list-group-item">Cantidad de TH: 13</li>
                                            <li class="list-group-item">Coste de mantenimiento: 10%</li>
                                        </ul>
                                        <button class="btn w-100 btn-primary mt-2 waves-effect waves-float waves-light">Comprar</button>
                                    </div>
                                </div>
                            </div>
                            <!--/ standard plan -->

                            <!-- enterprise plan -->
                            <div class="col-12 col-md-4">
                                <div class="card enterprise-pricing text-center">
                                    <div class="card-body">
                                        <img src="../../../app-assets/images/illustration/Pot3.svg" class="mb-2" alt="svg img">
                                        <h3>Grande</h3>
                                        <p class="card-text">Profesional</p>
                                        <div class="annual-plan">
                                            <div class="plan-price mt-2">
                                                <sup class="font-medium-1 fw-bold text-primary">$</sup>
                                                <span class="pricing-enterprise-value fw-bolder text-primary">900</span>
                                            </div>
                                        </div>
                                        <ul class="list-group list-group-circle text-start">
                                            <li class="list-group-item">12 meses Minería</li>
                                            <li class="list-group-item">Cantidad de TH: 26</li>
                                            <li class="list-group-item">Coste de mantenimiento: 10%</li>
                                        </ul>
                                        <button class="btn w-100 btn-outline-primary mt-2 waves-effect">Comprar</button>
                                    </div>
                                </div>
                            </div>
                            <!--/ enterprise plan -->
                        </div>
                    </div>
                </div>
                {{/if}}

                <!--/ pricing plan cards -->
                {{#if roleAdmin}}
                <span class="d-block mb-1" id="adm">ADMINISTRADOR</span>
                
                <section id="basic-vertical-layouts">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Añadir Paquetes</h4>
                                </div>
                                <div class="card-body">
                                    <form class="form form-vertical" method="POST" action="/createpackages">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Nombre del Plan</label>
                                                    <input type="text" id="" class="form-control" name="name" placeholder="VIP" required>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Precio</label>
                                                    <input type="number" id="" class="form-control" name="price" placeholder="650$" required>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Duración</label>
                                                    <select name="duration" id="" class="form-select" required>
                                                        <option value="6">6 Meses</option>
                                                        <option value="12">12 Meses</option>
                                                        <option value="24">24 Meses</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Cantidad de TH</label>
                                                    <input type="number" id="" class="form-control" min="0" name="amount" placeholder="80 TH" required>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Cobro por mantenimiento</label>
                                                    <input type="text" id="" class="form-control" name="maintance" placeholder="10%" value="{{percentage}}" min="0" readonly required>
                                                </div>
                                            </div>
  
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Guardar</button>
                                                <button type="reset" class="btn btn-outline-secondary waves-effect">Descartar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="card">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Paquetes creados</h6></div></div>
                                    <div class="d-flex justify-content-between align-items-center mx-0 row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="DataTables_Table_0_length">
                                                <label class="d-flex align-items-center">Mostrar 
                                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                        <option value="7">7</option>
                                                        <option value="10">10</option><option value="25">25</option>
                                                        <option value="50">50</option><option value="75">75</option>
                                                        <option value="100">100</option>
                                                    </select> entradas
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                        <thead>
                                            <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">ID</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Nombre</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Total TH</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Mantenimiento</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Precio</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Duración</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Creación</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Acción</th></tr>
                                        </thead>
                                        <tbody>
                                            {{#if data}}
                                                {{#each data as |item i|}}
                                            <tr class="packages-items">
                                                <td class="control" tabindex="0" style="display: none;"></td>                
                                                <td class=" dt-checkboxes-cell">
                                                    <div class="form-check"> 
                                                        <input class="form-check-input dt-checkboxes" type="checkbox">
                                                    </div>
                                                </td>

                                                <td class="id">{{item.id}}</td>

                                                <td class="name">{{item.name}}</td>

                                                <td class="amount">{{item.amount_th}} TH</td>

                                                <td class="maintance">{{item.maintance_charge}}%</td>

                                                <td class="price">{{item.price}}$</td>

                                                <td class="duration">{{item.duration}} Meses</td>

                                                <td>{{#formatDatapy24 item.createdAt}}{{/formatDatapy24}}</td>

                                                <td>
                                                    <div class="d-flex">
                                                        <div>
                                                            <input type="text" class="d-none" name="id" value="{{item.id}}">
                                                            <button role="button" data-id="{{item.id}}" data-name="{{item.name}}" data-amount="{{item.amount_th}}"  data-maintance="{{item.maintance_charge}}" data-price="{{item.price}}" data-duration="{{item.duration}}" data-bs-toggle="modal" data-bs-target="#addNewCard" style="max-width: 50px;" class="btn btn-primary btn-sm">
                                                                <i data-feather='edit-2' style="pointer-events: none;"></i>
                                                            </button>
                                                        </div>
                                                        <form action="/deletepackages" method="post">
                                                            <input type="text" class="d-none" name="id" value="{{item.id}}">
                                                            <button style="max-width: 50px;" role="button" type="submit" class="btn btn-danger btn-sm">
                                                                <i data-feather='x' class="ficon"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                                {{/each}}
                                            {{else}}
                                            <tr class="odd">
                                                <td style="white-space: nowrap">No existen datos registrados</td>
                                            </tr>
                                            {{/if}}
                                        </tbody>
                                    </table>

                                    <div class="d-flex justify-content-between mx-0 row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                    <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
          
                <!--- MODAL --->
                {{#if data}}
                <div class="modal fade" id="addNewCard" tabindex="-1" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/updatepackages" method="POST" class="modal-body">
                                <h1 class="text-center mb-1" id="name">Plan Basico</h1>
                                <div class="card-body row">
                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="">Nombre del Plan</label>
                                        <input id="name_pack" name="name" class="form-control" type="text" value="" required>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="">Precio</label>
                                        <input id="price" name="price" class="form-control" type="number" value="" min="0" required>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="">Duración</label>
                                        <select name="duration" id="duration" class="form-select" required>
                                            <option value="6">6 Meses</option>
                                            <option value="12">12 Meses</option>
                                            <option value="24">24 Meses</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="">Cantidad de TH</label>
                                        <input type="text" id="amount" name="amount" class="form-control" min="0" value="" required>
                                    </div>

                                    <div class="col-md-12 mb-2">
                                        <label class="form-label" for="">Cobro por mantenimiento</label>
                                        <input type="number" id="maintance" name="maintance" class="form-control" min="0" value="{{percentage}}" required readonly>
                                    </div>

                                    <input type="text" id="id" name="id" class="d-none" required>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Descartar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{/if}}
                <!--- END MODAL --->
                {{/if}}      

                {{!-- MODAL PAGAR --}}
                {{#if roleClient}}
                <div class="modal fade" id="addNewCard2" tabindex="-1" style="padding-left: 0px;" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-sm-5 mx-50 pb-5">
                                <div class="text-center">
                                    <h1>Pago a realizar</h1>
                                    <p class="mb-3"></p>
                                </div>

                                <section class="vertical-wizard">
                                    <div class="bs-stepper vertical vertical-wizard-example">
                                        <div class="bs-stepper-header">
                                            <h4>Elige un metodo de retiro</h4>
                                            <div class="step active" data-target="#account-details-vertical" role="tab" id="account-details-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="true">
                                                    <span class="bs-stepper-box">1</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Transferencia Bancaria</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="step" data-target="#address-step-vertical2" role="tab" id="address-step-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">2</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Pago Móvil</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="step" data-target="#personal-info-vertical" role="tab" id="personal-info-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">3</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Retiro en Criptomonendas</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="step" data-target="#address-step-vertical" role="tab" id="address-step-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">4</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Retiro en Billetera digital</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="bs-stepper-content">
                                            <div id="account-details-vertical" class="content dstepper-block active" role="tabpanel" aria-labelledby="account-details-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Transferencia Bancaria</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Nombre Completo</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="Mosqueda Cordova" readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Documento de identificación</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="20.705.025" readonly>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Tipo de Banco</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="Banesco" readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Tipo de Cuenta</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="Corriente" readonly>
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="">Nro de Cuenta Bancaria</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="0116 0552 0855 5995" readonly>
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="">Adjuntar imagen del comprobante</label>
                                                        <input type="file" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="">Monto</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="">Nro de referencia</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                        Enviar pago a verificación
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="personal-info-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Retiro en BTC</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="vertical-first-name">Codigo de la Billetera</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                        Realizar Pago
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="address-step-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Retiro en Billetera digital</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="vertical-first-name">Email</label>
                                                        <input type="email" id="" class="form-control" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                        Realizar Pago
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="address-step-vertical2" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Pago Móvil</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Nombre Completo</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Documento de identicicación</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Banco</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Telefono</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                        Realizar Pago
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{!-- END MODAL PAGAR --}}
            </section>
        </div>
    </div>
</div>

<script>
    let toggleBtns = document.querySelectorAll('table .d-flex .btn.btn-primary.btn-sm');
    let packages = document.querySelectorAll('.packages-items');


    toggleBtns.forEach(btn => {
        btn.addEventListener('click', (e) => {
            packages.forEach(pack => {
                pack.classList.remove('active');
            });
            e.target.parentNode.parentNode.parentNode.parentNode.classList.add('active')
            let id = document.querySelector('.packages-items.active .id').innerText,
            name = document.querySelector('.packages-items.active .name').innerText,
            price = e.target.getAttribute('data-price'),
            amount = e.target.getAttribute('data-amount'),
            duration = e.target.getAttribute('data-duration'),
            maintance = e.target.getAttribute('data-maintance');
            
            SetModalUpdateValues(id, name, price, amount, duration, maintance);
        });
    });

    const SetModalUpdateValues = (i, n, p, a, d, m) => {
        const name = document.getElementById('name'),
        namePack = document.getElementById('name_pack'),
        price = document.getElementById('price'),
        duration = document.getElementById('duration'),
        amount = document.getElementById('amount'),
        maintance = document.getElementById('maintance'),
        id = document.getElementById('id');

        id.value = i;
        name.innerText = n;
        namePack.value = n;
        price.value = p;
        duration.value = d;
        amount.value = a;
        maintance.value = m;
    }

</script>