<div class="app-content content py24">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section id="pricing-plan">    
                {{#if roleClient}}
                <!-- title text and switch button -->
                <div class="text-center">
                    <h1 class="mt-5">Precios de Paquetes</h1>
                    
                    <div class="d-flex align-items-center justify-content-center mb-5 pb-50">
                        <h6 class="me-1 mb-0">12 Meses</h6>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label" for=""></label>
                        </div>
                        <h6 class="ms-50 mb-0">24 Meses</h6>
                    </div>
                </div>
                <!--/ title text and switch button -->
                <!-- pricing plan cards -->
                <div class="row pricing-card">
                    <div class="col-12 col-sm-offset-2 col-sm-10 col-md-12 col-lg-offset-2 col-lg-10 mx-auto">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <a class="btn btn-outline-warning me-1 waves-effect waves-float waves-light collapsed" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Personalizar paquete
                                </a>
                            </div>
                            <div class="col-md-8 collapse" id="collapseExample">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Paquete personalizado</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex p-1">

                                            <form class="form form-horizontal">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="mb-1 row">
                                                            <div class="col-sm-3">
                                                                <label class="col-form-label" for="">Meses de Minería</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <select name="duration" id="" class="form-select">
                                                                    <option value="6">6 Meses</option>
                                                                    <option value="12">12 Meses</option>
                                                                    <option value="18">18 Meses</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="mb-1 row">
                                                            <div class="col-sm-3">
                                                                <label class="col-form-label" for="">Cantidad de TH</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <input type="number" id="" class="form-control" name="amount" placeholder="13" value="0" min="0" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="mb-1 row">
                                                            <div class="col-sm-3">
                                                                <label class="col-form-label" for="">Costo</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <input type="number" id="costo_ref" class="d-none" name="" value="{{data_th.price}}" min="0" >
                                                                <input type="number" id="price_" class="form-control" name="price" placeholder="600$" value="600" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="mb-1 row">
                                                            <div class="col-sm-3">
                                                                <label class="col-form-label" for="">Costo de Mantenimiento</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <input type="text" id="" class="form-control" name="maintance" placeholder="10%" value="{{data_th.percentage_maintance}}" readonly>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-9 offset-sm-3">
                                                        <button type="reset" class="btn btn-primary me-1 waves-effect waves-float waves-light" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Comprar</button>
                                                        <button type="reset" class="btn btn-outline-secondary waves-effect">Cancelar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-12"></div>
                            <!-- PLANS -->
                            {{#each data as |item|}}       
                            <div class="col-12 col-md-4">
                                <div class="card {{#if "item.price > 6 && < 13"}} standard-pricing popular {{else}} basic-pricing {{/if}} text-center">
                                    <div class="card-body">
                                        {{#if "item.price <= 6"}}
                                        <img src="../../../app-assets/images/illustration/Pot1.svg" class="mb-2 mt-5" alt="svg img">
                                        <h3>{{item.name}}</h3>
                                        <p class="card-text">Inicial</p>
                                        {{/if}}

                                        {{#if "item.price > 6 && < 13"}}
                                        <div class="pricing-badge text-end">
                                            <span class="badge rounded-pill bg-light-primary text-primary">Popular</span>
                                        </div>
                                        <img src="../../../app-assets/images/illustration/Pot2.svg" class="mb-1" alt="svg img">
                                        <h3>{{item.name}}</h3>
                                        <p class="card-text">Mejor compra</p>
                                        {{/if}}

                                        {{#if "item.price > 13"}}
                                        <img src="../../../app-assets/images/illustration/Pot3.svg" class="mb-2" alt="svg img">
                                        <h3>{{item.name}}</h3>
                                        <p class="card-text">Profesional</p>
                                        {{/if}}

                                        <!-- NOMBRE DEL PLAN -->
                                        <div class="annual-plan">
                                            <div class="plan-price mt-2">
                                                <sup class="font-medium-1 fw-bold text-primary">$</sup>
                                                <span class="pricing-basic-value fw-bolder text-primary">{{item.price}}</span>
                                            </div>
                                            <small class="annual-pricing d-none text-muted"></small>
                                        </div>
                                        <ul class="list-group list-group-circle text-start">
                                            <li class="list-group-item">{{item.duration}} meses Minería</li>
                                            <li class="list-group-item">Cantidad de TH: {{item.amount_th}} </li>
                                            <li class="list-group-item">Coste de mantenimiento: {{item.maintance_charge}}%</li>
                                        </ul>
                                        <button class="btn w-100 btn-primary mt-2 waves-effect waves-float waves-light" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Comprar</button>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <!-- PLANS -->

                            <!-- 
                            <div class="col-12 col-md-4">
                                <div class="card standard-pricing popular text-center">
                                    <div class="card-body">
                                        <div class="pricing-badge text-end">
                                            <span class="badge rounded-pill bg-light-primary text-primary">Popular</span>
                                        </div>
                                        <img src="../../../app-assets/images/illustration/Pot2.svg" class="mb-1" alt="svg img">
                                        <h3>Mediano</h3>
                                        <p class="card-text">Mejor compra</p>
                                        <div class="annual-plan">
                                            <div class="plan-price mt-2">
                                                <sup class="font-medium-1 fw-bold text-primary">$</sup>
                                                <span class="pricing-standard-value fw-bolder text-primary">750</span>
                                            </div>
                                        </div>
                                        <ul class="list-group list-group-circle text-start">
                                            <li class="list-group-item">12 meses Minería</li>
                                            <li class="list-group-item">Cantidad de TH: 13</li>
                                            <li class="list-group-item">Coste de mantenimiento: 10%</li>
                                        </ul>
                                        <button class="btn w-100 btn-outline-success mt-2 waves-effect" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Tu paquete actual</button>
                                    </div>
                                </div>
                            </div>
                            -->

                            <!-- 
                            <div class="col-12 col-md-4">
                                <div class="card enterprise-pricing text-center">
                                    <div class="card-body">
                                        <img src="../../../app-assets/images/illustration/Pot3.svg" class="mb-2" alt="svg img">
                                        <h3>Grande</h3>
                                        <p class="card-text">Profesional</p>
                                        <div class="annual-plan">
                                            <div class="plan-price mt-2">
                                                <sup class="font-medium-1 fw-bold text-primary">$</sup>
                                                <span class="pricing-enterprise-value fw-bolder text-primary">900</span>
                                            </div>
                                        </div>
                                        <ul class="list-group list-group-circle text-start">
                                            <li class="list-group-item">12 meses Minería</li>
                                            <li class="list-group-item">Cantidad de TH: 26</li>
                                            <li class="list-group-item">Coste de mantenimiento: 10%</li>
                                        </ul>
                                        <button class="btn w-100 btn-outline-primary mt-2 waves-effect" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Comprar</button>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>

                {{/if}}


                {{!-- MODAL PAGAR --}}
                <div class="modal fade" id="addNewCard2" tabindex="-1" aria-labelledby="pricingModalTitle" style="padding-left: 0px;" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-sm-5 mx-50 pb-5">
                                <div class="text-center">
                                    <h1>Pago a realizar</h1>
                                    <p class="mb-3"></p>
                                </div>

                                <section class="vertical-wizard">
                                    <div class="bs-stepper vertical vertical-wizard-example">
                                        <div class="bs-stepper-header">
                                            <h4>Elige un metodo de retiro</h4>
                                            <div class="step active" data-target="#account-details-vertical" role="tab" id="account-details-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="true">
                                                    <span class="bs-stepper-box">1</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Transferencia Bancaria</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="step" data-target="#address-step-vertical2" role="tab" id="address-step-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">2</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Pago Móvil</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="step" data-target="#personal-info-vertical" role="tab" id="personal-info-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">3</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Retiro en Criptomonendas</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="step" data-target="#address-step-vertical" role="tab" id="address-step-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">4</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Retiro en Billetera digital</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="bs-stepper-content">
                                            <div id="account-details-vertical" class="content dstepper-block active" role="tabpanel" aria-labelledby="account-details-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Transferencia Bancaria</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <select class="form-select" id="" tabindex="-1" aria-hidden="true">
                                                            <option value="">Cuentas disponibles</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Nombre Completo</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="Mosqueda Cordova" readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Documento de identificación</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="20.705.025" readonly>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Tipo de Banco</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="Banesco" readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Tipo de Cuenta</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="Corriente" readonly>
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="">Nro de Cuenta Bancaria</label>
                                                        <input type="text" id="" class="form-control" placeholder="" value="0116 0552 0855 5995" readonly>
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="">Adjuntar imagen del comprobante</label>
                                                        <input type="file" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="">Monto</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="">Nro de referencia</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                        Enviar pago a verificación
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="personal-info-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Retiro en BTC</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="vertical-first-name">Codigo de la Billetera</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                        Realizar Pago
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="address-step-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Retiro en Billetera digital</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="vertical-first-name">Email</label>
                                                        <input type="email" id="" class="form-control" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                        Realizar Pago
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="address-step-vertical2" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Pago Móvil</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Nombre Completo</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Documento de identicicación</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Banco</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Telefono</label>
                                                        <input type="text" id="" class="form-control" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                        Realizar Pago
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
                {{!-- END MODAL PAGAR --}}
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(function (){
        $('input[name="amount"]').on('keyup', (e)=>{
            let valor =  e.target.value
            let price_ = parseFloat(valor) * parseFloat($('#costo_ref').val())
            console.log(price_)
            $('#price_').val(price_)
        })
    })
</script>