<style>
  .none{
    display: none;
  }
</style>
<script>
  $(document).ready(function(){
    $('.odd').addClass('dt-head-center');
     $('.even').addClass('dt-head-center'); 

    fecha_corte = new DateTime($('#fecha_corte'), {
        format: 'DD/MM/YYYY'
    });

    $('#btnresidenciales').on('click', (e)=> {
        Reset(1)
    });
    $('#btnpuntoVenta').on('click', (e)=> {
        Reset(2);
    });
    $('#btnnegocio').on('click', (e)=> {
        Reset(3);
    });
     $('#btnGral').on('click', (e)=> {
        Reset(4);
    });

    function Reset(num) {
        $('#residenciales').removeClass('show')
        $('#residenciales').addClass('collpase')

        $('#puntoVenta').removeClass('show')
        $('#puntoVenta').addClass('collpase')

        $('#negocio').removeClass('show')
        $('#negocio').addClass('collpase')
        
        $('#total').removeClass('show')
        $('#total').addClass('collpase')
        switch (num){
            case 1:
$('#residenciales').removeClass('collpase')
            $('#residenciales').addClass('show')
            break;
             case 2:
$('#puntoVenta').removeClass('collpase')
            $('#puntoVenta').addClass('show')
            break;
             case 3:
 $('#negocio').addClass('show')
            $('#negocio').removeClass('collpase')
            break;
case 4:
 $('#total').addClass('show')
            $('#total').removeClass('collpase')
            break;
            default:
            break
        }
    }

    $('#fecha_corte').on('change', (e)=>{
        console.log(e.target.value)
        let fecha = moment(e.target.value,'DD/MM/YYYY').format('YYYY-DD-MM')
        console.log(fecha)
        window.location.href=`/corteday_py4/${fecha}`
    })
})
</script>
{{#if msg}}
<label id="msgs">{{msg}}</label>
{{/if}}
<input type="text" id="array_personal" hidden value="{{personal_}}">
<input type="text" id="array_corte" hidden value="{{pedidos_byday}}">
<input type="text" id="tipo_seleccionado" hidden value="Residencial">
<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
     <!-- Dashboard Analytics Start -->
                <section id="dashboard-analytics">
                    <div class="row justify-content-center match-height py4">
                        <!-- Greetings Card starts -->
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="card card-congratulation">
                                <div class="card-body text-center" id="btnGral" data-bs-toggle="collapse" href="#total" role="button" aria-expanded="false" aria-controls="total">
                                    <div class="avatar avatar-xl bg-light shadow">
                                        <div class="avatar-content">
                                            <i data-feather="award" class="font-large-1 text-primary"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h1 class="my-1 text-white text-center">Total del día</h1>
                                        <p class="card-text mb-1">Ventas: <strong> {{cont_ventas_del_dia}}</strong></p>
                                        <p class="card-text"> Ingreso: <strong>$ {{ventas_del_dia}}</strong></p>
                                    </div>
                                    
                                    <div class="col">
                                        <label class="card-text mt-2 text-white w-100">Fecha: {{#formatoFecha2 dia}}{{/formatoFecha2}}</label>
                                        <div class="mb-0 d-flex">
                                            <!--<input type="text" class="form-control dt-date flatpickr-range dt-input" data-column="5"  data-column-index="4" name="dt_date" />-->
                                            <input type="text" class="form-control mx-auto start_date dt-input" data-column="5" data-column-index="4" name="value_from_start_date" placeholder="Cambiar fecha" id="fecha_corte"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Greetings Card ends -->

                        <!-- Subscribers Chart Card starts -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="card btn-outline-primary">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center"  id="btnresidenciales" data-bs-toggle="collapse" href="#residenciales" role="button" aria-expanded="false" aria-controls="residenciales">
                                    <div class="avatar bg-light-primary p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather="users" class="font-medium-5 text-primary"></i>
                                        </div>
                                    </div>
                                    <h2 class="fw-bolder my-1">Residenciales</h2>
                                    <p class="card-text mb-1">Ventas: <strong> {{residencial_cont}}</strong></p>
                                    <p>Ingreso: <strong>$ {{residencial_mont}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- Subscribers Chart Card ends -->

                        <!-- Orders Chart Card starts -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="card btn-outline-primary">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center" id="btnnegocio"  data-bs-toggle="collapse" href="#negocio" role="button" aria-expanded="false" aria-controls="negocio">
                                    <div class="avatar bg-light-warning p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather='shopping-bag' class="font-medium-5"></i>
                                        </div>
                                    </div>
                                    <h2 class="fw-bolder my-1">Negocio</h2>
                                    <p class="card-text mb-1">Ventas del día: <strong> {{negocio_cont}}</strong></p>
                                    <p>Ingreso: <strong>$ {{negocio_mont}}</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="card btn-outline-primary">
                                <div class="card-body p-1 d-flex flex-column align-items-center justify-content-center" id="btnpuntoVenta" data-bs-toggle="collapse" href="#puntoVenta" role="button" aria-expanded="false" aria-controls="puntoVenta">
                                    <div class="avatar bg-light-success p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather='credit-card' class="font-medium-5"></i>
                                        </div>
                                    </div>
                                    <h2 class="fw-bolder my-1">Puntos de Venta</h2>
                                    <p class="mb-1">Ventas del día: <strong> {{ptoVenta_cont}}</strong></p>
                                    <p>Ingreso: <strong>$ {{ptoVenta_mont}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- Orders Chart Card ends -->
                    </div>
                </section>
                <div class="card py4table collapse show" id="total">
                    <!-- List DataTable -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">General</h6></div>
                                        </div>
                                        <table class="datatables-basicGral table dt-column-searchGral" id="pedidos_corteGral" >
                                            <thead>
                                                <tr>
                                                    <th>Nombre del Chofer</th>
                                                    <th>Unidad</th>
                                                    <th>Total Garrafones</th>
                                                    <th>Total Efectivo</th>
                                                    <th>Total transferencias</th>
                                                    <th>Total pagos tarjetas</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card py4table collapse" id="residenciales">
                    <!-- List DataTable -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">Residenciales</h6></div>
                                        </div>
                                        <table class="datatables-basic table dt-column-search" id="pedidos_corte" >
                                            <thead>
                                                <tr>
                                                    <th>Nombre del Chofer</th>
                                                    <th>Unidad</th>
                                                    <th>Total Garrafones</th>
                                                    <th>Total Efectivo</th>
                                                    <th>Total transferencias</th>
                                                    <th>Total pagos tarjetas</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card py4table collapse" id="negocio">
                    <!-- List DataTable -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-header p-1">
                                        <div class="head-label"><h6 class="mb-0">Negocios</h6></div>
                                    </div>
                                    <table class="datatables-basicNegocio table dt-column-searchNegocio" id="pedidos_corteNegocio" >
                                        <thead>
                                            <tr>
                                                <th>Nombre del Chofer</th>
                                                <th>Unidad</th>
                                                <th>Total Garrafones</th>
                                                <th>Total Efectivo</th>
                                                <th>Total transferencias</th>
                                                <th>Total pagos tarjetas</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="card py4table collapse" id="puntoVenta">
                    <!-- List DataTable -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-header p-1">
                                        <div class="head-label"><h6 class="mb-0">Puntos de Venta</h6></div>
                                    </div>
                                    <table class="datatables-basicPuntoVenta table dt-column-searchPuntoVenta" id="pedidos_cortePuntoVenta" >
                                        <thead>
                                            <tr>
                                                <th>Nombre del Chofer</th>
                                                <th>Unidad</th>
                                                <th>Total Garrafones</th>
                                                <th>Total Efectivo</th>
                                                <th>Total transferencias</th>
                                                <th>Total pagos tarjetas</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                 
                <!-- Dashboard Analytics end -->
  </div>
</div>
</div>
</div>
</div>
 <div class="modal fade" id="corte_modal" tabindex="-1" aria-labelledby="corte_modal"
      style="display: none;" aria-hidden="corte_modal">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="corte_modalTitle"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="corte_modalBody">
          
          </div>
          <div class="modal-footer">
             
          </div>
        </div>
      </div>
    </div>



<!-- END: Content-->