<link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/page-knowledge-base.css">
<style>
    .encabezado{
    /*background: linear-gradient(rgb(0, 24, 103) 0%, rgb(1, 12, 112) 51%, rgb(0, 146, 174) 100%);*/
    cursor:pointer;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr !important;
}
.otros-img{
max-width: 14rem !important;
width: 13rem !important;
height: 13rem;
}

.encabezadoh4{
    font-size: 3rem !important;
}
    .font-crece {
        font-size: 1.3rem !important;
    }

    .ecommerce-application .list-view .ecommerce-card .card-body .item-wrapper {
        order: 3 !important;
        text-align: end !important;
    }

    .listado_categoria .list-view .ecommerce-card {
        /* grid-template-columns: 1fr; */
        overflow: hidden;
        display: grid;
        grid-template-columns: 2fr 2fr !important;
        height: 18rem;
    }

    .listado_categoria .list-view .ecommerce-card .card-body {
        justify-content: center;
        align-items: center;
    display: flex;
    }

    .ecommerce-application .list-view .ecommerce-card .item-img {
        max-height: 15rem;
    }

    .listado_categoria .list-view .ecommerce-card .item-img {
        max-height: 20rem;
    }

    .descrip-card2 {
        overflow: hidden;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .item-name a {
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 0.3rem;
        color: #e34398;
    }

    .item-company {
        display: inline-flex;
        font-weight: 400;
        margin: 0.3rem 0 0.5rem;
        font-size: 0.875rem;
    }

    .img-scalable {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-height: 17rem;
    }

    .item-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
.item-img img{
    width: fit-content;
    display: flex;
}
        .encabezado img{
width: 10rem;
        }
        .salud-img{
display: inline-flex !important;
    width: 21rem !important;
        }
    @media (max-width: 760px) {
                .salud-img{
    width: 8rem !important;
        }
        .encabezado img{
width: 5rem;
        }
        .display-1{
    font-size: calc(1.25rem + 5.7vw);
}
.item-img img{
    width: 8rem;
    
}
.encabezado .text-center{
    padding: 0.91rem;
    display: grid;
    align-content: space-around;
    justify-items: center;
    max-height: 5rem;
}
.encabezado{
    grid-template-columns: 1.2fr 2fr !important;
    max-height: 5.5rem;
}
.encabezadoh4{
    font-size: 0.81rem !important;
}
.otros-img{
max-width: 10rem;
width: 5rem !important;
    height: 5rem !important;
}
        .ecommerce-application .list-view .ecommerce-card {
            /* grid-template-columns: 1fr; */
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 2fr;
            height: 7rem;
        }

        .ecommerce-application .list-view .ecommerce-card .item-img {
            padding-top: 0;
            padding-bottom: 0;
            display: inline-block;
        }

        .ws_link {
            margin-top: 0;
        }

        .ecommerce-application .list-view .ecommerce-card .item-options {
            padding: 0.15rem;
        }

        .font-crece {
            font-size: 1rem !important;
        }

        .item-price {
            font-size: 1rem !important;
        }
           .listado_categoria .list-view .ecommerce-card .item-img {
        max-height: 10rem;
    }
    }
</style>
<script>
    $(document).ready(function () {
console.log('ya se cargo la pagina')
        $('.ws_link').on('click', (e) => {
            console.log(e)
            let ws_proveedor = e.target.dataset['tlf']
            let hoy = moment().format('yyyy-MM-DDThh:mm')
            $('#id_cupon_selected').val(e.target.id)
            $('#fecha_selected').val(hoy)

            Swal.fire({
                title: '¿Seguro desea usar este cupón?',
                text: "Una vez confirmado, ya no podrá volver a usar este cupón!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, usar!'
            }).then((result) => {
                if (result.isConfirmed) {


                    $.ajax({
                        url: `/usar_cupon`,
                        type: 'POST',
                        data: $('#form_cupon_used').serialize(),
                        cache: false,
                        success: function (data, textStatus, jqXHR) {
                            console.log(data)
                            if (data.msg == "USADO") {
                                Swal.fire('Cupon usado porfavor seleccione otro o actualice la página')
                                return
                            }
                            window.location.href = `https://wa.me/55${ws_proveedor}/?text=¡Hola!, Deseo canjear mi cupón 💧BWATER💧`
                        },
                        error: function (jqXHR, textStatus) {
                            console.log('error:' + jqXHR)
                        }
                    });
                }
            })

        })
        $('#Salud_btn').on('click', (e) => {
            Reset(1)
        });
        $('#fit_btn').on('click', (e) => {
            Reset(2);
        });
        $('#btn_belleza').on('click', (e) => {
            Reset(3);
        });
        $('#btn_comida').on('click', (e) => {
            Reset(4);
        });
        $('#btn_otros').on('click', (e) => {
            Reset(5);
        });
        $('#ver_btn_cup').on('click', (e) => {
            Reset(6)
        });

        function Reset(num) {
            $('#knowledge-base-content').fadeOut();

            $('#Salud_list').fadeOut();

            $('#fitness').fadeOut();

            $('#belleza').fadeOut();

            $('#comida').fadeOut();

            $('#otros').fadeOut();

            $('#fitness').fadeOut();
            switch (num) {
                case 1:
                   // $('#Salud_list').fadeIn();
                window.location.href="/cuponera/salud"
                    break;
                case 2:
                    $('#fitness').fadeIn();
                    window.location.href="/cuponera/belleza"
                    break;
                case 3:
                    $('#belleza').fadeIn();
                    window.location.href="/cuponera/fitness"
                    break;
                case 4:
                    $('#comida').fadeIn();
                    window.location.href="/cuponera/comida"
                    break;
                case 5:
                    $('#otros').fadeIn();
                    window.location.href="/cuponera/otros"
                    break;
                case 6:
                    $('#knowledge-base-content').fadeIn();
                    window.location.href="/cuponera"
                    break;
            }
        }
    });
</script>
<div class="app-content content ecommerce-application" style="transition:none; margin-left:1rem; padding: 2rem !important;">
    <div class="content-wrapper container-xxxl p-0">
                    <form method="post" id="form_cupon_used" hidden>
                <input type="text" id="form_id_cliente" value="{{cliente.id}}" name="form_id_cliente">
                <input type="text" id="id_cupon_selected" name="id_cupon_selected">
                <input type="datetime-local" id="fecha_selected" name="fecha_selected">
            </form>
        <div class="content-body">
                {{#if cupon}}

            <section id="knowledge-base-content" class="show listado_categoria">
                <div class="list-view">
                    <!-- sales card -->
 <div class="card encabezado ecommerce-application">
                      <div class="text-center">
                            <img src="../../dataPY4/images/avatar-s-pyt4.jpg" class="card-img-top" />
                        </div>
                        <div class="card-body text-center">
                            <h4 class="encabezadoh4">¡HOLA! {{cliente.firstName}} {{cliente.lastName}}, Bienvenid@ a tus beneficios BWATER</h4>
                            {{!-- <p class="text-body mt-1 mb-0">
                                There is perhaps no better demonstration of the folly of image of our tiny world.
                            </p> --}}
                        </div>
                        
                    </div>
                    <div class="card ecommerce-card" style=" background-color: #011769; cursor:pointer" id="Salud_btn">
                      
                        <div class="card-body text-center">
                            <h4 class="display-1" style="color:white">Salud</h4>
                            {{!-- <p class="text-body mt-1 mb-0">
                                There is perhaps no better demonstration of the folly of image of our tiny world.
                            </p> --}}
                        </div>
 <div class="item-img text-center">
                            <img src="../../../app-assets/images/illustration/salud.png" class="card-img-top salud-img"/>
                        </div>
                    </div>

                    <!-- marketing -->
                    <div class="card ecommerce-card" style=" background-color: #c94095; cursor:pointer"
                        id="btn_belleza">
                         <div class="item-img text-center">
                            <img src="../../../app-assets/images/illustration/belleza 300px.png" class="card-img-top" />
                        </div>
                        <div class="card-body text-center" for="#btn_belleza">
                            <h4 class="display-1" style="color:white">Belleza</h4>
                            {{!-- <p class="text-body mt-1 mb-0">
                                Look again at that dot. That’s here. That’s home. That’s us. On it everyone you love.
                            </p> --}}
                        </div>
                       

                    </div>

                    <!-- api -->


                    <!-- personalization -->
                    <div class="card ecommerce-card" style=" background-color: #0cad64;" id="btn_comida">

                        
                        <div class="card-body text-center">
                            <h4 class="display-1" style="color:white">Comida</h4>
                            {{!-- <p class="text-body mt-1 mb-0">It has been said that astronomy is a humbling and
                                character experience.</p> --}}
                        </div>
<div class="item-img text-center" style="display: flex;justify-content: flex-end;">

                            <img src="../../../app-assets/images/illustration/comida 300px.png" class="card-img-top" style="height: 7rem;"/>
                        </div>
                    </div>

                    <div class="card ecommerce-card" style=" background-color: #2cf2fc;" id="fit_btn">
                        <div class="item-img text-center">

                            <img src="../../../app-assets/images/illustration/fit.png" class="card-img-top" />
                        </div>
                        <div class="card-body text-center">
                            <h4 class="display-1" style="color:white">Fitness</h4>
                            {{!-- <p class="text-body mt-1 mb-0">every hero and coward, every creator and destroyer of
                                civilization.</p> --}}
                        </div>                

                    </div>

                    <!-- email -->
                    <div class="card ecommerce-card" style=" background-color: #a80b62;" id="btn_otros">

                        
                        <div class="card-body text-center">
                            <h4 class="display-1" style="color:white">Otros</h4>
                            {{!-- <p class="text-body mt-1 mb-0">There is perhaps no better demonstration of the folly
                                of human conceits.</p> --}}
                        </div>
<div class="item-img text-center" style="display: flex;justify-content: center; align-items: center;">

                            <img src="../../../app-assets/images/illustration/otros star.png" class="card-img-top otros-img" />

                        </div>
                    </div>
                </div>
                <div class="item-options text-center" style="align-items: center;">
                                   ¿Eres negocio y deseas BENEFICIAR a nuestros consumidores? <a class="btn btn-primary btn-cart waves-effect waves-float waves-light" href="https://wa.me/523329694522/?text=¡Hola!, Soy un negocio y deseo anunciarme" target="_blank">Conectactanos aqui</a>
                                </div>
            </section>
                    {{/if}}

    {{#if cat_salud}}
            <section id="Salud_list" class="show">
                <div class="list-view">
                    <!-- sales card -->
                    {{#each salud as | sal i|}}
                    <div class="col-md-3 col-sm-6 col-12 kb-search-content">
                        <input class="bell{{id}}" value="{{id}}" hidden>
                        <div class="card">
                            <div class="item-img text-center img-scalable">
                                <img src="../../../dataPY4/img_upload/{{img}}" class="img-fluid"
                                    style="height: 17rem;width:100%" />
                            </div>

                            <div class="card-body descrip-card2">
                                <div>
                                    <h6 class="item-name font-crece">
                                        <a class="text-body" href="app-ecommerce-details.html">{{nombre_cupon}}</a>
                                        <span class="card-text item-company">By <a href="#" class="company-name">
                                                {{nombre_proveedor}}</a></span>
                                    </h6>
                                    <p class="card-text item-description font-crece">
                                        {{especial}}
                                    </p>
                                </div>
                                <div class="item-options text-center">
                                    <a class="ws_link btn btn-primary btn-cart waves-effect waves-float waves-light"
                                        id="{{id}}" data-tlf="{{ws_proveedor}}">Usar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
        {{/if}}
        {{#if cat_belleza}}
            <section id="fitness" class="show">
                <div class="row kb-search-content-info match-height">
                    <!-- sales card -->
                    {{#each fitness as | fit i|}}
                    <div class="col-md-3 col-sm-6 col-12 kb-search-content">
                        <input class="bell{{id}}" value="{{id}}" hidden>
                        <div class="card">
                            <div class="item-img text-center img-scalable">
                                <img src="../../../dataPY4/img_upload/{{img}}" class="img-fluid"
                                    style="height: 17rem;width:100%" />
                            </div>

                            <div class="card-body descrip-card2">
                                <div>
                                    <h6 class="item-name font-crece">
                                        <a class="text-body" href="app-ecommerce-details.html">{{nombre_cupon}}</a>
                                        <span class="card-text item-company">By <a href="#" class="company-name">
                                                {{nombre_proveedor}}</a></span>
                                    </h6>
                                    <p class="card-text item-description font-crece">
                                        {{especial}}
                                    </p>
                                </div>
                                <div class="item-options text-center">
                                    <a class="ws_link btn btn-primary btn-cart waves-effect waves-float waves-light"
                                        id="{{id}}" data-tlf="{{ws_proveedor}}">Usar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/if}}
            {{#if cat_fitness}}
            <section id="belleza" class="show">
                <div class="row kb-search-content-info match-height">
                    <!-- sales card -->
                    {{#each belleza as | bel i|}}
                    <div class="col-md-3 col-sm-6 col-12 kb-search-content">
                        <input class="bell{{id}}" value="{{id}}" hidden>
                        <div class="card">
                            <div class="item-img text-center img-scalable">
                                <img src="../../../dataPY4/img_upload/{{img}}" class="img-fluid"
                                    style="height: 17rem;width:100%" />
                            </div>

                            <div class="card-body descrip-card2">
                                <div>
                                    <h6 class="item-name font-crece">
                                        <a class="text-body" href="app-ecommerce-details.html">{{nombre_cupon}}</a>
                                        <span class="card-text item-company">By <a href="#" class="company-name">
                                                {{nombre_proveedor}}</a></span>
                                    </h6>
                                    <p class="card-text item-description font-crece">
                                        {{especial}}
                                    </p>
                                </div>
                                <div class="item-options text-center">
                                    <a class="ws_link btn btn-primary btn-cart waves-effect waves-float waves-light"
                                        id="{{id}}" data-tlf="{{ws_proveedor}}">Usar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/if}}
            {{#if cat_comida}}
            <section id="comida" class="show">
                <div class="row kb-search-content-info match-height">
                    <!-- sales card -->
                    {{#each comida as | com i|}}
                    <div class="col-md-3 col-sm-6 col-12 kb-search-content">
                        <input class="bell{{id}}" value="{{id}}" hidden>
                        <div class="card">
                            <div class="item-img text-center img-scalable">
                                <img src="../../../dataPY4/img_upload/{{img}}" class="img-fluid"
                                    style="height: 17rem;width:100%" />
                            </div>

                            <div class="card-body descrip-card2">
                                <div>
                                    <h6 class="item-name font-crece">
                                        <a class="text-body" href="app-ecommerce-details.html">{{nombre_cupon}}</a>
                                        <span class="card-text item-company">By <a href="#" class="company-name">
                                                {{nombre_proveedor}}</a></span>
                                    </h6>
                                    <p class="card-text item-description font-crece">
                                        {{especial}}
                                    </p>
                                </div>
                                <div class="item-options text-center">
                                    <a class="ws_link btn btn-primary btn-cart waves-effect waves-float waves-light"
                                        id="{{id}}" data-tlf="{{ws_proveedor}}">Usar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/if}}
            {{#if cat_otros}}
            <section id="otros" class="show">
                <div class="row kb-search-content-info match-height">
                    <!-- sales card -->
                    {{#each otros as | otr i|}}
                    <div class="col-md-3 col-sm-6 col-12 kb-search-content">
                        <input class="bell{{id}}" value="{{id}}" hidden>
                        <div class="card">
                            <div class="item-img text-center img-scalable">
                                <img src="../../../dataPY4/img_upload/{{img}}" class="img-fluid"
                                    style="height: 17rem;width:100%" />
                            </div>

                            <div class="card-body descrip-card2">
                                <div>
                                    <h6 class="item-name font-crece">
                                        <a class="text-body" href="app-ecommerce-details.html">{{nombre_cupon}}</a>
                                        <span class="card-text item-company">By <a href="#" class="company-name">
                                                {{nombre_proveedor}}</a></span>
                                    </h6>
                                    <p class="card-text item-description font-crece">
                                        {{especial}}
                                    </p>
                                </div>
                                <div class="item-options text-center">
                                    <a class="ws_link btn btn-primary btn-cart waves-effect waves-float waves-light"
                                        id="{{id}}" data-tlf="{{ws_proveedor}}">Usar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/if}}

        </div>
    </div>
</div>
<!-- END: Content-->