<link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/page-knowledge-base.css">
<script>

$(document).ready(function() {
$('.ws_link').on('click', (e)=>{
    console.log(e)
    let ws_proveedor= e.target.dataset['tlf']
    let hoy= moment().format('yyyy-MM-DDThh:mm')
    $('#id_cupon_selected').val(e.target.id)
    $('#fecha_selected').val(hoy)

    Swal.fire({
  title: '¿Seguro desea usar este cupón?',
  text: "Una vez confirmado, ya no podrá volver a usar este cupón!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Sí, usar!'
}).then((result) => {
  if (result.isConfirmed) {


$.ajax({
  url: `/usar_cupon`,
  type: 'POST',
  data: $('#form_cupon_used').serialize(),
  cache: false,
  success: function (data, textStatus, jqXHR) {
console.log(data)
if (data.msg =="USADO" ){
Swal.fire('Cupon usado porfavor seleccione otro o actualice la página')
    return
}
window.location.href= `https://wa.me/${ws_proveedor}/?text=Buenas, quiero canjear mi cupón BWATER`
  },
  error: function (jqXHR, textStatus) {
    console.log('error:' + jqXHR)
  }
});
  }
})

})
    $('#Salud_btn').on('click', (e)=> {
        Reset(1)
    });
    $('#fit_btn').on('click', (e)=> {
        Reset(2);
    });
    $('#btn_belleza').on('click', (e)=> {
        Reset(3);
    });
    $('#btn_comida').on('click', (e)=> {
        Reset(4);
    });
    $('#btn_otros').on('click', (e)=> {
        Reset(5);
    });
    $('#ver_btn_cup').on('click', (e)=> {
        Reset(6)
    });

    function Reset(num) {
        $('#knowledge-base-content').removeClass('show');
        $('#knowledge-base-content').addClass('collapse');

        $('#Salud_list').removeClass('show');
        $('#Salud_list').addClass('collapse');        

        $('#fitness').removeClass('show');
        $('#fitness').addClass('collapse');
        
        $('#belleza').removeClass('show');
        $('#belleza').addClass('collapse');        

        $('#comida').removeClass('show');
        $('#comida').addClass('collapse');

        $('#otros').removeClass('show');
        $('#otros').addClass('collapse');        

        $('#fitness').removeClass('show');
        $('#fitness').addClass('collapse');
        switch (num){
            case 1:
                $('#Salud_list').removeClass('collapse');
                $('#Salud_list').addClass('show');
            break;
            case 2:
                $('#fitness').removeClass('collapse');
                $('#fitness').addClass('show');
            break;
            case 3:
                $('#belleza').addClass('show');
                $('#belleza').removeClass('collapse');
            break;
             case 4:
                $('#comida').addClass('show');
                $('#comida').removeClass('collapse');
            break;
             case 5:
                $('#otros').addClass('show');
                $('#otros').removeClass('collapse');
            break;
             case 6:
                $('#knowledge-base-content').addClass('show');
                $('#knowledge-base-content').removeClass('collapse');
            break;
        }
    }
});

</script>
<div class="app-content content" style="transition:none">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            
     {{#if cliente}}           
               <form method="post" id="form_cupon_used" hidden>
                <input type="text" id="form_id_cliente" value="{{cliente.id}}" name="form_id_cliente">
                <input type="text" id="id_cupon_selected" name="id_cupon_selected">
                <input type="datetime-local" id="fecha_selected" name="fecha_selected">
               </form>
                   <section id="knowledge-base-content" class="show">
                    <div class="row kb-search-content-info match-height">
                        <!-- sales card -->
                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <div class="card">
                                <a href="#" id="Salud_btn">
                                    <img src="../../../app-assets/images/illustration/salud.png" class="card-img-top"  style="height: 250px;"/>

                                    <div class="card-body text-center">
                                        <h4>Salud</h4>
                                        {{!-- <p class="text-body mt-1 mb-0">
                                            There is perhaps no better demonstration of the folly of image of our tiny world.
                                        </p> --}}
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- marketing -->
                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <div class="card">
                                <a href="#" id="btn_belleza">
                                    <img src="../../../app-assets/images/illustration/belleza.jpg" class="card-img-top" style="height: 250px;"/>
                                    <div class="card-body text-center">
                                        <h4>Belleza</h4>
                                        {{!-- <p class="text-body mt-1 mb-0">
                                            Look again at that dot. That’s here. That’s home. That’s us. On it everyone you love.
                                        </p> --}}
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- api -->
                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <div class="card">
                                <a href="#" id="fit_btn">
                                    <img src="../../../app-assets/images/illustration/fitness.jpg" class="card-img-top" style="height: 250px;"  />
                                    <div class="card-body text-center">
                                        <h4>Fitness</h4>
                                        {{!-- <p class="text-body mt-1 mb-0">every hero and coward, every creator and destroyer of civilization.</p> --}}
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- personalization -->
                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <div class="card">
                                <a href="#" id="btn_comida">
                                    <img src="../../../app-assets/images/illustration/comida.png" class="card-img-top" style="height: 250px;" />
                                    <div class="card-body text-center">
                                        <h4>Comida</h4>
                                        {{!-- <p class="text-body mt-1 mb-0">It has been said that astronomy is a humbling and character experience.</p> --}}
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- email -->
                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <div class="card">
                                <a href="#" id="btn_otros">
                                    <img src="../../../app-assets/images/illustration/otros.jpg" class="card-img-top" style="height: 250px;"  />
                                    <div class="card-body text-center">
                                        <h4>Otros</h4>
                                        {{!-- <p class="text-body mt-1 mb-0">There is perhaps no better demonstration of the folly of human conceits.</p> --}}
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- demand -->
                        {{!-- <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <div class="card">
                                <a href="#">
                                    <img src="../../../app-assets/images/illustration/demand.svg" class="card-img-top" alt="knowledge-base-image" />
                                    <div class="card-body text-center">
                                        <h4>Demand Generation</h4>
                                        <p class="text-body mt-1 mb-0">Competent means we will never take anything for granted.</p>
                                    </div>
                                </a>
                            </div>
                        </div> --}}

                    </div>
                </section>
                <section id="Salud_list" class="collapse">
                    <div class="row kb-search-content-info match-height">
                        <!-- sales card -->
                        {{#each salud as | sal i|}}


                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <input class="bell{{id}}" value="{{id}}" hidden>
                            <div class="card">
                                <a href="#">
                                    <img src="../../../dataPY4/img_upload/{{img}}" class="card-img-top"  style="height: 250px;"/>

                                    <div class="card-body text-center">
                                        <h4>Salud</h4>
                                        <p class="text-body mt-1 mb-0">
                                            <a  class="ws_link" id="{{id}}" data-tlf="{{ws_proveedor}}">Usar este cupón </a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
                <section id="fitness" class="collapse">
                    <div class="row kb-search-content-info match-height">
                        <!-- sales card -->
                        {{#each fitness as | fit i|}}
                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <input class="bell{{id}}" value="{{id}}" hidden>
                            <div class="card">
                                <a href="#">
                                    <img src="../../../dataPY4/img_upload/{{img}}" class="card-img-top"  style="height: 250px;"/>

                                    <div class="card-body text-center">
                                        <h4>Fitness</h4>
                                         <p class="text-body mt-1 mb-0">
                                            <a  class="ws_link" id="{{id}}" data-tlf="{{ws_proveedor}}">Usar este cupón </a>
                                        </p> 
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
                <section id="belleza" class="collapse">
                    <div class="row kb-search-content-info match-height">
                        <!-- sales card -->
                        {{#each belleza as | bel i|}}
                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <input class="bell{{id}}" value="{{id}}" hidden>
                            <div class="card">
                                <a href="#">
                                    <img src="../../../dataPY4/img_upload/{{img}}" class="card-img-top"  style="height: 250px;"/>

                                    <div class="card-body text-center">
                                        <h4>Belleza</h4>
                                        <p class="text-body mt-1 mb-0">
                                            <a  class="ws_link" id="{{id}}" data-tlf="{{ws_proveedor}}">Usar este cupón </a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
                 <section id="comida" class="collapse">
                    <div class="row kb-search-content-info match-height">
                        <!-- sales card -->
                        {{#each comida as | com i|}}
                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <input class="bell{{id}}" value="{{id}}" hidden>
                            <div class="card">
                                <a href="#">
                                    <img src="../../../dataPY4/img_upload/{{img}}" class="card-img-top"  style="height: 250px;"/>

                                    <div class="card-body text-center">
                                        <h4>Comida</h4>
                                        <p class="text-body mt-1 mb-0">
                                            <a  class="ws_link" id="{{id}}" data-tlf="{{ws_proveedor}}">Usar este cupón </a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
                 <section id="otros" class="collapse">
                    <div class="row kb-search-content-info match-height">
                        <!-- sales card -->
                        {{#each otros as | otr i|}}
                        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
                            <input class="bell{{id}}" value="{{id}}" hidden>
                            <div class="card">
                                <a href="#">
                                    <img src="../../../dataPY4/img_upload/{{img}}" class="card-img-top"  style="height: 250px;"/>

                                    <div class="card-body text-center">
                                        <h4>Otros</h4>
                                        <p class="text-body mt-1 mb-0">
                                            <a  class="ws_link" id="{{id}}" data-tlf="{{ws_proveedor}}">Usar este cupón </a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
                {{else}}
                <div class="card-body">
                    no
                </div>
                {{/if}}
            
        </div>
    </div>
</div>
<!-- END: Content-->