<style>
  .none {
    display: none;
  }
</style>

{{#if msg}}
<label id="msgs">{{msg}}</label>
{{/if}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function () {

        $('.odd').addClass('dt-head-center');
        $('.even').addClass('dt-head-center');
        fecha_corte = new DateTime($('#fecha_corte'), {
            format: 'DD/MM/YYYY'
        });


        $('#btnGraficos').on('click', (e) => {
            Reset(1)
        });
        $('#btnGastos').on('click', (e) => {
            Reset(2);
        });

        function Reset(num) {
            $('#graficosReportes').removeClass('show');
            $('#graficosReportes').addClass('collpase');

            $('#gastos').removeClass('show');
            $('#gastos').addClass('collpase');

            switch (num) {
                case 1:
                    $('#graficosReportes').removeClass('collpase');
                    $('#graficosReportes').addClass('show');
                    break;
                case 2:
                    $('#gastos').removeClass('collpase');
                    $('#gastos').addClass('show');
                    break;
                
            }
        }
    });

</script>
<input id="filterPosition" type="text" hidden>
<input id="filterValue" type="text" hidden>
<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-wrapper">
      <div class="content-body">
        <div class="row" id="selectores">
                <div class="col-12">
                    <div class="card card-statistics">
                        <div class="card-body statistics-body">
                            <div class="row">
                                <span id="p1" class="d-none">ss</span>
                                <div class="col-sm-12">
                                </div>

                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-2 mb-xl-0" id="btnGraficos"
                                    type="button" data-bs-toggle="collapse" href="#pedidostable" aria-expanded="false">
                                    <div class="d-flex flex-row">
                                        <div class="avatar bg-light-primary me-2">
                                            <div class="avatar-content">
                                                <i data-feather='clipboard'
                                                    class="feather feather-trending-up text-primary avatar-icon"></i>
                                            </div>
                                        </div>
                                        <div class="my-auto">
                                            <h4 class="fw-bolder mb-0">Graficos Reporte</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-2 mb-xl-0" id="btnGastos"
                                    type="button" data-bs-toggle="collapse" href="#prestadostable" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    <div class="d-flex flex-row">
                                        <div class="avatar bg-light-warning me-2">
                                            <div class="avatar-content">
                                                <i data-feather='info'
                                                    class="feather feather-trending-up  avatar-icon"></i>
                                            </div>
                                        </div>
                                        <div class="my-auto">
                                            <h4 class="fw-bolder mb-0">Gastos</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="card collapse" id="graficosReportes">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-6 col-md-3 mb-1">
                    <label class="form-label">Fecha desde</label>
                    <input type="text" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                  </div>
                  <div class="col-6 col-md-3 mb-1">
                    <label class="form-label">Fecha hasta</label>
                    <input type="text" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                  </div>
                  <div class="col-6 col-md-3 mb-1">
                    <label class="form-label">Zona</label>
                    <div class="position-relative" data-select2-id="45">
                      <select class="select2 form-select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option value="">Seleccionar Zona</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6 col-md-3 mb-1">
                    <label class="form-label">Chofer</label>
                    <select type="text" class="form-control select2"></select>
                  </div>
                  <div class="col-6 col-md-3 mb-1">
                    <label class="form-label">Cantidad Pedidos</label>
                    <input type="number" class="form-control" placeholder="1">
                  </div>
                  <div class="col-6 col-md-3 mb-1">
                    <label class="form-label">Cantidad Garrafones</label>
                    <input type="number" class="form-control" placeholder="1">
                  </div>
                  <div class="col-6 col-md-3 mb-1">
                    <label class="form-label">Categorías</label>
                    <select type="text" class="form-control select2">
                      <option value="">Seleccionar Categoría</option>
                      <option value="">Refil</option>
                      <option value="">Canje</option>
                      <option value="">Nuevo</option>
                      <option value="">Obsequio</option>
                    </select>
                  </div>
                  <div class="col-6 col-md-3 mb-1 d-flex align-items-end">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="clientesNuevos" value="checked">
                        <label class="form-check-label mb-1" for="clientesNuevos">Clientes Nuevos</label>
                    </div>
                  </div>
                  <div class="col-6 col-md-3 d-none">
                    <div class="btn-group">
                      <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#ventasGrap" id="btnVentasCol">Ventas</button>
                      <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#transferenciasGrap" id="btnTransferenciasCol">Transferencias</button>
                      <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#globalGrap" id="btnGlobalCol">Global</button>
                    </div>
                  </div>

                  {{!<button id="btn">Reset</button>}}
                </div>
              </div>
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-8" id="ventasGrap">
                    <div id="chart"></div>
                  </div>
                  <div class="col-12 my-3 collapse" id="transferenciasGrap">
                    <div id="chart2"></div>
                  </div>
                  <div class="col-12 collapse" id="globalGrap">
                    <div id="chart3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card collapse show" id="gastos">
                <div class="card-body">
                    <h4 class="card-title">Gastos</h4>
                    <p class="card-text"> Ver gastos y agregos nuevos.</p>
                </div>
                <div class="scrolling-inside-modal">
                <button type="button" class="btn btn-outline-primary text-primary waves-effect mb-2"
                  data-bs-toggle="modal" data-bs-target="#addGasto_modal">
                  Agregar
                </button>
              </div>
                <section id="column-search-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card">
                                    <table class="datatables-basic table dt-column-search table-responsive"  id="gastosTableDt">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tipo</th>
                                                <th>Personal</th>
                                                <th>Monto</th>
                                                <th>Fecha</th>
                                                <th>Sucursal</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="modal fade" id="addGasto_modal" tabindex="-1" aria-labelledby="addGasto_modalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGasto_modalTitle">Gastos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation was-validated" id="gastoForm">
                    <input type="hidden" class="form-control" id="idGasto" name="idGasto" />
                     <div class="form-group ">
                        <label for="register-ciudad" class="form-label">Seleccione una zona</label>
                        <select name="zona" placeholder="zona" aria-describedby="register-ciudad" tabindex="3"
                            class="form-control mb-2 zona_reg_modal_pedido" id='zona'>
                            <option selected value="">Seleccione una zona</option>
                            {{#each sucursales_let as |sucursal i |}}
                            <option value="{{id}}">{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="register-ciudad" class="form-label">Seleccione una categoria</label>
                        <select name="categoria" placeholder="categoria"  class="form-control mb-2" id='categoria'>
                            <option default value="default">Seleccione una categoria</option>
                            <option value="NOMINA">NOMINA</option>
                            <option value="LUZ 1">LUZ 1</option>
                            <option value="LUZ 2">LUZ 2</option>
                            <option value="PIPA">PIPA</option>
                            <option value="TAPAS">TAPAS</option>
                            <option value="GARRAFONES">GARRAFONES</option>
                            <option value="SELLOS BWATER">SELLOS BWATER</option>
                            <option value="RENTA CAM 1">RENTA CAM 1</option>
                            <option value="RENTA CAM 2">RENTA CAM 2</option>
                            <option value="RENTA CAM 3">RENTA CAM 3</option>
                            <option value="MATRIZ RENTA">MATRIZ RENTA</option>
                            <option value="ADAMAR RENTA">ADAMAR RENTA</option>
                            <option value="GAS 1">GAS 1</option>
                            <option value="GAS 2">GAS 2</option>
                            <option value="GAS 3">GAS 3</option>
                            <option value="GAS 4">GAS 4</option>
                            <option value="GAS 5">GAS 5</option>
                            <option value="GAS 6">GAS 6</option>
                            <option value="BONOS">BONOS</option>
                            <option value="PRESTAMO BANCO">PRESTAMO BANCO</option>
                            <option value="PRESTAMO YOTE">PRESTAMO YOTE</option>
                            <option value="PRESTAMO">PRESTAMO</option>
                            <option value="ADMINISTRATIVO">ADMINISTRATIVO</option>
                            <option value="REGALO EMPLEADOS">REGALO EMPLEADOS</option>
                            <option value="RACKS">RACKS</option>
                            <option value="LIMPIEZA">LIMPIEZA</option>
                            <option value="HIPOCLORITO Y MAS">HIPOCLORITO Y MAS</option>
                            <option value="MECANICO">MECANICO</option>
                            <option value="MANTENIMIENTO">MANTENIMIENTO</option>
                            <option value="REFACCIONES">REFACCIONES</option>
                            <option value="OTROS">OTROS</option>
                        </select>
                    </div>
                    <div class="form-group d-none" id="personalList">
                        <label for="register-ciudad" class="form-label">Seleccione un personal</label>
                        <select name="personal" placeholder="personal" aria-describedby="register-ciudad" tabindex="3"
                            class="form-control mb-2 personal_reg_modal_pedido" id='personal'>
                            <option selected value="">Seleccione un personal</option>
                            {{#each personalList as |personal i |}}
                            <option value="{{id}}">{{name}} {{lastName}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group"><label for="register-firstName" class="form-label">Fecha:</label>
                        <input type="date" name="fecha" tabindex="1"
                            class="form-control flatpickr-basic flatpickr-input mb-2" id="fecha">
                    </div>
                    <div class="form-group"><label for="register-firstName" class="form-label">Monto:</label>
                        <input type="number" name="monto_gastos" class="form-control mb-2" id="monto_gastos">
                    </div>
                    <div class="form-group"><label for="register-firstName" class="form-label">Observación</label>
                        <input type="text" name="observacion" placeholder="Observación" class="form-control mb-2"
                            id="observacion">
                    </div>
                  <div class="modal-footer">
                <button tabindex="26" class="btn btn-primary btn-block waves-effect waves-float waves-light"
                    type="button" id="saveGasto">Guardar</button>
            </div>
            </form>  
            </div>
            
        </div>
    </div>
</div>
            </div>
      </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>

  let ventasChart;
  let optionsVentasChart, interval;

  function CheckClearLoad() {
    if(document.readyState === "complete") {
      fetch('/obetenerdatosgeneralesreportes')
        .then(response => response.json())
        .then(data => {
          let pedidos = data.pedidos, transferencias = 0, deudores = 0, ventasG = data.ventasGlobal[0], clientes = data.clientes, clientesNuevos = 0, totalVentas = 0, totalCanje = 0, totalRefil = 0, totalGarraf = 0
          
          pedidos.forEach(pedido => {
            if(pedido.metodo_pago === "Deposito" || pedido.metodo_pago === "Transferencia") {
              transferencias++;
            }
            if(pedido.status_pago === "Por verificar" && pedido.status_pedido === "Entregado") {
              deudores++;
            }
          });

          ventasG.forEach(venta => {
            totalVentas += parseInt(venta.monto_total);
           ///console.log(parseInt(venta.monto_total));
            totalGarraf += parseInt(venta.total_garrafones_pedido);
            totalRefil += parseInt(venta.total_refill_pedido);
            totalCanje += parseInt(venta.total_canje_pedido);
          });

          clientes.forEach(cliente => {
            if(cliente.nuevo === "SI") {
              clientesNuevos++;
            }
          });

          optionsVentasChart = {
            series: [totalVentas, totalGarraf, totalRefil, clientesNuevos, totalCanje, transferencias, deudores],
            chart: {
              width: '90%',
              type: 'donut',
            },
            labels: ['T. Ventas', 'T. Garrafones Vendidos', 'T. Refil Vendidos', 'T. Canje Vendidos', 'T. Clientes Nuevos', 'T. Trasnferencias', 'T. Deudores'],
            dataLabels: {
              enabled: false,
              textAnchor: 'middle'
            },
            responsive: [{
              breakpoint: 568,
              options: {
                chart: {
                  width: '100%'
                },
                /*plotOptions: {
                  pie: {
                    donut: {
                      labels: {
                        show: false,
                      }
                    },
                  }
                }*/
              },
            }],
            legend: {
              position: 'top',
              offsetY: 0,
              height: 50,
            },
            plotOptions: {
              pie: {
                donut: {
                  labels: {
                    show: true,
                  }
                },
              
              }
            }
          };
          
          ventasChart = new ApexCharts(document.querySelector("#chart"), optionsVentasChart);
          ventasChart.render();
        });
      clearInterval(interval)
    }
  }

  interval = setInterval(CheckClearLoad, 500);

  //let chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
  //let chart3 = new ApexCharts(document.querySelector("#chart3"), options);
  //chart2.render();
  //chart3.render();
  //chart.updateSeries(appendData())

  function reset() {
    return optionsVentasChart.series
  }

  function appendData(total) {
    let arr = chart.w.globals.series.slice()
    arr.push(total)
    return arr;
  }
  
  function removeData() {
    var arr = chart.w.globals.series.slice()
    arr.pop()
    return arr;
  }
  
  function randomize() {
    return chart.w.globals.series.map(function() {
        return Math.floor(Math.random() * (100 - 1 + 1)) + 1
    })
  }

  /*let options2 = {
    chart: {
      height: 400,
      type: 'bar',
      events: {
        click: function(chart, w, e) {
          // console.log(chart, w, e)
        }
      }
    },
    series: [{
      data: [21, 22, 10, 28, 16, 21, 13, 30]
    }],
    colors: ["#ff9f43"],
    plotOptions: {
      bar: {
        columnWidth: '45%',
        distributed: true,
      }
    },
    dataLabels: {
      enabled: false
    },
    legend: {
      show: true
    },
    xaxis: {
      categories: [
        ['John', 'Doe'],
        ['Joe', 'Smith'],
        ['Jake', 'Williams'],
        'Amber',
        ['Peter', 'Brown'],
        ['Mary', 'Evans'],
        ['David', 'Wilson'],
        ['Lily', 'Roberts'], 
      ],
      labels: {
        show: false,
        style: {
          colors: ["#ff9f43"],
          fontSize: '12px'
        }
      }
    }
  };*/
  
  // BAR GRAP
  /*let columnChartEl = document.querySelector('#chart3'),
  columnChartConfig = {
    chart: {
      height: 400,
      type: 'bar',
      stacked: true,
      parentHeightOffset: 0,
      toolbar: {
        show: false
      }
    },
    plotOptions: {
      bar: {
        columnWidth: '15%',
        colors: {
          backgroundBarColors: [
            '#333'
          ],
          backgroundBarRadius: 10
        }
      }
    },
    dataLabels: {
      enabled: false
    },
    legend: {
      show: true,
      position: 'top',
      horizontalAlign: 'start'
    },
    colors: ['red'],
    stroke: {
      show: true,
      colors: ['transparent']
    },
    grid: {
      xaxis: {
        lines: {
          show: true
        }
      }
    },
    series: [
      {
        name: 'Apple',
        data: [90, 120, 55, 100, 80, 125, 175, 70, 88, 180]
      },
      {
        name: 'Samsung',
        data: [85, 100, 30, 40, 95, 90, 30, 110, 62, 20]
      }
    ],
    xaxis: {
      categories: ['7/12', '8/12', '9/12', '10/12', '11/12', '12/12', '13/12', '14/12', '15/12', '16/12']
    },
    fill: {
      opacity: 1
    },
    yaxis: {
      //opposite: isRtl
    }
  };
  
  if (typeof columnChartEl !== undefined && columnChartEl !== null) {
    var columnChart = new ApexCharts(columnChartEl, columnChartConfig);
    columnChart.render();
  }*/

</script>