<style>
  .none {
    display: none;
  }
</style>

{{#if msg}}
<label id="msgs">{{msg}}</label>
{{/if}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {

    $('.odd').addClass('dt-head-center');
    $('.even').addClass('dt-head-center');

    $('#fecha_inicio,#fDesde').flatpickr({
      mode: 'single',
      format: 'YYYY-MM-DD',
      //defaultDate: "today",
    });
    $('#fecha_fin,#dHasta').flatpickr({
      mode: 'single',
      format: 'YYYY-MM-DD',
      //defaultDate: "today",
    });


    $('#btnGraficos').on('click', (e) => {
      Reset(1)
    });
    $('#btnGastos').on('click', (e) => {
      Reset(2);
    });
    $('#btnIngresos').on('click', (e) => {
      Reset(3);
    });

    function Reset(num) {
      $('#graficosReportes').removeClass('show');
      $('#graficosReportes').addClass('collpase');

      $('#gastos').removeClass('show');
      $('#gastos').addClass('collpase');
      $('#ingresos').removeClass('show');
      $('#ingresos').addClass('collpase');
      switch (num) {
        case 1:
          $('#graficosReportes').removeClass('collpase');
          $('#graficosReportes').addClass('show');
          break;
        case 2:
          $('#gastos').removeClass('collpase');
          $('#gastos').addClass('show');
          break;
        case 3:
          $('#ingresos').removeClass('collpase');
          $('#ingresos').addClass('show');
          break;
      }
    }
  });

</script>
<input id="filterPosition" type="text" hidden>
<input id="filterValue" type="text" hidden>
<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-wrapper">
    <div class="content-body">
      <div class="row" id="selectores">
        <div class="col-12">
          <div class="card card-statistics">
            <div class="card-body statistics-body">
              <div class="row">
                <span id="p1" class="d-none">ss</span>
                <div class="col-sm-12">
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-2 mb-xl-0" id="btnIngresos" type="button"
                  data-bs-toggle="collapse" href="#" aria-expanded="false">
                  <div class="d-flex flex-row">
                    <div class="avatar bg-light-primary me-2">
                      <div class="avatar-content">
                        <i data-feather='award' class="feather feather-trending-up text-primary avatar-icon"></i>
                      </div>
                    </div>
                    <div class="my-auto">
                      <h4 class="fw-bolder mb-0">Ingresos</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-2 mb-xl-0" id="btnGraficos" type="button"
                  data-bs-toggle="collapse" href="#" aria-expanded="false">
                  <div class="d-flex flex-row">
                    <div class="avatar bg-light-primary me-2">
                      <div class="avatar-content">
                        <i data-feather='clipboard' class="feather feather-trending-up text-primary avatar-icon"></i>
                      </div>
                    </div>
                    <div class="my-auto">
                      <h4 class="fw-bolder mb-0">Graficos Reporte</h4>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-2 mb-xl-0" id="btnGastos" type="button"
                  data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                  <div class="d-flex flex-row">
                    <div class="avatar bg-light-warning me-2">
                      <div class="avatar-content">
                        <i data-feather='info' class="feather feather-trending-up  avatar-icon"></i>
                      </div>
                    </div>
                    <div class="my-auto">
                      <h4 class="fw-bolder mb-0">Gastos</h4>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-body collapse show" id="ingresos">
        <section id="column-search-datatable">
          <div class="row match-height py4 justify-content-lg-start justify-content-center">
            <div class="col-12 col-lg-4">
              <div class="card card-congratulation mx-auto m-lg-0">
                <div class="card-body text-center" id="btnGral" data-bs-toggle="collapse" href="#total" role="button"
                  aria-expanded="false" aria-controls="total">
                  <div class="avatar avatar-xl bg-light shadow">
                    <div class="avatar-content">
                      <i data-feather="award" class="font-large-1 text-primary"></i>
                    </div>
                  </div>
                  <div>
                    <h1 class="my-1 text-white text-center">Ganancias</h1>
                    <p class="card-text mb-1">Ingresos: <strong id="ingresosT"></strong></p>
                    <p class="card-text mb-1">Gastos: <strong id="gastosT"></strong></p>
                    <p class="card-text"> Ganancias: <strong id="gananciasT"></strong></p>
                  </div>
                  {{#if admin}}
                  <div class="col">
                    <label class="card-text mt-2 text-white w-100">Fecha: <strong id="fechaT"></strong></label>
                    <div class="mb-0 d-flex">
                      <input type="text" class="form-control mx-auto flatpickr-range dt-input" name="start_date"
                        placeholder="Cambiar fecha" id="fecha_inicio"
                        onchange="pedidosbyDay($('#fecha_fin').val(), this.value)" />
                      <input type="text" class="form-control mx-auto flatpickr-range dt-input" name="end_date"
                        placeholder="Cambiar fecha" id="fecha_fin"
                        onchange="pedidosbyDay(this.value,$('#fecha_inicio').val())" />
                    </div>
                  </div>
                  {{/if}}
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-8" id="gananciasChart">
              <div class="d-block mx-auto w-100" style="max-width: 500px;">
                <div id="chart5"></div>

              </div>
            </div>
          </div>

        </section>
      </div>


    </div>
    <div class="card collapse" id="graficosReportes">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6 col-md-3 mb-1">
                <label class="form-label">Fecha desde</label>
                <input type="text" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD"
                  id="fDesde" value="">
              </div>
              <div class="col-6 col-md-3 mb-1">
                <label class="form-label">Fecha hasta</label>
                <input type="text" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD"
                  id="dHasta" value="">
              </div>
              <div class="col-6 col-md-3 mb-1">
                <label class="form-label">Zona</label>
                <div class="position-relative" data-select2-id="45">
                  <select class="select2 form-select select2-hidden-accessible" tabindex="-1" aria-hidden="true"
                    id="selectZona">
                    <option value="0" selected>Todas</option>
                    {{#each sucursales_let as |sucursal i |}}
                    <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-6 col-md-3 mb-1">
                <label class="form-label">Chofer</label>
                <select type="text" class="form-control select2" id="selectChofer">
                  <option value="0" selected>Todos</option>
                  {{#each choferes_ as |chofer i |}}
                  <option data-id="{{id}}" value="{{id}}">{{name}} {{lastName}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-6 col-md-3 mb-1">
                <label class="form-label">Cantidad Pedidos</label>
                <input type="number" class="form-control" placeholder="1" id="cantPedidos" value="0">
              </div>
              <div class="col-6 col-md-3 mb-1">
                <label class="form-label">Cantidad Garrafones</label>
                <input type="number" class="form-control" placeholder="1" id="cantGarrafones" value="0">
              </div>
              <div class="col-6 col-md-3 mb-1">
                <label class="form-label">Categorías</label>
                <select type="text" class="form-control select2" id="selectCategoria">
                  <option value="0">Todas</option>
                  <option value="Refil">Refil</option>
                  <option value="Canje">Canje</option>
                  <option value="Nuevo">Nuevo</option>
                  <option value="Obsequio">Obsequio</option>
                </select>
              </div>
              <div class="col-6 col-md-3 mb-1 d-flex align-items-end">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="clientesNuevosChk" value="checked">
                  <label class="form-check-label mb-1" for="clientesNuevosChk">Clientes Nuevos</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="clientesChk" value="ventas">
                  <label class="form-check-label mb-1" for="clientesChk">Clientes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="ventasChk" value="ventas" checked>
                  <label class="form-check-label mb-1" for="ventasChk">Ventas</label>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" id="btnFiltrar">Filtrar</button>
                  <button type="button" class="btn btn-primary  d-none" data-bs-toggle="collapse"
                    data-bs-target="#transferenciasGrap" id="btnTransferenciasCol">Transferencias</button>
                  <button type="button" class="btn btn-primary  d-none" data-bs-toggle="collapse"
                    data-bs-target="#globalGrap" id="btnGlobalCol">Global</button>
                </div>
              </div>

              {{!<button id="btn">Reset</button>}}
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 show" id="ventasGrap">
                <div id="chart"></div>
              </div>
              <div class="col-12 my-3 collapse" id="transferenciasGrap">
                <div id="chart2"></div>
              </div>
              <div class="col-12 collapse" id="globalGrap">
                <div id="chart3"></div>
              </div>
              <div class="col-12 col-lg-8 collapse" id="gastosGrap">
                <div id="chart4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--MODULO GASTOS-->
    <div class="card collapse" id="gastos">
      <div class="card-body">
        <h4 class="card-title">Gastos</h4>
        <p class="card-text"> Ver gastos y agregos nuevos.</p>
        <div class="scrolling-inside-modal">
          <button type="button" class="btn btn-outline-primary text-primary waves-effect mb-2" data-bs-toggle="modal"
            data-bs-target="#addGasto_modal">
            Agregar
          </button>
        </div>
      </div>
      <section id="column-search-datatable">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="table-responsive">
                <table class="table" id="gastosTableDt">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tipo</th>
                      <th>Personal</th>
                      <th>Monto</th>
                      <th>Fecha</th>
                      <th>Sucursal</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th colspan="2" style="text-align:right"> Total</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>

                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>


      </section>
      <!--MODAL GUARDAR GASTOS-->
      <div class="modal fade" id="addGasto_modal" tabindex="-1" aria-labelledby="addGasto_modalTitle"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addGasto_modalTitle">Gastos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation was-validated" id="gastoForm">
                <input type="hidden" class="form-control" id="idGasto" name="idGasto" />
                <div class="d-none">
                  <label for="register-ciudad" class="form-label">Seleccione una zona</label>
                  <select name="zona" placeholder="zona" aria-describedby="register-ciudad" tabindex="3"
                    class="form-control mb-2 zona_reg_modal_pedido" id='zona'>
                    <option selected value="1">Seleccione una zona</option>
                    {{#each sucursales_let as |sucursal i |}}
                    <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group">
                  <label for="register-ciudad" class="form-label">Seleccione una categoria</label>
                  <select name="categoria" placeholder="categoria" class="form-control mb-2" id='categoria'>
                    <option default value="default">Seleccione una categoria</option>
                    <option value="NOMINA">NOMINA</option>
                    <option value="LUZ 1">LUZ 1</option>
                    <option value="LUZ 2">LUZ 2</option>
                    <option value="PIPA">PIPA</option>
                    <option value="TAPAS">TAPAS</option>
                    <option value="GARRAFONES">GARRAFONES</option>
                    <option value="SELLOS BWATER">SELLOS BWATER</option>
                    <option value="RENTA CAM 1">RENTA CAM 1</option>
                    <option value="RENTA CAM 2">RENTA CAM 2</option>
                    <option value="RENTA CAM 3">RENTA CAM 3</option>
                    <option value="MATRIZ RENTA">MATRIZ RENTA</option>
                    <option value="ADAMAR RENTA">ADAMAR RENTA</option>
                    <option value="GAS 1">GAS 1</option>
                    <option value="GAS 2">GAS 2</option>
                    <option value="GAS 3">GAS 3</option>
                    <option value="GAS 4">GAS 4</option>
                    <option value="GAS 5">GAS 5</option>
                    <option value="GAS 6">GAS 6</option>
                    <option value="BONOS">BONOS</option>
                    <option value="PRESTAMO BANCO">PRESTAMO BANCO</option>
                    <option value="PRESTAMO YOTE">PRESTAMO YOTE</option>
                    <option value="PRESTAMO">PRESTAMO</option>
                    <option value="ADMINISTRATIVO">ADMINISTRATIVO</option>
                    <option value="REGALO EMPLEADOS">REGALO EMPLEADOS</option>
                    <option value="RACKS">RACKS</option>
                    <option value="LIMPIEZA">LIMPIEZA</option>
                    <option value="HIPOCLORITO Y MAS">HIPOCLORITO Y MAS</option>
                    <option value="MECANICO">MECANICO</option>
                    <option value="MANTENIMIENTO">MANTENIMIENTO</option>
                    <option value="REFACCIONES">REFACCIONES</option>
                    <option value="OTROS">OTROS</option>
                  </select>
                </div>
                <div class="form-group d-none" id="personalList">
                  <label for="register-ciudad" class="form-label">Seleccione un personal</label>
                  <select name="personal" placeholder="personal" aria-describedby="register-ciudad" tabindex="3"
                    class="form-control mb-2 personal_reg_modal_pedido" id='personal'>
                    <option selected value="">Seleccione un personal</option>
                    {{#each personalList as |personal i |}}
                    <option value="{{id}}">{{name}} {{lastName}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group"><label for="register-firstName" class="form-label">Fecha:</label>
                  <input type="date" name="fecha" tabindex="1" class="form-control flatpickr-basic flatpickr-input mb-2"
                    id="fecha">
                </div>
                <div class="form-group"><label for="register-firstName" class="form-label">Monto:</label>
                  <input type="number" name="monto_gastos" class="form-control mb-2" id="monto_gastos">
                </div>
                <div class="form-group"><label for="register-firstName" class="form-label">Observación</label>
                  <input type="text" name="observacion" placeholder="Observación" class="form-control mb-2"
                    id="observacion">
                </div>
                <div class="modal-footer">
                  <button tabindex="26" class="btn btn-primary btn-block waves-effect waves-float waves-light"
                    type="button" id="saveGasto">Guardar</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>

  let ventasChart, newChart;
  let optionsVentasChart, interval;
  let optionsGastosChart;

  $('#btnFiltrar').on('click', (e) => {

    if ($('#ventasChk').is(':checked') && $('#selectZona').val() == 0 && $('#selectChofer').val() == 0 && $('#cantGarrafones').val() == 0 ) {
      ventasXfecha($('#fDesde').val(), $('#dHasta').val());//TODAS LAS ZONAS Y CHOFERES
      return
    }
    if ($('#ventasChk').is(':checked') && $('#selectZona').val() > 0 && $('#selectChofer').val() == 0 && $('#cantGarrafones').val() == 0 ) {
      ventasXfecha($('#fDesde').val(), $('#dHasta').val(), $('#selectZona').val());//SOLO ZONA
      return
    }

    if ($('#ventasChk').is(':checked') && $('#selectZona').val() > 0 && $('#selectChofer').val() > 0 && $('#cantGarrafones').val() == 0 ) {
      console.log($('#selectZona').val())
      ventasXfecha($('#fDesde').val(), $('#dHasta').val(), $('#selectZona').val(), $('#selectChofer').val());//ZONA Y CHOFER
      return
    }

    if ($('#ventasChk').is(':checked') && $('#selectZona').val() == 0 && $('#selectChofer').val() > 0 && $('#cantGarrafones').val() == 0 ) {
      ventasXfecha($('#fDesde').val(), $('#dHasta').val(), null, $('#selectChofer').val());//SOLO CHOFER
      return
    }
    if ($('#ventasChk').is(':checked') && $('#selectZona').val() == 0 && $('#selectChofer').val() == 0 && $('#cantGarrafones').val() > 0) {
      ventasXfecha($('#fDesde').val(), $('#dHasta').val(), null, null, $('#cantGarrafones').val());//garrafones
      return
    }

    if ($('#ventasChk').is(':checked') && $('#selectZona').val() > 0 && $('#selectChofer').val() == 0 && $('#cantGarrafones').val() > 0) {
      ventasXfecha($('#fDesde').val(), $('#dHasta').val(), $('#selectZona').val(), null, $('#cantGarrafones').val()); //garrafones+zona
      return
    }
    if ($('#ventasChk').is(':checked') && $('#selectZona').val() > 0 && $('#selectChofer').val() > 0 && $('#cantGarrafones').val() > 0) {
      ventasXfecha($('#fDesde').val(), $('#dHasta').val(), $('#selectZona').val(), $('#selectChofer').val(), $('#cantGarrafones').val());//garrafones+zona+chofer
      return
    }
  });



  $('#btngastosG').on('click', (e) => {
    CollapseGraf(2);
  });

  function CollapseGraf(num) {
    $('#ventasGrap').removeClass('show');
    $('#ventasGrap').addClass('collapse');

    $('#gastosGrap').removeClass('show');
    $('#gastosGrap').addClass('collapse');

    switch (num) {
      case 1:
        $('#ventasGrap').removeClass('collapse');
        $('#ventasGrap').addClass('show');
        break;
      case 2:
        $('#gastosGrap').removeClass('collapse');
        $('#gastosGrap').addClass('show');
        gastosChartSet()
        break;

    }
  }


  async function ventasXfecha(diainicio, diaFin, zona, chofer, garrafones) {
    console.log('zona:' + zona + ',chofer:' + chofer + ',garrafones:' + garrafones)
    if (newChart) {
      newChart.destroy()
    }
    let optionsVentasChart0;
    let pedidosTotalizado = [];
    let transferencias = 0, deudores = 0, totalVentas = 0, totalCanje = 0, totalRefil = 0, totalEnvNuevo = 0, totalObsequio = 0, totalGarraf = 0, totalPedidos = 0;
    pedidos = await fetch(`/getPedidosbyDaypy4/${moment(diainicio, 'DD-MM-YYYY').format('YYYY-MM-DD')}/${moment(diaFin, 'DD-MM-YYYY').format('YYYY-MM-DD')}`)
      .then(response => response.json())
      .then(data => {
        return data.pedidos_let;
      });

    switch (true) {
      case zona == null && chofer == null && garrafones == null: //TODAS LAS ZONAS Y CHOFERES
        pedidos.forEach(element => {
          if (element.status_pedido == "Entregado" && element.status_pago == "Pagado") {
            pedidosTotalizado.push(element)
          }
        });
        break;
      case zona !== null && chofer == null && garrafones == null://SOLO ZONA
        pedidos.forEach(element => {
          if (element.status_pedido == "Entregado" && element.status_pago == "Pagado" && element.sucursaleId == zona) {
            pedidosTotalizado.push(element)
          }
        });
        break;
      case zona !== null && chofer !== null && garrafones == null: //ZONA Y CHOFER
        pedidos.forEach(element => {
          if (element.status_pedido == "Entregado" && element.status_pago == "Pagado" && element.sucursaleId == zona && element.personalId == chofer) {
            pedidosTotalizado.push(element)
          }
        });
        break;
      case zona == null && chofer !== null && garrafones == null: //SOLO CHOFER
        pedidos.forEach(element => {
          if (element.status_pedido == "Entregado" && element.status_pago == "Pagado" && element.personalId == chofer) {
            pedidosTotalizado.push(element)
          }
        });
        break;
      case zona == null && chofer == null && garrafones !== null: //garrafones
     pedidos.forEach(element => {
          if (element.status_pedido == "Entregado" && element.status_pago == "Pagado" && element.total_garrafones_pedido == garrafones) {
            pedidosTotalizado.push(element)
          }
        });
        break;
        case zona !== null && chofer == null && garrafones !== null: //garrafones+zona
     pedidos.forEach(element => {
          if (element.status_pedido == "Entregado" && element.status_pago == "Pagado" && element.total_garrafones_pedido == garrafones && element.sucursaleId == zona) {
            pedidosTotalizado.push(element)
          }
        });
        break;
         case zona !== null && chofer !== null && garrafones !== null: //garrafones+zona+chofer
     pedidos.forEach(element => {
          if (element.status_pedido == "Entregado" && element.status_pago == "Pagado" && element.total_garrafones_pedido == garrafones && element.sucursaleId == zona && element.personalId == chofer) {
            pedidosTotalizado.push(element)
          }
        });
        break;
    }

    console.log(pedidosTotalizado)
    totalPedidos = pedidosTotalizado.length;
    pedidosTotalizado.forEach(venta => {
      totalVentas += parseInt(venta.monto_total);
      ///console.log(parseInt(venta.monto_total));
      totalGarraf += parseInt(venta.total_garrafones_pedido);
      totalRefil += parseInt(venta.total_refill_pedido);
      totalCanje += parseInt(venta.total_canje_pedido);
      totalEnvNuevo += parseInt(venta.total_nv_pedido);
      totalObsequio += parseInt(venta.total_obsequio_pedido);
    });
    ///console.log(optionsVentasChart);

    optionsVentasChart0 = {
      series: [totalPedidos, totalVentas, totalGarraf, totalRefil, totalCanje, totalEnvNuevo, totalObsequio],
      chart: {
        width: '100%',
        type: 'donut',
      },
      labels: ['Total Pedidos', 'T. Ventas', 'T. Garrafones Vendidos', 'T. Refil Vendidos', 'T. Canje Vendidos', 'T. Nuevos', 'T. Obsequios'],
      dataLabels: {
        enabled: false,
        textAnchor: 'start'
      },
      responsive: [{
        breakpoint: 992,
        options: {
          width: '100%'
          /*plotOptions: {
            pie: {
              donut: {
                labels: {
                  show: false,
                }
              },
            }
          }*/
        },
      }],
      legend: {
        position: 'left',
        offsetY: 0,
        height: 160,
        formatter: function (seriesName, opts) {
          let options0 = opts.w.globals.series[opts.seriesIndex]
          if (seriesName == 'T. Ventas') {
            options0 = opts.w.globals.series[opts.seriesIndex] + '$'
          }
          return [seriesName, " - ", options0]
        }
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,

            }
          },

        }
      }
    };


    newChart = new ApexCharts(document.querySelector("#chart"), optionsVentasChart0);
    newChart.render();
  }


</script>