<style>
  .none{
    display: none;
  }
</style>

{{#if msg}}
<label id="msgs">{{msg}}</label>
{{/if}}
<!-- BEGIN: Content-->
<div class="app-content content py4">
    <div class="content-wrapper container-xxxl p-0">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section id="basic-datatable">
        <div class="row">
          <div class="scrolling-inside-modal">

            <!-- Button trigger modal -->
            {{!-- <button type="button" class="btn btn-outline-primary text-primary waves-effect mb-2" data-bs-toggle="modal"
              data-bs-target="#exampleModalScrollable">
              Agregar Cliente
            </button> --}}



          </div>
          <div class="col-12">

            <div class="card">

              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
              </div>
              <div class="card-body">
                <h4 class="card-title">Clientes</h4>
           {{#if admin}} <p class="card-text">
             <button type="button" class="btn btn-outline-primary text-primary waves-effect mb-2" id="button_change_zone">
              Cambiar Zona
            </button> 
            <button type="button" class="btn btn-outline-primary text-primary waves-effect mb-2" id="button_change_tags">
              Cambiar Etiquetas
            </button>
             <label><input type="checkbox" id="cliente_nuevo">Solo ver Nuevos</label>
            {{/if}}
              </div>
                                           
               
              <div class="d-flex justify-content-between align-items-center mx-0 row">

              </div>
              <!--<div class="d-flex justify-content-between align-items-center mx-0 row none"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select"><option value="7">7</option><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="75">75</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"></div></div>-->

            <section id="basic-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <table class="datatables-basic dt-column-searchClientes table" id="exampleClientes">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th>Nombre</th>
                                            <th>Zona</th>
                                            <th>Etiqueta</th>
                                            <th>Titulo</th>
                                            <th>Teléfono</th>
                                            <th>Correo</th>  
                                            <th>Nuevo </th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
              
            </div>
          </div>
          {{#if admin}}
           <div class="col-12">

            <div class="card">

              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
              </div>
              <div class="card-body">
                <h4 class="card-title">Etiquetas</h4>
                <p class="card-text"><button type="button" class="btn btn-outline-primary text-primary waves-effect mb-2" data-bs-toggle="modal"
              data-bs-target="#exampleModalScrollable">
              Crear etiqueta
            </button>  </p>
              </div>
              <div class="d-flex justify-content-between align-items-center mx-0 row">

              </div>
              <!--<div class="d-flex justify-content-between align-items-center mx-0 row none"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select"><option value="7">7</option><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="75">75</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"></div></div>-->

            <section id="basic-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <table class="datatables-basicEtiquetas dt-column-searchEtiquetas table" id="exampleEtiquetas">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre de etiqueta</th>
                                            <th>Color</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
              
            </div>
          </div>
          {{/if}}
        </div>
      </section>

      <!-- Modal to add new record -->
      <div class="modal fade" id="ad_tag_cliente" tabindex="-1" aria-labelledby="ad_tag_clienteTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ad_tag_clienteTitle">Asignar etiqueta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/ad_tag_cliente" method="post" id="post_save_cliente_edit_tag">
                <input type="hidden" name="nombre" placeholder="Nombre" aria-describedby="register-firstName" tabindex="1" id="id_ad_tag_cliente" class="form-control mb-2" >
                <div class="form-group">
                  <label for="register-lastName" class="form-label">Color</label>
                  <select class="select2 form-select" id="color_tag_cliente" name="color" >
                    <option value="default"> Seleccione una etiqueta </option>
                    {{#each etiquetas_let as |cliente i|}}
                    <option value="{{id}}"> {{etiquetas}}</option>
                    {{/each}}
                  </select>                
                </div>
              </form>

              <div class="modal-footer">
                <button type="button" tabindex="26" class="btn btn-primary btn-block waves-effect waves-float waves-light" id="btn_asignar_tag">Asignar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Crear Etiqueta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation was-validated" action="/save_etiqueta" method="post" id="form_crear_tag">
                <div class="form-group"><label for="register-firstName" class="form-label">Nombre</label>
                <input
                    type="text" name="nombre" placeholder="Nombre" aria-describedby="register-firstName"
                    tabindex="1" autofocus="" class="form-control mb-2"  id="nombre_color_tag_crear"
                    ></div>
                <div class="form-group"><label for="register-lastName" class="form-label">Color</label><input
                    type="color" style="height: 30px;" name="color" placeholder="color" aria-describedby="register-lastName"
                    tabindex="2" class="form-control mb-2 px-1" id="id_color_tag_crear"
                  ></div>
              
              </form>
              <div class="modal-footer">
                <button type="button" tabindex="26" class="btn btn-primary btn-block waves-effect waves-float waves-light" id="btn_crear_tag">Crear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="change_zone" tabindex="-1" aria-labelledby="change_zoneTitle" style="display: none;"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="change_zoneTitle">Cambiar zona de cliente(s)</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="needs-validation was-validated" id="change_zone_form">
              <input type="hidden" class="form-control" id="ids_cli" name="ids_cli"/>
              
              <div class="form-group"><label for="register-sucursal" class="form-label">Zona</label><select
                  aria-describedby="register-sucursal" tabindex="24" name="zona" class="form-control mb-2" id="zona_clientes">
                  <option selected="">Seleccione una Zona</option>
                  {{#each sucursales_let as |sucursal i|}}
                  <option value={{id}}> {{nombre}} </option>
                  {{/each}}
                </select></div>
          </div>
          <div class="modal-footer">
            <button tabindex="26"
              class="btn btn-primary btn-block waves-effect waves-float waves-light" type="button" id="change_zone_btn">Cambiar</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit_cliente" tabindex="-1" aria-labelledby="edit_clienteTitle" style="display: none;"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="edit_clienteTitle">Editar información del cliente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="needs-validation was-validated" id="edit_cliente_form">
             <input type="hidden" name="id_cliente" id="id_cliente_edited">
                    <div class="form-group"><label for="register-firstName" class="form-label">Nombre</label>
                        <input type="text" name="" placeholder="Primer Nombre" aria-describedby="register-firstName"
                            tabindex="1" class="form-control mb-2" autofocus required id="firstName_edited">
                    </div>
                    <div class="form-group"><label for="register-lastName" class="form-label">Apellido</label>
                    <input type="text" name="lastName" placeholder="Apellido" aria-describedby="register-lastName"
                            tabindex="2" class="form-control mb-2" id="lastName_edited">
                      </div>
                    <div class="divider">
                        <div class="divider-text">Dirección</div>
                    </div>
                        <div class="form-group mb-2"><label for="register-lastName" class="form-label">Códido Postal</label><input
                                type="text" name="cp" placeholder="cp" aria-describedby="register-lastName"
                                tabindex="2" class="form-control cp_select" id="cp_select_edited" >
                                </div>

                      <div class="form-group mb-2" ><label for="register-lastName" class="form-label">Estado</label><input
                                type="text" name="ciudad" placeholder="Ciudad" aria-describedby="register-lastName"
                                tabindex="2" class="form-control" value="Jalisco" id="ciudad_select_edited" readonly>
                                </div>

                        <div class="form-group mb-2"><label for="register-lastName" class="form-label">Municipio</label><input
                                type="text" name="municipio" placeholder="Municipio" aria-describedby="register-lastName"
                                tabindex="2" class="form-control municipio"  id="municipio_edited" readonly >
                                </div>          
                        <div class="form-group mb-2">
                        <label for="register-ciudad" class="form-label">Asentamiento</label>

                        <select class="select2 form-select select_asentamiento" id="select_asentamiento_edited" name="asentamiento">
                            
                        </select>

                        </div>
                    <div class="form-group"><label for="register-coto" class="form-label">Coto</label><input type="text"
                            name="coto" placeholder="Coto" aria-describedby="register-coto" tabindex="6"
                            class="form-control mb-2" id="coto_edited"></div>

                    <div class="form-group"><label for="register-casa" class="form-label">Casa</label><input type="text"
                            name="casa" placeholder="Casa" aria-describedby="register-casa" tabindex="7"
                            class="form-control mb-2" id="casa_edited"></div>

                    <div class="form-group"><label for="register-calle" class="form-label">Calle</label><input
                            type="text" name="calle" placeholder="Calle" aria-describedby="register-calle" tabindex="8"
                            class="form-control mb-2" id="calle_edited"></div>
                    <div class="form-group"><label for="register-avenida" class="form-label">Avenida</label>
                    <input
                            type="text" name="avenida" placeholder="Avenida" aria-describedby="register-avenida"
                            tabindex="9" class="form-control mb-2" id="avenida_edited"></div>

                    <div class="form-group"><label for="register-referencia" class="form-label">Referencia</label><input
                            type="text" name="referencia" placeholder="Referencia"
                            aria-describedby="register-referencia" tabindex="9"
                            class="form-control mb-2" id="referencia_edited"></div>

                    <div class="form-group"><label for="register-telefono" class="form-label">Teléfono</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span>
                            </div>
                            <input type="number" name="telefono" placeholder="(760) 123 00 00" mask="(000) 000 00 00"
                                aria-describedby="register-telefono" tabindex="11"
                                class="form-control mb-2" id="telefono_edited">
                        </div>
                    </div>

<div class="divider">
                <div class="divider-text">Familiares</div>
              </div>
              <div class="form-group"><label for="register-nombre_familiar_1" class="form-label">Nombre del familiar
                  1</label>
                  <input type="text" name="nombre_familiar_1" placeholder="Pedro"
                  aria-describedby="register-nombre_familiar_1" tabindex="12"
                  class="form-control mb-2" id="nombre_familiar_1_edited"
                 >
                 </div>
              <div class="form-group"><label for="register-apellido_familiar_1" class="form-label">Apellido del familiar
                  1</label><input type="text" name="apellido_familiar_1" placeholder="Pérez"
                  aria-describedby="register-apellido_familiar_1" tabindex="13"
                  class="form-control mb-2" id="apellido_familiar_1_edited"
                 ></div>
              <div class="form-group"><label for="register-telefono_familiar_1" class="form-label">Teléfono del familiar
                  1</label>
                <div class="input-group">
                  <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span></div>
                  <input type="number" name="telefono_familiar_1" placeholder="(760) 123 00 00"
                    mask="(000) 000 00 00" aria-describedby="register-telefono_familiar_1" tabindex="14"
                    class="form-control mb-2" id="telefono_familiar_1_edited">
                </div>
              </div>
              <div class="form-group"><label for="register-nombre_familiar_2" class="form-label">Nombre del familiar
                  2</label><input type="text" name="nombre_familiar_2" placeholder="Pedro"
                  aria-describedby="register-nombre_familiar_2" tabindex="15"
                  class="form-control mb-2" id="nombre_familiar_2_edited"
                 ></div>
              <div class="form-group"><label for="register-apellido_familiar_2" class="form-label">Apellido del familiar
                  2</label><input type="text" name="apellido_familiar_2" placeholder="Pérez"
                  aria-describedby="register-apellido_familiar_2" tabindex="16"
                  class="form-control mb-2" id="apellido_familiar_2_edited"
                 ></div>
              <div class="form-group"><label for="register-telefono_familiar_2" class="form-label">Teléfono del familiar
                  2</label>
                <div class="input-group">
                  <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span></div>
                  <input type="number" name="telefono_familiar_2" placeholder="(760) 123 00 00"
                    mask="(000) 000 00 00" aria-describedby="register-telefono_familiar_2" tabindex="17"
                    class="form-control mb-2" id="telefono_familiar_2_edited">
                </div>
              </div>
              <div class="form-group"><label for="register-tipo_cliente" class="form-label">Tipo de
                  cliente</label><select aria-describedby="register-tipo_cliente" tabindex="20"
                  name="tipo_cliente" class="form-control mb-2" id="tipo_cliente_edited">
                  <option > Residencial </option>
                  <option> Negocio </option>
                  <option> Punto de venta </option>
                </select></div>
              <div class="form-group"><label for="register-cliente_nuevo" class="form-label">¿Es un nuevo
                  cliente?</label>
                <div class="custom-control custom-checkbox"><input type="checkbox" id="cliente_nuevo_edited"
                    name="cliente_nuevo" aria-describedby="register-cliente_nuevo" tabindex="21"
                    class="custom-control-input me-1" value="SI"><label for="cliente_nuevo" class="custom-control-label">Sí</label>
                </div>
              </div>
              <div class="form-group"><label for="register-fecha_ultimo_pedido" class="form-label">Fecha del último
                  pedido</label><input type="date" name="fecha_ultimo_pedido_edited" placeholder="01/02/2023"
                  mask="00/00/0000" aria-describedby="register-fecha_ultimo_pedido" tabindex="22"
                  class="form-control mb-2" id="fecha_ultimo_pedido"></div>
              <div class="form-group">
                <label for="register-utimos_botellones" class="form-label">Cantidad de garrafones en el último pedido</label>
                  <input type="text" name="utimos_botellones" placeholder="10" aria-describedby="register-utimos_botellones" tabindex="23"   class="form-control mb-2" id="utimos_botellones_edited">
                  </div>

<div class="form-group"><label for="register-sucursal" class="form-label">Zona</label><select
                  aria-describedby="register-sucursal" tabindex="24" name="zona" class="form-control mb-2" id="zona_clientes_edited">
                  <option selected="">Seleccione una Zona</option>
                  {{#each sucursales_let as |sucursal i|}}
                  <option value={{id}}> {{nombre}} </option>
                  {{/each}}
                </select></div>
              <div class="divider">
                <div class="divider-text">Acceso</div>
              </div>
              <div class="form-group"><label for="register-email" class="form-label">Correo</label><input type="text"
                  name="email" placeholder="pedro@example.com" aria-describedby="register-email"
                  tabindex="25" class="form-control mb-2" id="correo_edit_cliente_edited"></div>

              
          </div>
          <div class="modal-footer">
            <button tabindex="26"
              class="btn btn-primary btn-block waves-effect waves-float waves-light" type="button" id="btn_save_edit_cliente">Actualizar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>

    
  </div>
</div>
</div>
</div>
</div>




<!-- END: Content-->