<style>
  .none{
    display: none;
  }
</style>
<script>
  $(document).ready(function(){
    $('.odd').addClass('dt-head-center');
     $('.even').addClass('dt-head-center'); 

    fecha_corte = new DateTime($('#fecha_corte'), {
        format: 'DD/MM/YYYY'
    });

    $('#btnresidenciales').on('click', (e)=> {
        Reset(1)
    });
    $('#btnpuntoVenta').on('click', (e)=> {
        Reset(2);
    });
    $('#btnnegocio').on('click', (e)=> {
        Reset(3);
    });
     $('#btnGral').on('click', (e)=> {
        Reset(4);
    });

    function Reset(num) {
        $('#residenciales').removeClass('show')
        $('#residenciales').addClass('collpase')

        $('#puntoVenta').removeClass('show')
        $('#puntoVenta').addClass('collpase')

        $('#negocio').removeClass('show')
        $('#negocio').addClass('collpase')
        
        $('#total').removeClass('show')
        $('#total').addClass('collpase')
        switch (num){
            case 1:
$('#residenciales').removeClass('collpase')
            $('#residenciales').addClass('show')
            break;
             case 2:
$('#puntoVenta').removeClass('collpase')
            $('#puntoVenta').addClass('show')
            break;
             case 3:
 $('#negocio').addClass('show')
            $('#negocio').removeClass('collpase')
            break;
case 4:
 $('#total').addClass('show')
            $('#total').removeClass('collpase')
            break;
            default:
            break
        }
    }

    $('#fecha_corte').on('change', (e)=>{
        console.log(e.target.value)
        let fecha = moment(e.target.value,'DD/MM/YYYY').format('YYYY-DD-MM')
        console.log(fecha)
        window.location.href=`/corteday_py4/${fecha}`
    })
})
</script>
{{#if msg}}
<label id="msgs">{{msg}}</label>
{{/if}}
<input type="text" id="array_personal" hidden value="{{personal_}}">
<input type="text" id="array_corte" hidden value="{{pedidos_byday}}">
<input type="text" id="array_carga" hidden value="{{arr_carga}}">
<!-- BEGIN: Content-->
<div class="app-content content  py4">
  <div class="content-wrapper container-xxxl p-0">
    <div class="content-header row">
    </div>
    <div class="content-body">
     <!-- Dashboard Analytics Start -->
                <section id="dashboard-analytics">
                    <div class="row justify-content-center match-height py4">
                        <!-- Greetings Card starts -->
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="card card-congratulation">
                                <div class="card-body text-center" id="btnGral" data-bs-toggle="collapse" href="#total" role="button" aria-expanded="false" aria-controls="total">
                                    <div class="avatar avatar-xl bg-light shadow">
                                        <div class="avatar-content">
                                            <i data-feather="award" class="font-large-1 text-primary"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h1 class="my-1 text-white text-center">Total del día</h1>
                                        <p class="card-text mb-1">Ventas: <strong> {{cont_ventas_del_dia}}</strong></p>
                                         <p class="card-text mb-1">Garrafones: <strong> {{total_garrafones}}</strong></p>
                                        <p class="card-text"> Ingreso: <strong>$ {{ventas_del_dia}}</strong></p>
                                    </div>
                                    {{#if admin}}
                                    <div class="col">
                                        <label class="card-text mt-2 text-white w-100">Fecha: {{#formatoFecha2 dia}}{{/formatoFecha2}}</label>
                                        <div class="mb-0 d-flex">
                                            <!--<input type="text" class="form-control dt-date flatpickr-range dt-input" data-column="5"  data-column-index="4" name="dt_date" />-->
                                            <input type="text" class="form-control mx-auto start_date dt-input" data-column="5" data-column-index="4" name="value_from_start_date" placeholder="Cambiar fecha" id="fecha_corte"/>
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <!-- Greetings Card ends -->

                        <!-- Subscribers Chart Card starts -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="card btn-outline-primary">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center"  id="btnresidenciales" data-bs-toggle="collapse" href="#residenciales" role="button" aria-expanded="false" aria-controls="residenciales">
                                    <div class="avatar bg-light-primary p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather="users" class="font-medium-5 text-primary"></i>
                                        </div>
                                    </div>
                                    <h2 class="fw-bolder my-1">Residenciales</h2>
                                    <p class="card-text mb-1">Ventas: <strong> {{residencial_cont}}</strong></p>
                                      <p class="card-text mb-1">Garrafones: <strong> {{residencial_cont_garrafones}}</strong></p>
                                    <p>Ingreso: <strong>$ {{residencial_mont}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- Subscribers Chart Card ends -->

                        <!-- Orders Chart Card starts -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="card btn-outline-primary">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center" id="btnnegocio"  data-bs-toggle="collapse" href="#negocio" role="button" aria-expanded="false" aria-controls="negocio">
                                    <div class="avatar bg-light-warning p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather='shopping-bag' class="font-medium-5"></i>
                                        </div>
                                    </div>
                                    <h2 class="fw-bolder my-1">Negocio</h2>
                                    <p class="card-text mb-1">Ventas del día: <strong> {{negocio_cont}}</strong></p>
                                    <p class="card-text mb-1">Garrafones: <strong> {{negocio_cont_garrafones}}</strong></p>
                                    <p>Ingreso: <strong>$ {{negocio_mont}}</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="card btn-outline-primary">
                                <div class="card-body p-1 d-flex flex-column align-items-center justify-content-center" id="btnpuntoVenta" data-bs-toggle="collapse" href="#puntoVenta" role="button" aria-expanded="false" aria-controls="puntoVenta">
                                    <div class="avatar bg-light-success p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather='credit-card' class="font-medium-5"></i>
                                        </div>
                                    </div>
                                    <h2 class="fw-bolder my-1">Puntos de Venta</h2>
                                    <p class="mb-1">Ventas del día: <strong> {{ptoVenta_cont}}</strong></p>
                                    <p class="card-text mb-1">Garrafones: <strong> {{ptoventa_cont_garrafones}}</strong></p>
                                    <p>Ingreso: <strong>$ {{ptoVenta_mont}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- Orders Chart Card ends -->
                    </div>
                </section>
                <div class="card py4table collapse show" id="total">
                    <!-- List DataTable -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">General</h6></div>
                                        </div>
                                        <div class="card-body">
                                            {{#each choferes_ as |chofer i|}}
                                            <button class="btn btn-primary mb-1 me-1" data-bs-toggle="modal" data-id="{{id}}" data-nombre="{{name}} {{lastName}}" data-fecha="{{#formatoFecha2 dia}}{{/formatoFecha2}}" data-bs-target="#corte_modal_general_tabla">{{name}} {{lastName}}</button>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <div class="card py4table collapse" id="total">
                    <!-- List DataTable -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">General</h6></div>
                                        </div>
                                        <table class="datatables-basicGral table dt-column-searchGral" id="pedidos_corteGral" >
                                            <thead>
                                                <tr>
                                                    <th>Tipo oculto</th>
                                                    <th>-</th>
                                                    <th>Refil</th>
                                                    <th>Canje</th>
                                                    <th>Nuevo Envase</th>
                                                    <th>Dañados</th>
                                                    <th>Prestados</th>
                                                    <th>Depositos</th>
                                                    <th>Adeudo</th>
                                                    <th>Subtotal</th>
                                                </tr>
                                            </thead>
                                                    <tfoot>
            <tr>
                <th colspan="2" style="text-align:right"> Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> --}}
                <div class="card py4table collapse" id="residenciales">
                                        <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">Residenciales</h6></div>
                                        </div>
                                        <div class="card-body">
                                            {{#each choferes_ as |chofer i|}}
                                            <button class="btn btn-primary mb-1 me-1" data-bs-toggle="modal" data-id="{{id}}" data-nombre="{{name}} {{lastName}}" data-fecha="{{#formatoFecha2 dia}}{{/formatoFecha2}}" data-bs-target="#corte_modal_residencial_tabla">{{name}} {{lastName}}</button>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- List DataTable -->
                </div>
                
                <div class="card py4table collapse" id="negocio">
                    <!-- List DataTable -->
                                        <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">Negocio</h6></div>
                                        </div>
                                        <div class="card-body">
                                            {{#each choferes_ as |chofer i|}}
                                            <button class="btn btn-primary mb-1 me-1" data-bs-toggle="modal" data-id="{{id}}" data-nombre="{{name}} {{lastName}}" data-fecha="{{#formatoFecha2 dia}}{{/formatoFecha2}}" data-bs-target="#corte_modal_negocio">{{name}} {{lastName}}</button>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="card py4table collapse" id="puntoVenta">
                    <!-- List DataTable -->
                                                         <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">Punto de Venta</h6></div>
                                        </div>
                                        <div class="card-body">
                                            {{#each choferes_ as |chofer i|}}
                                            <button class="btn btn-primary mb-1 me-1" data-bs-toggle="modal" data-id="{{id}}" data-nombre="{{name}} {{lastName}}" data-fecha="{{#formatoFecha2 dia}}{{/formatoFecha2}}" data-bs-target="#corte_modal_ptovta">{{name}} {{lastName}}</button>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>  
                 
                <!-- Dashboard Analytics end -->
  </div>
</div>
</div>
</div>
</div>
 <div class="modal fade" id="corte_modal" tabindex="-1" aria-labelledby="corte_modal"
      style="display: none;" aria-hidden="corte_modal">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="corte_modalTitle"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="corte_modalBody">
          
          </div>
        </div>
      </div>
    </div>

 <div class="modal fade" id="corte_modal_general_tabla" tabindex="-1" aria-labelledby="corte_modal_general_tabla"
      style="display: none;" aria-hidden="corte_modal">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="corte_modalTitle"><button class="btn btn-primary" id="printButtonGral">Imprimir</button></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="corte_modalBody">
        <div class="card mb-4">       
            <div class="d-flex align-items-center justify-content-between">
                <div class="box">
                    <li class="list-group-item mb-0 border-0">BWater</li> 
                    <li class="list-group-item mb-0 border-0">CORTE GENERAL</li>
                </div>
                <div class="box">
                    <p class="list-group-item mb-0 border-0">Fecha: <span class="fechaF"></span></p> 
                    <p class="list-group-item mb-0 border-0">Chofer: <span class="choferF"></span></p>
                </div>
            </div>
        </div>
          <div class="card py4table" id="total">
                    <!-- List DataTable -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">General</h6></div>
                                        </div>
                                        <table class="datatables-basicGral table dt-column-searchGral" id="pedidos_corteGral" >
                                            <thead>
                                                <tr>
                                                    <th>Tipo oculto</th>
                                                    <th>-</th>
                                                    <th>Refil</th>
                                                    <th>Canje</th>
                                                    <th>Nuevo Envase</th>
                                                    <th>Dañados</th>
                                                    <th>Prestados</th>
                                                    <th>Depositos</th>
                                                    <th>Adeudo</th>
                                                    <th>Subtotal</th>
                                                </tr>
                                            </thead>
                                                    <tfoot>
            <tr>
                <th colspan="2" style="text-align:right"> Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4" style="max-width: 350px; min-width: 300px; margin-left: auto; margin-right: 0">
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">Adeudo: $<span class="adeudoF"></span></li> 
                        <li class="list-group-item">Cantidad de Depósitos: <span class="cantdepositosF"></span></li>

                        <li class="list-group-item">Sub-Total: $<span class="subtotalF"></span></li>          
                        
                        <li class="list-group-item">Depósitos: $<span class="depositosF"></span></li>
                        <li class="list-group-item">Total efectivo: $<span class="totalefectivoF"></span></li>
                        </ul>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
 <div class="modal fade" id="corte_modal_residencial_tabla" tabindex="-1" aria-labelledby="corte_modal_residencial_tabla"
      style="display: none;" aria-hidden="corte_modal">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="corte_modalTitle"><button class="btn btn-primary" id="printButtonRes">Imprimir</button></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="corte_modalBody">
        <div class="card mb-4">   
            <div class="d-flex align-items-center justify-content-between">
                <div class="box">
                    <li class="list-group-item mb-0 border-0">BWater</li> 
                    <li class="list-group-item mb-0 border-0">CORTE Residenciales</li>
                </div>
                <div class="box">
                    <p class="list-group-item mb-0 border-0">Fecha: <span class="fechaF"></span></p> 
                    <p class="list-group-item mb-0 border-0">Chofer: <span class="choferF"></span></p>
                </div>
            </div>    
      </div>
          <div class="card py4table" id="total">
                    <!-- List DataTable -->
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <div class="card invoice-list-wrapper" >
                            <div class="card-datatable ">
                                <div class="card-header p-1">
                                    <div class="head-label"><h6 class="mb-0">Residenciales</h6></div>
                                </div>
                                <table class="datatables-basic table dt-column-searchRes" id="residencial_table" >
                                    <thead>
                                        <tr>
                                            <th>Tipo oculto</th>
                                            <th>-</th>
                                            <th>Refil</th>
                                            <th>Canje</th>
                                            <th>Nuevo Envase</th>
                                            <th>Dañados</th>
                                            <th>Prestados</th>
                                            <th>Depositos</th>
                                            <th>Adeudo</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                            <tfoot>
    <tr>
        <th colspan="2" style="text-align:right"> Total</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4" style="max-width: 350px; min-width: 300px; margin-left: auto; margin-right: 0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Adeudo: $<span class="adeudoF"></span></li> 
                    <li class="list-group-item">Cantidad de Depósitos: <span class="cantdepositosF"></span></li>

                    <li class="list-group-item">Sub-Total: $<span class="subtotalF"></span></li>          
                    
                    <li class="list-group-item">Depósitos: $<span class="depositosF"></span></li>
                    <li class="list-group-item">Total efectivo: $<span class="totalefectivoF"></span></li>
                </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
 <div class="modal fade" id="corte_modal_negocio" tabindex="-1" aria-labelledby="corte_modal_residencial_tabla"
      style="display: none;" aria-hidden="corte_modal">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="corte_modalTitle"><button class="btn btn-primary" id="printButtonnegocio">Imprimir</button></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="corte_modalBody">
        <div class="card mb-4">   
            <div class="d-flex align-items-center justify-content-between">
                <div class="box">
                    <li class="list-group-item mb-0 border-0">BWater</li> 
                    <li class="list-group-item mb-0 border-0">CORTE Negocios</li>
                </div>
                <div class="box">
                    <p class="list-group-item mb-0 border-0">Fecha: <span class="fechaF"></span></p> 
                    <p class="list-group-item mb-0 border-0">Chofer: <span class="choferF"></span></p>
                </div>
            </div>     
      </div>
          <div class="card py4table" id="total">
                    <!-- List DataTable -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">Residenciales</h6></div>
                                        </div>
                                        <table class="datatables-basicnegocio table dt-column-searchnegocio" id="negocio_table" >
                                            <thead>
                                                <tr>
                                                    <th>Tipo oculto</th>
                                                    <th>-</th>
                                                    <th>Refil</th>
                                                    <th>Canje</th>
                                                    <th>Nuevo Envase</th>
                                                    <th>Dañados</th>
                                                    <th>Prestados</th>
                                                    <th>Depositos</th>
                                                    <th>Adeudo</th>
                                                    <th>Subtotal</th>
                                                </tr>
                                            </thead>
                                                    <tfoot>
            <tr>
                <th colspan="2" style="text-align:right"> Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4" style="max-width: 350px; min-width: 300px; margin-left: auto; margin-right: 0">
        <ul class="list-group list-group-flush">
           <li class="list-group-item">Adeudo: $<span class="adeudoF"></span></li> 
           <li class="list-group-item">Cantidad de Depósitos: <span class="cantdepositosF"></span></li>

          <li class="list-group-item">Sub-Total: $<span class="subtotalF"></span></li>          
          
          <li class="list-group-item">Depósitos: $<span class="depositosF"></span></li>
          <li class="list-group-item">Total efectivo: $<span class="totalefectivoF"></span></li>
        </ul>
      </div>
                </div>
          </div>
        </div>
      </div>
    </div>
 <div class="modal fade" id="corte_modal_ptovta" tabindex="-1" aria-labelledby="corte_modal_residencial_tabla"
      style="display: none;" aria-hidden="corte_modal">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="corte_modalTitle"><button class="btn btn-primary" id="printButtonptovta">Imprimir</button></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="corte_modalBody">
        <div class="card mb-4">       
            <div class="d-flex align-items-center justify-content-between">
                <div class="box">
                    <li class="list-group-item mb-0 border-0">BWater</li> 
                    <li class="list-group-item mb-0 border-0">CORTE PUNTO DE VENTA</li>
                </div>
                <div class="box">
                    <p class="list-group-item mb-0 border-0">Fecha: <span class="fechaF"></span></p> 
                    <p class="list-group-item mb-0 border-0">Chofer: <span class="choferF"></span></p>
                </div>
            </div>   
        </div>
          <div class="card py4table" id="total">
                    <!-- List DataTable -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="card invoice-list-wrapper" >
                                    <div class="card-datatable ">
                                        <div class="card-header p-1">
                                            <div class="head-label"><h6 class="mb-0">Punto de Venta</h6></div>
                                        </div>
                                        <table class="datatables-basicPto table dt-column-searchPto" id="Pto_table" >
                                            <thead>
                                                <tr>
                                                    <th>Tipo oculto</th>
                                                    <th>-</th>
                                                    <th>Refil</th>
                                                    <th>Canje</th>
                                                    <th>Nuevo Envase</th>
                                                    <th>Dañados</th>
                                                    <th>Prestados</th>
                                                    <th>Depositos</th>
                                                    <th>Adeudo</th>
                                                    <th>Subtotal</th>
                                                </tr>
                                            </thead>
                                                    <tfoot>
            <tr>
                <th colspan="2" style="text-align:right"> Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4" style="max-width: 350px; min-width: 300px; margin-left: auto; margin-right: 0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Adeudo: $<span class="adeudoF"></span></li> 
                            <li class="list-group-item">Cantidad de Depósitos: <span class="cantdepositosF"></span></li>

                            <li class="list-group-item">Sub-Total: $<span class="subtotalF"></span></li>          
                            
                            <li class="list-group-item">Depósitos: $<span class="depositosF"></span></li>
                            <li class="list-group-item">Total efectivo: $<span class="totalefectivoF"></span></li>
                        </ul>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>




<script type="text/javascript">
$('#printButtonRes').on('click', function () {
if ($('.modal').is(':visible')) {
var modalId = $(event.target).closest('.modal').attr('id');
$('body').css('visibility', 'hidden');
$("#" + modalId).css('visibility', 'visible');
$('#' + modalId).removeClass('modal');
window.print();
$('body').css('visibility', 'visible');
$('#' + modalId).addClass('modal');
} else {
window.print();
}
});
$('#printButtonGral').on('click', function () {
if ($('.modal').is(':visible')) {
var modalId = $(event.target).closest('.modal').attr('id');
$('body').css('visibility', 'hidden');
$("#" + modalId).css('visibility', 'visible');
$('#' + modalId).removeClass('modal');
window.print();
$('body').css('visibility', 'visible');
$('#' + modalId).addClass('modal');
} else {
window.print();
}
});
</script>
<!-- END: Content-->