<div class="app-content content py21">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            
            <section id="basic-datatable">
                <div class="row">
                    {{#if roleClient}}
                    
                    <div class="col-12">
                        <div class="card card-statistics">
                            <div class="card-body statistics-body">
                                <div class="row">
                                    <!-- TRANSFERENCIAS -->
                                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0" type="button" data-bs-toggle="collapse" data-bs-target="#transf" aria-expanded="true" id="transfbtn">
                                        <div class="d-flex flex-row">
                                            <div class="avatar bg-light-primary me-2">
                                                <div class="avatar-content">
                                                    <i data-feather='activity' class="feather feather-trending-up avatar-icon text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <h5 class="fw-bolder mb-0">Transferencias Bancarias</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0" type="button" data-bs-toggle="collapse" data-bs-target="#pagom" aria-expanded="true" id="pagombtn">
                                        <div class="d-flex flex-row">
                                            <div class="avatar bg-light-primary me-2">
                                                <div class="avatar-content">
                                                    <i data-feather='smartphone' class="feather feather-trending-up avatar-icon text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <h5 class="fw-bolder mb-0">Pago Móvil</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0" type="button" data-bs-toggle="collapse" data-bs-target="#billetera" aria-expanded="true" id="billeterabtn">
                                        <div class="d-flex flex-row">
                                            <div class="avatar bg-light-primary me-2">
                                                <div class="avatar-content">
                                                    <i data-feather='dollar-sign' class="feather feather-trending-up avatar-icon text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <h5 class="fw-bolder mb-0">Billetera Digital</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0" type="button" data-bs-toggle="collapse" data-bs-target="#btcw" aria-expanded="true" id="btcwbtn">
                                        <div class="d-flex flex-row">
                                            <div class="avatar bg-light-primary me-2">
                                                <div class="avatar-content">
                                                    <i data-feather='credit-card' class="feather feather-trending-up avatar-icon text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <h5 class="fw-bolder mb-0">BTC</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--- TRANSFERENCIAS -->
                    <div class="col-12 collapse" id="transf">
                        <div class="card">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Depositos</h6></div></div>
                                <div class="d-flex justify-content-between align-items-center mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label class="d-flex align-items-center">Mostrar 
                                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="7">7</option>
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="75">75</option>
                                                    <option value="100">100</option>
                                                </select> entradas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                        </div>
                                    </div>
                                </div>
                                <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Tipo de Transacción</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Beneficiario</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">DNI</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">Paquetes</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap;" aria-label="Date: activate to sort column ascending">Monto</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Banco</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px; white-space: nowrap" aria-label="Email: activate to sort column ascending">Tipo de Cuenta</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Fecha</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Comprobante</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Estado</th></tr>
                                    </thead>
                                    <tbody>
                                    {{#if transf}}
                                        {{#each transf as |item i|}}
                                        <tr>
                                            <td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td>
                                            <td style="white-space: nowrap;">{{metodos_pago.transaction_type}}</td>
                                            <td style="white-space: nowrap;">{{metodos_pago.full_name}}</td>
                                            <td style="white-space: nowrap;">{{metodos_pago.dni}}</td>
                                            <td>
                                                <a class="btn btn-primary showModalBtn" style="white-space: nowrap; text-overflow: ellipsis;" data-id="{{paquete.id}}" data-status="{{status}}"  data-name="{{#paqueteNombrepy24 paquete.name}}{{/paqueteNombrepy24}}" data-price="{{paquete.price}}"  data-duration="{{paquete.duration}}" data-amount_th="{{paquete.amount_th}}" data-maintance="{{paquete.maintance_charge}}" data-date="{{#formatDatapy24 createdAt}}{{/formatDatapy24}}" data-activated="{{activatedAt}}" data-culmination="{{culmination}}" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Ver</a>
                                            </td>
                                            <td>{{amount}}</td>
                                            <td>{{bank_name}}</td>
                                            <td>{{metodos_pago.type_account}}</td>
                                            <td style="white-space: nowrap;">{{#formatDatapy24 createdAt}}{{/formatDatapy24}}</td>
                                            <td>{{num_reference}}</td>
                                            <td>
                                                {{#estadodepositospy24 status}}{{/estadodepositospy24}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td style="white-space: nowrap">No existen depositos</td>
                                        </tr>
                                    {{/if}}
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--- PAGO MOVIL -->           
                    <div class="col-12 collapse" id="pagom">
                        <div class="card">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer" style="overflow: hidden"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Depositos</h6></div></div>
                                <div class="d-flex justify-content-between align-items-center mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label class="d-flex align-items-center">Mostrar 
                                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="7">7</option>
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="75">75</option>
                                                    <option value="100">100</option>
                                                </select> entradas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                        </div>
                                    </div>
                                </div>
                                <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Tipo de Transacción</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Beneficiario</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">DNI</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Banco</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Telefono</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">Paquetes</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap;" aria-label="Date: activate to sort column ascending">Monto</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Fecha</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Comprobante</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Estado</th></tr>
                                    </thead>
                                    <tbody>
                                    {{#if paym}}
                                        {{#each paym as |item i|}}
                                        <tr>
                                            <td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td>
                                            <td style="white-space: nowrap;">{{metodos_pago.transaction_type}}</td>
                                            <td style="white-space: nowrap;">{{metodos_pago.full_name}}</td>
                                            <td style="white-space: nowrap;">{{metodos_pago.dni}}</td>

                                            <td>{{metodos_pago.bank_name}}</td>
                                            <td>{{metodos_pago.phone}}</td>
                                            <td>
                                                <a class="btn btn-primary showModalBtn" style="white-space: nowrap; text-overflow: ellipsis;" data-id="{{paquete.id}}" data-status="{{status}}"  data-name="{{#paqueteNombrepy24 paquete.name}}{{/paqueteNombrepy24}}" data-price="{{paquete.price}}"  data-duration="{{paquete.duration}}" data-amount_th="{{paquete.amount_th}}" data-maintance="{{paquete.maintance_charge}}" data-date="{{#formatDatapy24 createdAt}}{{/formatDatapy24}}" data-activated="{{activatedAt}}" data-culmination="{{culmination}}" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Ver</a>
                                            </td>
                                            <td>{{paquete.price}}</td>
                                            <td style="white-space: nowrap;">{{#formatDatapy24 createdAt}}{{/formatDatapy24}}</td>
                                            <td>{{num_reference}}</td>
                                            <td>
                                                {{#estadodepositospy24 status}}{{/estadodepositospy24}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td style="white-space: nowrap;">No existen depositos</td>
                                        </tr>
                                    {{/if}}
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <!--- BTC -->  
                    <div class="col-12 collapse" id="btcw">
                        <div class="card">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer" style="overflow: hidden"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Depositos</h6></div></div>
                                <div class="d-flex justify-content-between align-items-center mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label class="d-flex align-items-center">Mostrar 
                                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="7">7</option>
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="75">75</option>
                                                    <option value="100">100</option>
                                                </select> entradas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                        </div>
                                    </div>
                                </div>
                                <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Tipo de Transacción</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Código de Billetera</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">Paquetes</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap;" aria-label="Date: activate to sort column ascending">Monto</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Fecha</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Estado</th></tr>
                                    </thead>
                                    <tbody>
                                    {{#if btc}}
                                        {{#each btc as |item i|}}
                                        <tr>
                                            <td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td>
                                            <td style="white-space: nowrap;">{{metodos_pago.transaction_type}}</td>
                                            <td style="white-space: nowrap;">{{metodos_pago.code_wallet}}</td>
                                            <td>
                                                <a class="btn btn-primary showModalBtn" style="white-space: nowrap; text-overflow: ellipsis;" data-id="{{paquete.id}}" data-status="{{status}}"  data-name="{{#paqueteNombrepy24 paquete.name}}{{/paqueteNombrepy24}}" data-price="{{paquete.price}}"  data-duration="{{paquete.duration}}" data-amount_th="{{paquete.amount_th}}" data-maintance="{{paquete.maintance_charge}}" data-date="{{#formatDatapy24 createdAt}}{{/formatDatapy24}}" data-activated="{{activatedAt}}" data-culmination="{{culmination}}" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Ver</a>
                                            </td>
                                            <td style="white-space: nowrap;">{{paquete.price}}</td>
                                            <td style="white-space: nowrap;">{{#formatDatapy24 createdAt}}{{/formatDatapy24}}</td>
                                            <td>
                                                {{#estadodepositospy24 status}}{{/estadodepositospy24}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td style="white-space: nowrap;">No existen depositos</td>
                                        </tr>
                                    {{/if}}
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!--- BILLETERA DIGITAL -->
                    <div class="col-12 collapse" id="billetera">
                        <div class="card">
                            <div id="DataTables_Table_0_wrapper" style="overflow: hidden" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Depositos</h6></div></div>
                                <div class="d-flex justify-content-between align-items-center mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label class="d-flex align-items-center">Mostrar 
                                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="7">7</option>
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="75">75</option>
                                                    <option value="100">100</option>
                                                </select> entradas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                        </div>
                                    </div>
                                </div>
                                <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Tipo de Transacción</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Email Beneficiario</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">Paquetes</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap;" aria-label="Date: activate to sort column ascending">Monto</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Fecha</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Estado</th></tr>
                                    </thead>
                                    <tbody>
                                    {{#if wallet}}
                                        {{#each wallet as |item i|}}
                                        <tr>
                                            <td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td>
                                            <td style="white-space: nowrap;">{{metodos_pago.transaction_type}}</td>
                                            <td style="white-space: nowrap;">{{metodos_pago.digital_wallet_email}}</td>
                                            <td>
                                                <a class="btn btn-primary showModalBtn" style="white-space: nowrap; text-overflow: ellipsis;" data-id="{{paquete.id}}" data-status="{{status}}"  data-name="{{#paqueteNombrepy24 paquete.name}}{{/paqueteNombrepy24}}" data-price="{{paquete.price}}"  data-duration="{{paquete.duration}}" data-amount_th="{{paquete.amount_th}}" data-maintance="{{paquete.maintance_charge}}" data-date="{{#formatDatapy24 createdAt}}{{/formatDatapy24}}" data-activated="{{activatedAt}}" data-culmination="{{culmination}}" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Ver</a>
                                            </td>
                                            <td style="white-space: nowrap;">{{paquete.price}}</td>
                                            <td style="white-space: nowrap;">{{#formatDatapy24 createdAt}}{{/formatDatapy24}}</td>
                                            <td>
                                                {{#estadodepositospy24 status}}{{/estadodepositospy24}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td style="white-space: nowrap;">No existen depositos</td>
                                        </tr>
                                    {{/if}}
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}} <!-- END ROLE CLIENT -->
                </div>
            </section>

            <!--- MODAL PAQUETES --->
            <div class="modal fade" id="addNewCard2" tabindex="-1" aria-labelledby="addNewCardTitle" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="pname">Código del paquete: 001</h1>
                            <div class="card-body row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Nombre del Paquete</label>
                                    <input id="name" class="form-control" type="text" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Total de TH</label>
                                    <input id="amount_th" class="form-control" type="text" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Duración de Minado / Meses</label>
                                    <input type="text" id="duration" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Creación</label>
                                    <input type="text" id="date" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Activación</label>
                                    <input type="text" id="activated" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Culminación</label>
                                    <input type="text" id="culmination" class="form-control" value="" readonly>
                                </div>
                                
                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Porcentaje a cobrar por mantenimiento</label>
                                    <input type="text" id="maintance" class="form-control" value="" readonly>
                                </div>
                                
                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Monto Total $</label>
                                    <input type="text" id="amount" class="form-control" value="" readonly>
                                </div>

                                <div class="col-12 col-md-6 mb-2">
                                    <label class="form-label" for="">Estado</label>
                                    <input type="text" id="state" class="form-control" value="" readonly>
                                </div>
                                
                                <div class="col-12">
                                    <a href="#" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL PAQUETES --->
        </div>
    </div>  
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>      
<script>
    let btn = document.querySelectorAll('.showModalBtn')
    let newArr = [];

    btn.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetModal(current);
        });
    });

    const SetModal = (target) => {
        const packName = document.getElementById('pname'),
        name = document.getElementById('name'),
        amount_th = document.getElementById('amount_th'),
        duration = document.getElementById('duration'),
        date = document.getElementById('date'),
        activated = document.getElementById('activated'),
        culmination = document.getElementById('culmination'),
        maintance = document.getElementById('maintance'),
        amount = document.getElementById('amount'),
        state = document.getElementById('state');

        packName.innerText = target.getAttribute('data-name')
        name.value = target.getAttribute('data-name')
        amount_th.value = target.getAttribute('data-amount_th')
        duration.value = target.getAttribute('data-duration')
        amount.value = target.getAttribute('data-price')
        date.value = target.getAttribute('data-date')
        state.value = target.getAttribute('data-status')
        activated.value = target.getAttribute('data-activated')
        culmination.value = target.getAttribute('data-culmination')
        maintance.value = target.getAttribute('data-maintance') + '%'
    }

    $(document).ready(function() {

        $('#transfbtn').on('click', (e)=> {
            Reset(1)
        });
        $('#pagombtn').on('click', (e)=> {
            Reset(2);
        });
        $('#billeterabtn').on('click', (e)=> {
            Reset(3);
        });
        $('#btcwbtn').on('click', (e)=> {
            Reset(4);
        });

        function Reset(num) {
            $('#transf').removeClass('show')
            $('#transf').addClass('collpase')

            $('#pagom').removeClass('show')
            $('#pagom').addClass('collpase')

            $('#billetera').removeClass('show')
            $('#billetera').addClass('collpase')
            
            $('#btcw').removeClass('show')
            $('#btcw').addClass('collpase')
            switch (num){
                case 1:
                    $('#transf').removeClass('collpase')
                    $('#transf').addClass('show')
                    break;
                case 2:
                    $('#pagom').removeClass('collpase')
                    $('#pagom').addClass('show')
                    break;
                case 3:
                    $('#billetera').addClass('show')
                    $('#billetera').removeClass('collpase')
                    break;
                case 4:
                    $('#btcw').addClass('show')
                    $('#btcw').removeClass('collpase')
                    break;
                default:
                break;
            }
        }
    });
</script>