<!-- BEGIN: Header-->
{{#if login}}{{else}}
<nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl py672">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <ul class="nav navbar-nav d-xl-none">
                <li class="nav-item"><a class="nav-link menu-toggle" href="#">
                    <i class="ficon" data-feather="menu"></i></a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav align-items-center ms-auto">
            {{#if roleUser}}{{else}}
            <li class="nav-item dropdown dropdown-notification me-25">
                <a class="nav-link" href="#" data-bs-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus ficon"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end drop-main-menu">
                    <form  class="form" action="/registrarestudiantepy672" method="POST">
                        <li class="dropdown-menu-header">
                            <div class="dropdown-header d-flex">
                                <h4 class="notification-title mb-0 me-auto">Registrar alumno</h4>
                            </div>
                        </li>
                        <li class="scrollable-container media-list">
                            <div>
                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label">Grupo</label>

                                        <div class="position-relative">
                                            <select class="select2 form-select" tabindex="-1" name="grupoId" aria-hidden="true" required>
                                                {{#each gruposTodos as |item i|}}
                                                <option value="{{id}}">
                                                    {{identificador}} - {{dia_horario}} - {{#fechamenumatriculapy672 fecha_inicio}}{{/fechamenumatriculapy672}}
                                                </option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label">Nombres</label>
                                        <input type="text" class="form-control" placeholder="Nombres" name="nombre" required>
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">1er apellido</label>
                                        <input type="text" class="form-control" placeholder="1er apellido" name="apellido1" required>
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">2do apellido</label>
                                        <input type="text" class="form-control" placeholder="2do apellido" name="apellido2" required>
                                    </div>
                                </div>
                                
                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Nacional</label>
                                        <div class="demo-inline-spacing">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="tipo" id="inlineRadio1" value="1" checked="">
                                                <label class="form-check-label" for="inlineRadio1">Nacional</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineRadio2" name="tipo" value="2">
                                                <label class="form-check-label" for="inlineRadio2">Extranjero</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-item bg-white d-flex flex-column" id="nacionalCampos">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">No. Identificación</label>
                                    </div>
                                    <div class="list-item-body flex-grow-1 d-flex">
                                        <input type="text" class="d-none" name="dni" id="nacionalDni" value="">

                                        <input type="text" class="form-control" id="primerCampo" minlength="1" maxlength="1">
                                        <input type="text" class="form-control mx-1"id="segundoCampo" min="0" minlength="4" maxlength="4">
                                        <input type="text" class="form-control" id="tercerCampo" minlength="4" maxlength="4">
                                    </div>
                                </div>

                                <div class="list-item bg-white" id="ExtranjeroCampo">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">No. Identificación</label>
                                        <input type="text" class="form-control" placeholder="No. Identificación" id="exDni">
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Sexo</label>
                                        <select class="form-select" name="genero" required>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Masculino">Masculino</option>
                                        </select>                                    
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Fecha de nacimiento</label>
                                        <input type="text" id="fp-default" class="form-control flatpickr-basic" placeholder="YYYY-MM-DD" name="nacimiento" required>
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Teléfono 1</label>
                                        <input type="text" class="form-control" name="telefono1" required>
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Teléfono 2</label>
                                        <input type="text" class="form-control" name="telefono2">
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Teléfono 3</label>
                                        <input type="text" class="form-control" name="telefono3">
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Email</label>
                                        <input type="text" class="form-control" name="email" required>
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="">Vendedor</label>
                                        <select type="text" class="form-select select2" name="vendedor">
                                            <option value="">Seleccione un Vendedor</option>
                                            <option value="">Isaac Mosqueda</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Provincia</label>
                                        <div class="position-relative">
                                            <select class="select2 form-select" tabindex="-1" name="provincia" aria-hidden="true" id="select-provincia" required>
                                                <option value="">Seleccione una Provincia</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Cantón</label>
                                        <div class="position-relative">
                                            <select class="select2 form-select" id="select-canton" tabindex="-1" name="canton" aria-hidden="true" disabled required>
                                                <option value="">Seleccione un Canton</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-item bg-white">
                                    <div class="list-item-body flex-grow-1">
                                        <label class="form-label" for="fp-default">Distrito</label>
                                        <select class="select2 form-select" id="select-distrito" tabindex="-1" name="distrito" aria-hidden="true" disabled required>
                                            <option value="">Seleccione un Distrito</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></li>
                        <li class="dropdown-menu-footer">
                            <input type="submit" class="btn btn-primary" value="Registrar">
                        </li>
                    </form>
                </ul>
            </li>
            {{/if}}
            <li class="nav-item dropdown dropdown-user">
                <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="user-nav d-sm-flex d-none">
                        <span class="user-name fw-bolder">{{#if nombre}}{{nombre}}{{else}}Mosqueda Cordova{{/if}}</span>
                        <span class="user-status">{{#if role}}{{role}}{{else}}Administrador{{/if}}</span>
                    </div>
                    <span class="avatar">
                        <img class="round" src="../../../app-assets/images/portrait/small/avatar-s-11.jpg" alt="avatar" height="40" width="40">
                        <span class="avatar-status-online"></span>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                    <a class="dropdown-item" href="/logout/PYT-672">
                        <i class="me-50" data-feather="power"></i> 
                        Cerrar sesión
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto">
                <a class="navbar-brand" href="#">
                    <h2 class="brand-text">Logo</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse">
                    <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>
                    <i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">{{#if role}}{{role}}{{else}}Dashboard{{/if}}</span><i
                    data-feather="more-horizontal"></i>
            {{#if roleUser}}
            <li class="{{#if board}}active{{/if}} nav-item">
                <a class="d-flex align-items-center" href="/board672/PYT-672">
                    <i data-feather="home"></i>
                    <span class="menu-title text-truncate">Tablero</span>
                </a>
            </li>
            {{else}}
            <li class="{{#if grupos}}active{{/if}} nav-item">
                <a class="d-flex align-items-center" href="/verificargrupos/PYT-672">
                    <i data-feather="home"></i>
                    <span class="menu-title text-truncate">Grupos</span>
                </a>
            </li>
            <li class="{{#if matric}}active{{/if}} nav-item">
                <a class="d-flex align-items-center" href="/matriculas/PYT-672">
                    <i data-feather='trending-up'></i>
                    <span class="menu-title text-truncate">Alumnos</span>
                </a>
            </li>
            <li class="{{#if asistencias}}active{{/if}} nav-item">
                <a class="d-flex align-items-center" href="/control/PYT-672">
                    <i data-feather='clipboard'></i>
                    <span class="menu-title text-truncate">Control</span>
                </a>
            </li>
            <li class="{{#if historial}}active{{/if}} nav-item">
                <a class="d-flex align-items-center" href="/historial/PYT-672">
                    <i data-feather='file-text'></i>
                    <span class="menu-title text-truncate">Historial</span>
                </a>
            </li>
            <li class="{{#if caja}}active{{/if}} nav-item">
                <a class="d-flex align-items-center" href="/caja/PYT-672">
                    <i data-feather='dollar-sign'></i>
                    <span class="menu-title text-truncate">Caja</span>
                </a>
            </li>
            <li class="{{#if usuarios}}active{{/if}} nav-item">
                <a class="d-flex align-items-center" href="/usuarios672/PYT-672">
                    <i data-feather='users'></i>
                    <span class="menu-title text-truncate">Usuarios</span>
                </a>
            </li>
            {{!--<li class="{{#if calificaciones}}active{{/if}} nav-item">
                <a class="d-flex align-items-center" href="/calificaciones/PYT-672">
                    <i data-feather='book-open'></i>
                    <span class="menu-title text-truncate">Calificaciones</span>
                </a>
            </li>--}}
            {{/if}}
        </ul>
    </div>
</div>
<!-- END: Main Menu-->
{{/if}}

<script>
    let radio1 = document.getElementById('inlineRadio1'),
    radio2 = document.getElementById('inlineRadio2'),
    nacionalC = document.getElementById('nacionalCampos'),
    exC = document.getElementById('ExtranjeroCampo'),
    nacionalDni = document.getElementById('nacionalDni'),
    exDni = document.getElementById('exDni'),
    primerC = document.getElementById('primerCampo'),
    segundoC = document.getElementById('segundoCampo'),
    tercerC = document.getElementById('tercerCampo');

    let exp =  /^[0-9]+$/;
    primerC.addEventListener('keydown', e => {
        nacionalDni.value = primerC.value + segundoC.value + tercerC.value;
        if (primerC.value.match(exp)) {
            segundoC.focus();
        } else {
            primerC.value = '';
        }
    });

    segundoC.addEventListener('keydown', e => {
        nacionalDni.value = primerC.value + segundoC.value + tercerC.value;
        if (segundoC.value.match(exp)){
            if(segundoC.value.length === 4) {
                tercerC.focus();
            }
        } else {
            segundoC.value.slice(0,-1);
        }
    });

    tercerC.addEventListener('keydown', e => {
        nacionalDni.value = primerC.value + segundoC.value + tercerC.value;
        let current = '';
        if (!tercerC.value.match(exp)){
            tercerC.value = current;
        } else {
            tercerC.value.slice(0,-1);
        }
    });

    radio1.addEventListener('change', e => {
        SetRadio1();
    });

    radio2.addEventListener('change', e => {
        SetRadio2();
    });

    const SetRadio1 = () => {
        nacionalC.classList.remove('d-none');
        nacionalC.classList.add('d-block');

        exC.classList.remove('d-block');
        exC.classList.add('d-none');
    }

    const SetRadio2 = () => {
        exC.classList.remove('d-none');
        exC.classList.add('d-block');

        nacionalC.classList.remove('d-block');
        nacionalC.classList.add('d-none');
    }

    SetRadio1();

    exDni.addEventListener('keydown', e => {
        nacionalDni.value = exDni.value;
    });
</script>