<div class="app-content content py28">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section class="vertical-wizard">
                <div class="bs-stepper vertical vertical-wizard-example">
                    <div class="bs-stepper-header">
                        <h4 style="white-space: nowrap;">Add payment method</h4>
                        <!--<div class="step active" data-target="#account-details-vertical" role="tab" id="account-details-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="true">
                                <span class="bs-stepper-box">1</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Transferencia Bancaria</span>
                                </span>
                            </button>
                        </div>
                        <div class="step" data-target="#address-step-vertical2" role="tab" id="address-step-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="false">
                                <span class="bs-stepper-box">2</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Pago Móvil</span>
                                </span>
                            </button>
                        </div>-->
                        <!--<div class="step" data-target="#address-step-vertical" role="tab" id="address-step-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="false">
                                <span class="bs-stepper-box">4</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Retiro en Billetera digital</span>
                                </span>
                            </button>
                        </div>-->
                        <div class="step active" data-target="#personal-info-vertical" role="tab" id="personal-info-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="false">
                                <span class="bs-stepper-box">1</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Pay in BTC</span>
                                </span>
                            </button>
                        </div>

                        <div class="step" data-target="#address-step-vertical3" role="tab" id="address-step-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="false">
                                <span class="bs-stepper-box">2</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Pay in BNB</span>
                                </span>
                            </button>
                        </div>
                        
                        <div class="step" data-target="#address-step-vertical4" role="tab" id="address-step-vertical-trigger">
                            <button type="button" class="step-trigger" aria-selected="false">
                                <span class="bs-stepper-box">3</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Pay in USDT</span>
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="bs-stepper-content">
                        <!--<form method="POST" action="/addbank" id="account-details-vertical" class="content dstepper-block" role="tabpanel">
                            <div class="content-header">
                                <h5 class="mb-0">Transferencia Bancaria</h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Nombre Completo</label>
                                    <input type="text" id="" name="fullname" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Documento de identificación</label>
                                    <input type="text" id="" name="dni" class="form-control" placeholder="" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Tipo de Banco</label>
                                    <input type="text" id="" name="bank_name" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Tipo de Cuenta</label>
                                    <select name="type_account" id="" class="form-select" required>
                                        <option value="Corriente" selected>Corriente</option>
                                        <option value="Ahorro">Ahorro</option>
                                    </select>
                                </div>
                                <div class="mb-1">
                                    <label class="form-label" for="">Nro de Cuenta Bancaria</label>
                                    <input type="text" id="" name="num_account" class="form-control" placeholder="" required>
                                </div>
                            </div>
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1">
                                    Añadir
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Descartar
                                </button>
                            </div>
                        </form>-->
                        
                        <form method="POST" action="/addbtcpy28" id="personal-info-vertical" class="content dstepper-block active" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Pay in BTC</h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-first-name">Code Wallet</label>
                                    <input type="text" id="" name="code_wallet" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <div class="d-flex">
                                <button type="submit" class="btn btn-outline-primary waves-effect waves-float waves-light me-1">
                                    Add
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Discard
                                </button>
                            </div>
                        </form>

                        <form method="POST" action="/addbnbpy28" id="address-step-vertical3" class="content dstepper-block" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Pay in BNB</h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-first-name">Code Wallet</label>
                                    <input type="text" id="" name="code_wallet" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <div class="d-flex">
                                <button type="submit" class="btn btn-outline-primary waves-effect waves-float waves-light me-1">
                                    Add
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Discard
                                </button>
                            </div>
                        </form>

                        <form method="POST" action="/addusdtpy28" id="address-step-vertical4" class="content dstepper-block" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Pay in USDT
                                </h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-first-name">Code Wallet</label>
                                    <input type="text" id="" name="code_wallet" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <div class="d-flex">
                                <button type="submit" class="btn btn-outline-primary waves-effect waves-float waves-light me-1">
                                    Add
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Discard
                                </button>
                            </div>
                        </form>

                        <!---<form method="POST" action="/addwallet" id="address-step-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Retiro en Billetera digital</h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Email</label>
                                    <input type="email" id="" name="email" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1">
                                    Añadir
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Descartar
                                </button>
                            </div>
                        </form>

                        <form method="POST" action="/addpaym" id="address-step-vertical2" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Pago Móvil</h5>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Nombre Completo</label>
                                    <input type="text" name="fullname" id="" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Documento de identicicación</label>
                                    <input type="text" name="dni" id="" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Banco</label>
                                    <input type="text" id="" name="bank_name" class="form-control" placeholder="" required>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="">Telefono</label>
                                    <input type="text" id="" name="phone" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <div class="d-flex">
                                <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                    Añadir
                                </button>
                                <button class="btn btn-outline-secondary waves-effect waves-float waves-light">
                                    Descartar
                                </button>
                            </div>
                        </form>-->
                    </div>
                </div>
            </section>

            <div class="col-12">
                <div class="card card-statistics">
                    <div class="card-body statistics-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-12 mb-2 mb-sm-0" type="button" data-bs-toggle="collapse" data-bs-target="#btcw" aria-expanded="true" id="btcwbtn">
                                <div class="d-flex flex-row">
                                    <div class="avatar bg-light-primary me-2">
                                        <div class="avatar-content">
                                            <i data-feather='credit-card' class="feather feather-trending-up avatar-icon text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="my-auto">
                                        <h5 class="fw-bolder mb-0">BTC</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-12 mb-2 mb-md-0" type="button" data-bs-toggle="collapse" data-bs-target="#bnbw" aria-expanded="true" id="bnbwbtn">
                                <div class="d-flex flex-row">
                                    <div class="avatar bg-light-primary me-2">
                                        <div class="avatar-content">
                                            <i data-feather='credit-card' class="feather feather-trending-up avatar-icon text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="my-auto">
                                        <h5 class="fw-bolder mb-0">BNB</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-12 mb-2 mb-sm-0" type="button" data-bs-toggle="collapse" data-bs-target="#usdtw" aria-expanded="true" id="usdtwbtn">
                                <div class="d-flex flex-row">
                                    <div class="avatar bg-light-primary me-2">
                                        <div class="avatar-content">
                                            <i data-feather='credit-card' class="feather feather-trending-up avatar-icon text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="my-auto">
                                        <h5 class="fw-bolder mb-0">USDT</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGO BTC -->
            <div class="col-12 collapse" id="btcw">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">BTC</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Show 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th>Transaction type</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Code Wallet</th><th>Status</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Action</th></tr>
                                </thead>
                                <tbody>
                                    {{#if allbtc}}
                                    {{#each allbtc as |item i|}}
                                    <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td>{{item.transaction_type}}</td><td style="white-space: nowrap;">{{item.code_wallet}}</td><td>{{#statusmetodospagospy24 item.status}} {{/statusmetodospagospy24}}</td>
                                    
                                        <td class="text-nowrap" style=""><div class="d-inline-flex"><a class="pe-1 dropdown-toggle hide-arrow text-primary" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-small-4"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></a><div class="dropdown-menu dropdown-menu-end">

                                            <form action="/updatestatuspaymethodpy28" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <input type="text" name="status" value="{{item.status}}" class="d-none">
                                                <button type="submit" class="dropdown-item w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text font-small-4 me-50"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>{{#statuspaymethodspy24 item.status}} {{/statuspaymethodspy24}}</button>
                                            </form>

                                            <form action="/deletepaymethodpy28" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <button type="submit" class="dropdown-item delete-record w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 font-small-4 me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>Delete</button></div></div>

                                                <a class="item-edit editar-btc" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard3" data-id="{{item.id}}" data-code="{{item.code_wallet}}"><svg style="pointer-events: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit font-small-4 text-primary"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    {{else}}
                                    <tr>
                                        <td style="white-space: nowrap;">There are no registered payment methods</td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 0 to 7 of 100 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGO BNB -->
            <div class="col-12 collapse" id="bnbw">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">BNB</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Show 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th>Transaction type</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Code Wallet</th><th>Status</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Action</th></tr>
                                </thead>
                                <tbody>
                                    {{#if allbnb}}
                                    {{#each allbnb as |item i|}}
                                    <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td>{{item.transaction_type}}</td><td style="white-space: nowrap;">{{item.code_wallet}}</td><td>{{#statusmetodospagospy24 item.status}} {{/statusmetodospagospy24}}</td>
                                    
                                        <td class="text-nowrap" style=""><div class="d-inline-flex"><a class="pe-1 dropdown-toggle hide-arrow text-primary" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-small-4"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></a><div class="dropdown-menu dropdown-menu-end">

                                            <form action="/updatestatuspaymethodpy28" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <input type="text" name="status" value="{{item.status}}" class="d-none">
                                                <button type="submit" class="dropdown-item w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text font-small-4 me-50"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>{{#statuspaymethodspy24 item.status}} {{/statuspaymethodspy24}}</button>
                                            </form>

                                            <form action="/deletepaymethodpy28" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <button type="submit" class="dropdown-item delete-record w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 font-small-4 me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>Delete</button></div></div>

                                                <a class="item-edit editar-bnb" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard5" data-id="{{item.id}}" data-code="{{item.code_wallet}}"><svg style="pointer-events: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit font-small-4 text-primary"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    {{else}}
                                    <tr>
                                        <td style="white-space: nowrap;">There are no registered payment methods</td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 0 to 7 of 100 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGO USDT -->
            <div class="col-12 collapse" id="usdtw">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">USDT</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Show 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th>Transaction type</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Code Wallet</th><th>Status</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Action</th></tr>
                                </thead>
                                <tbody>
                                    {{#if allusdt}}
                                    {{#each allusdt as |item i|}}
                                    <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td>{{item.transaction_type}}</td><td style="white-space: nowrap;">{{item.code_wallet}}</td><td>{{#statusmetodospagospy24 item.status}} {{/statusmetodospagospy24}}</td>
                                    
                                        <td class="text-nowrap"><div class="d-inline-flex"><a class="pe-1 dropdown-toggle hide-arrow text-primary" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-small-4"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></a><div class="dropdown-menu dropdown-menu-end">

                                            <form action="/updatestatuspaymethodpy28" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <input type="text" name="status" value="{{item.status}}" class="d-none">
                                                <button type="submit" class="dropdown-item w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text font-small-4 me-50"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>{{#statuspaymethodspy28 item.status}} {{/statuspaymethodspy28}}</button>
                                            </form>

                                            <form action="/deletepaymethodpy28" method="POST">
                                                <input type="text" name="id" value="{{item.id}}" class="d-none">
                                                <button type="submit" class="dropdown-item delete-record w-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 font-small-4 me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>Delete</button></div></div>

                                                <a class="item-edit editar-usdt" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard6" data-id="{{item.id}}" data-code="{{item.code_wallet}}"><svg style="pointer-events: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit font-small-4 text-primary"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    {{else}}
                                    <tr>
                                        <td style="white-space: nowrap;">There are no registered payment methods</td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 0 to 7 of 100 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--- MODAL ACTUALIZAR --->

            <!--- MODAL BTC --->
            <div class="modal fade" id="addNewCard3" tabindex="-1" aria-labelledby="" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Update Payment Method</h1>
                            <form action="/updatepaymethodpy28" method="POST" class="card-body row">
                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Method</label>
                                    <input type="text" name="id" class="d-none" id="idbtc" readonly required>
                                    <input name="ttype" class="form-control" type="text" value="BTC" readonly required>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Code Wallet</label>
                                    <input type="text" name="code_wallet" id="code_wallet" class="form-control" value="">
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary">Update</button>
                                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->

            <!--- MODAL BNB --->
            <div class="modal fade" id="addNewCard5" tabindex="-1" aria-labelledby="" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Update Payment Method</h1>
                            <form action="/updatepaymethodpy28" method="POST" class="card-body row">
                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Method</label>
                                    <input type="text" name="id" class="d-none" id="idbnb" readonly required>
                                    <input name="ttype" class="form-control" type="text" value="BNB" readonly required>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Code Wallet</label>
                                    <input type="text" name="code_wallet" id="code_wallet_bnb" class="form-control code_wallet" value="">
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary">Update</button>
                                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->

            <!--- MODAL USDT --->
            <div class="modal fade" id="addNewCard6" tabindex="-1" aria-labelledby="" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Update Payment Method</h1>
                            <form action="/updatepaymethodpy28" method="POST" class="card-body row">
                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Method</label>
                                    <input type="text" name="id" class="d-none" id="idusdt" readonly required>
                                    <input name="ttype" class="form-control" type="text" value="USDT" readonly required>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Code Wallet</label>
                                    <input type="text" name="code_wallet" id="code_wallet_usdt" class="form-control code_wallet" value="">
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary">Update</button>
                                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    let editTrasnf = document.querySelectorAll('.editar-transferencias'),
    editPagom = document.querySelectorAll('.editar-pagomovil'),
    editBtc = document.querySelectorAll('.editar-btc'),
    editBnb = document.querySelectorAll('.editar-bnb'),
    editUsdt = document.querySelectorAll('.editar-usdt'),
    editWallet = document.querySelectorAll('.editar-billetera');

    editTrasnf.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetTransfModal(current);
        });
    });

    editPagom.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetPagomModal(current);
        });
    });

    editBtc.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetBTCModal(current);
        });
    });

    editBnb.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetBNBModal(current);
        });
    });

    editUsdt.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetUSDTModal(current);
        });
    });

    editWallet.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetWalletModal(current);
        });
    });

    const SetTransfModal = (target) => {
        const name = document.getElementById('name1'),
        id = document.getElementById('idtrans'),
        dni = document.getElementById('dni1'),
        bank = document.getElementById('bank1'),
        tacc = document.getElementById('type_account'),
        nacc = document.getElementById('num_account1');

        id.value = target.getAttribute('data-id')
        name.value = target.getAttribute('data-name')
        dni.value = target.getAttribute('data-dni')
        bank.value = target.getAttribute('data-bank')
        tacc.value = target.getAttribute('data-tacc')
        nacc.value = target.getAttribute('data-numacc')

        console.log(target.getAttribute('data-tacc'))
        console.log(target.getAttribute('data-numacc'))
    }

    const SetPagomModal = (target) => {
        const name = document.getElementById('name2'),
        id = document.getElementById('idpagom'),
        dni = document.getElementById('dni2'),
        bank = document.getElementById('bank2'),
        phone = document.getElementById('phone');

        id.value = target.getAttribute('data-id')
        name.value = target.getAttribute('data-name')
        dni.value = target.getAttribute('data-dni')
        bank.value = target.getAttribute('data-bank')
        phone.value = target.getAttribute('data-phone')

    }

    const SetBTCModal = (target) => {
        const id = document.getElementById('idbtc'),
        code = document.getElementById('code_wallet');

        id.value = target.getAttribute('data-id')
        code.value = target.getAttribute('data-code')
    }

    const SetBNBModal = (target) => {
        const id = document.getElementById('idbnb'),
        code = document.getElementById('code_wallet_bnb');

        id.value = target.getAttribute('data-id')
        code.value = target.getAttribute('data-code')
    }

    const SetUSDTModal = (target) => {
        const id = document.getElementById('idusdt'),
        code = document.getElementById('code_wallet_usdt');

        id.value = target.getAttribute('data-id')
        code.value = target.getAttribute('data-code')
    }

    const SetWalletModal = (target) => {
        const id = document.getElementById('idwallet'),
        email = document.getElementById('email_wallet');

        id.value = target.getAttribute('data-id')
        email.value = target.getAttribute('data-email')
    }

  $(document).ready(function(){

    $('#transfbtn').on('click', (e)=> {
        Reset(1)
    });
    $('#pagombtn').on('click', (e)=> {
        Reset(2);
    });
    $('#billeterabtn').on('click', (e)=> {
        Reset(3);
    });
     $('#btcwbtn').on('click', (e)=> {
        Reset(4);
    });
     $('#bnbwbtn').on('click', (e)=> {
        Reset(5);
    });
     $('#usdtwbtn').on('click', (e)=> {
        Reset(6);
    });

    function Reset(num) {
        $('#transf').removeClass('show')
        $('#transf').addClass('collpase')

        $('#pagom').removeClass('show')
        $('#pagom').addClass('collpase')

        $('#billetera').removeClass('show')
        $('#billetera').addClass('collpase')
        
        $('#btcw').removeClass('show')
        $('#btcw').addClass('collpase')
        
        $('#bnbw').removeClass('show')
        $('#bnbw').addClass('collpase')
        
        $('#usdtw').removeClass('show')
        $('#usdtw').addClass('collpase')
        switch (num){
            case 1:
                $('#transf').removeClass('collpase')
                $('#transf').addClass('show')
                break;
            case 2:
                $('#pagom').removeClass('collpase')
                $('#pagom').addClass('show')
                break;
            case 3:
                $('#billetera').addClass('show')
                $('#billetera').removeClass('collpase')
                break;
            case 4:
                $('#btcw').addClass('show')
                $('#btcw').removeClass('collpase')
                break;
            case 5:
                $('#bnbw').addClass('show')
                $('#bnbw').removeClass('collpase')
                break;
            case 6:
                $('#usdtw').addClass('show')
                $('#usdtw').removeClass('collpase')
                break;
            default:
            break
        }
    }
});
</script>