<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<div class="app-content content py27">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div id="loading3">
                <div id="progressBar1" class='progress-bar' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'>0%
                </div>
            </div>

            <section id="pricing-plan">    
                {{#if roleClient}}
                <div class="row pricing-card">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Buy ACN</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex p-1">
                                            <form class="form form-horizontal" id="personalizadosform">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="mb-1 row">
                                                            <div class="col-sm-3 col-lg-4">
                                                                <label class="col-form-label" for="">Amount of ACN</label>
                                                            </div>
                                                            <div class="col-sm-9 col-lg-8">
                                                                <input type="number" id="amountth" class="form-control" name="amount" placeholder="13" value="0" min="0" autocomplete="off" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="mb-1 row">
                                                            <div class="col-sm-3 col-lg-4">
                                                                <label class="col-form-label" for="">Cost USDT</label>
                                                            </div>
                                                            <div class="col-sm-9 col-lg-8">
                                                                <input type="number" id="costo_ref" class="d-none" name="" value="{{aerocoin.price}}" min="0">
                                                                <input type="number" id="btc_price" class="d-none" name="" value="{{btcprice.price}}" min="0">
                                                                <input type="number" id="bnb_price" class="d-none" name="" value="{{bnbprice.price}}" min="0">
                                                                <input type="number" id="price_" class="form-control" name="price" placeholder="600 USD" value="0" min="0" step="0.1" readonly>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-9 offset-sm-3">
                                                        <button type="button" class="btn btn-outline-primary me-1 waves-effect waves-float waves-light" id="buybtn"  role="button" data-bs-toggle="modal" data-bs-target="#pagar">Buy</button>
                                                        <button type="reset" class="btn btn-outline-secondary waves-effect">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}

                {{#if allpays}}
                {{!-- MODAL PAGAR --}}
                <div class="modal fade" id="pagar" tabindex="-1" style="padding-left: 0px;" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-sm-5 mx-50 pb-0">
                                <div class="text-center">
                                    <h1>Payment to be made</h1>
                                    <p class="mb-3"></p>
                                </div>

                                <section class="vertical-wizard">
                                    <div class="bs-stepper vertical vertical-wizard-example">
                                        <div class="bs-stepper-header">
                                            <h4 style="white-space: nowrap;">Choose a payment method</h4>
                                            <!--<div class="step" data-target="#account-details-vertical" role="tab" id="account-details-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="true">
                                                    <span class="bs-stepper-box">1</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Transferencia Bancaria</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="step" data-target="#address-step-vertical2" role="tab" id="address-step-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">2</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Pago Móvil</span>
                                                    </span>
                                                </button>
                                            </div>-->
                                            <div class="step active" data-target="#personal-info-vertical" role="tab" id="personal-info-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">1</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Pay in BTC</span>
                                                    </span>
                                                </button>
                                            </div>

                                            <div class="step" data-target="#address-step-vertical3" role="tab" id="address-step-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">2</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Pay in BNB</span>
                                                    </span>
                                                </button>
                                            </div>
                                            
                                            <div class="step" data-target="#address-step-vertical4" role="tab" id="address-step-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">3</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Pay in USDT</span>
                                                    </span>
                                                </button>
                                            </div>

                                            <!--<div class="step" data-target="#address-step-vertical" role="tab" id="address-step-vertical-trigger">
                                                <button type="button" class="step-trigger" aria-selected="false">
                                                    <span class="bs-stepper-box">4</span>
                                                    <span class="bs-stepper-label">
                                                        <span class="bs-stepper-title">Pago en Billetera digital</span>
                                                    </span>
                                                </button>                                         
                                            </div>-->
                                        </div>
                                        <div class="bs-stepper-content">
                                            <!--- BTC -->
                                            <form action="/buyaerocoins" method="POST" id="personal-info-vertical" class="content dstepper-block active" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Pay in BTC</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Code Wallet</label>
                                                        <input type="text" name="id" class="d-none id" value="" required readonly>

                                                        {{#if allbtc}}
                                                        <input type="text" name="methodid" class="d-none" value="{{allbtc.id}}" required readonly>
                                                        <input type="text" id="code_wallet" class="form-control" value="{{allbtc.code_wallet}}" required readonly>
                                                        {{else}}
                                                        <input type="text" class="form-control mb-1" value="-" disabled>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Amount of ACN</label>
                                                        <input type="text" name="amountCoin" class="form-control amountCoin" value="" required readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Amount USDT</label>
                                                        <input type="number" name="" class="form-control amount" placeholder="" min="0" required readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Amount BTC</label>
                                                        <input type="number" name="amount" class="form-control amountbtc" id="amountbtc" placeholder="" min="0" step="0.01" required readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Transaction Hash</label>
                                                        <input type="text" name="refs" class="form-control" placeholder="" required>
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1" {{#if allbtc}}{{else}} disabled {{/if}}>
                                                        Make Payment
                                                    </button>
                                                </div>
                                            </form>
                    
                                            <form method="POST" action="/buyaerocoins" id="address-step-vertical3" class="content dstepper-block" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Pay in BNB</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Code Wallet</label>
                                                        <input type="text" name="id" class="d-none id" value="" required readonly>
                                                                                                                                                                    {{#if allbnb}}
                                                        <input type="text" name="methodid" class="d-none" value="{{allbnb.id}}" required readonly>
                                                        <input type="text" id="code_wallet_bnb" class="form-control" data-code-wallet="{{allbnb.code_wallet}}" data-id="{{allbnb.id}}" value="{{allbnb.id}}" required readonly>
                                                        {{else}}
                                                        <input type="text" class="form-control mb-1" value="-" disabled>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Amount of ACN</label>
                                                        <input type="text" name="amountCoin" class="form-control amountCoin" value="" required readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Amount USDT</label>
                                                        <input type="number" name="" class="form-control amount" placeholder="" min="0" required readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Amount BNB</label>
                                                        <input type="number" name="amount" class="form-control amountbnb" id="amountbnb" placeholder="" min="0" required readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Transaction Hash</label>
                                                        <input type="text" name="refs" class="form-control" placeholder="" required>
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1" {{#if allbnb}}{{else}} disabled {{/if}}>
                                                        Make Payment
                                                    </button>
                                                </div>
                                            </form>

                                            <form method="POST" action="/buyaerocoins" id="address-step-vertical4" class="content dstepper-block" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                                                <div class="content-header">
                                                    <h5 class="mb-0">Pay in USDT</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Code Wallet</label>
                                                        <input type="text" name="id" class="d-none id" value="" required readonly>
                                                                                                                                                                    {{#if allusdt}}
                                                        <input type="text" name="methodid" class="d-none" value="{{allusdt.id}}" required readonly>
                                                        <input type="text" id="code_wallet" class="form-control" value="{{allbtc.code_wallet}}" required readonly>
                                                        {{else}}
                                                        <input type="text" class="form-control mb-1" value="-" disabled>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Amount of ACN</label>
                                                        <input type="text" name="amountCoin" class="form-control amountCoin" value="" required readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Amount USDT</label>
                                                        <input type="number" name="amount" class="form-control amount" placeholder="" min="0" required readonly>
                                                    </div>
                                                    <div class="mb-1 col-12">
                                                        <label class="form-label" for="">Transaction Hash</label>
                                                        <input type="text" name="refs" class="form-control" placeholder="" required>
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1" {{#if allusdt}}{{else}} disabled {{/if}}>
                                                        Make Payment
                                                    </button>
                                                </div>
                                            </form>  
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- END MODAL PAGAR --}}
                {{else}}
                <!--- MODAL SIN METODOS DE PAGO --->
                <div class="modal fade" id="pagar" tabindex="-1" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h1 class="text-center mb-1">¡We're sorry!</h1>
                                <h3 class="text-center mb-1">You cannot make your purchase</h3>
                                <p class="text-center">There is currently no payment method available to complete your transaction, please stay tuned, the administrator can add them at any time!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- END MODAL --->
                {{/if}}
            </section>
        </div>
    </div>
</div>

<script>
    let selectBanks = document.getElementById('selectBanks'),
    selectPayms = document.getElementById('selectPaym'),
    selectWallets = document.getElementById('digWallet'),
    selectBtc = document.getElementById('btc');

    let resultBtc;
    fetch('https://api.coingecko.com/api/v3/exchange_rates')
    .then(response => response.json())
    .then(data => {
        let arr = data.rates
        resultBtc = arr.usd.value
    });
   
    let resultBnb;
    fetch('https://api.coingecko.com/api/v3/exchanges/binance')
    .then(response => response.json())
    .then(data => {
        let arr = data.tickers[7]
        resultBnb = arr.last
    });

    let buyBtn = document.getElementById('buybtn');

    buyBtn.addEventListener('click', () => {
        let amountAero = document.getElementById('amountth');
        let InCoin = document.querySelectorAll('.amountCoin');
        //let btcPrice = parseFloat(document.getElementById('btc_price').value);
        // bnbPrice = parseFloat(document.getElementById('bnb_price').value);
        let btc = document.getElementById('amountbtc');
        let bnb = document.getElementById('amountbnb');
        let priceACN = parseFloat(document.getElementById('price_').value);

        btc.value = priceACN / resultBtc;
        bnb.value =  priceACN / resultBnb;

        let amount = amountAero.value;

        InCoin.forEach(inp => {
            inp.value = amount;
        });
    });

    // BTC
    if(selectBtc) {
        selectBtc.addEventListener('change', (e) => {
            try {
                let idx = e.target.value;
                for(i = 0; i <= selectBtc.options.length; i++) {
                    if(selectBtc[i].value === idx) {
                        SetValuesBTCWalletSelected(selectBtc[i]);
                    }
                }
            } catch(err) {
                console.log(err)
            }
        });
    }

    // BTC
    const SetValuesBTCWalletSelected = (index) => {
        const code = document.getElementById('code_wallet')
        code.value = index.getAttribute('data-code-wallet')

        let Methodid = document.querySelectorAll('.d-none.methodid'); 
              
        Methodid.forEach(meth => {
            meth.value = index.getAttribute('data-id');
            console.log(meth.value)
            console.log("METODOS")
        })
    }

    $(function (){
        let amountModal = $('.amount');
        let idModal = $('.modal .d-none.id');
        let idMethod = $('.modal .d-none.methodid');

        $('input[name="amount"]').on('keyup', (e)=>{
            let valor =  e.target.value;
            let price_ = parseFloat(valor) * parseFloat($('#costo_ref').val())
            $('#price_').val(price_)

            amountModal.each(function (index) {
                $(this).val(price_);
            });
        });

        let inTh = $('.amountth');
    });
</script>