<div class="app-content content py27">
        <div class="content-wrapper container-xxl p-0">
            <div class="content-body">
                <section class="app-user-view-account">
                    <div class="row justify-content-center">
                        <!-- User Sidebar -->
                        <div class="col-lg-5 col-md-5 order-1 order-md-0">
                            <!-- User Card -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="user-avatar-section">
                                        <div class="d-flex align-items-center flex-column">
                                            <img src="../../../app-assets/images/portrait/small/avatar-s-11.jpg" id="account-upload-img" class="uploadedAvatar rounded my-2" alt="profile image" height="110" width="110">
                                            <div class="user-info text-center">
                                                <h4>Mosqueda Cordova</h4>
                                                <span class="badge bg-light-secondary">{{tuser}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="fw-bolder border-bottom pb-50 mb-1">Details</h4>
                                    <div class="info-container">
                                        <ul class="list-unstyled">
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Username:</span>
                                                <span>{{username}}</span>
                                                <!--<span>{{username}}</span>-->
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">DNI Type:</span>
                                                <span>Passport</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">DNI:</span>
                                                <span>{{dni}}</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Email:</span>
                                                <span>{{email}}</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Type User:</span>
                                                <span>{{type_user}}</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Avalible Balance:</span>
                                                <span>{{avalible_balance}}</span>
                                            </li>
                                            <li class="mb-75">
                                                <span class="fw-bolder me-25">Status:</span>
                                                <span class="badge bg-light-success">Verified</span>
                                            </li>
                                        </ul>
                                        <div class="d-flex justify-content-center pt-2">
                                            <a href="#" class="btn btn-outline-primary me-1 waves-effect waves-float waves-light" >
                                                Edit
                                            </a>
                                            <a href="#" class="btn btn-outline-danger suspend-user waves-effect">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /User Card -->
                        </div>
                        <!--/ User Sidebar -->
                    </div>
                </section>
            </div>
        </div>
    </div>