<div class="app-content content py27">
        <div class="content-wrapper container-xxl p-0">
            <div class="content-body">
                <section class="app-user-view-account">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <!-- profile -->
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">Profile Details</h4>
                                </div>
                                <div class="card-body py-2 my-25">
                                    <!-- header section -->
                                    <div class="d-flex">
                                        <a href="#" class="me-25">
                                            <img src="../../../app-assets/images/avatars/profile.png" id="account-upload-img" class="uploadedAvatar rounded me-50" alt="profile image" height="100" width="100">
                                        </a>
                                    </div>
                                    <!--/ header section -->
 <!-- cambio Jogrge -->
                                    <!-- form -->
                                    <form class="validate-form mt-2 pt-50">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">First Name</label>
                                                <input type="text" class="form-control" id="" name="firstName" placeholder="" value="{{user.first_name}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Last Name</label>
                                                <input type="text" class="form-control" id="" name="lastName" placeholder="" value="{{user.last_name}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Username</label>
                                                <input type="text" class="form-control" id="" name="username" placeholder="" value="{{user.username}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Email</label>
                                                <input type="email" class="form-control" id="" name="email" placeholder="" value="{{user.email}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Date of Birth</label>
                                                <input type="text" name="dateOfBirth" class="form-control invoice-edit-input date-picker"  value="{{user.date_of_birth}}"  required />
                                                <!-- <input type="date" class="form-control" id="" name="dateOfBirth" placeholder="" value="{{user.date_of_birth}}" required>-->
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Gender</label>
                                                <input type="text" class="form-control" id="" name="" placeholder="" value="{{user.gender}}" readonly>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">DNI Type</label>
                                                <input type="text" class="form-control" id="" name="typedoc" placeholder="" value="{{user.doc_type}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">DNI</label>
                                                <input type="text" class="form-control" id="" name="num_doc" placeholder="" value="{{user.num_document}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Nationality</label>
                                                <input type="text" class="form-control" id="" name="nationality" placeholder="" value="{{user.nationality}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Country</label>
                                                <input type="text" class="form-control" id="" name="country" placeholder="" value="{{user.country}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">City</label>
                                                <input type="text" class="form-control" id="" name="city" placeholder="" value="{{user.city}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Phone</label>
                                                <input type="text" class="form-control" id="" name="phone" placeholder="" value="{{user.phone}}" required>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Address</label>
                                                <input type="text" class="form-control" id="" name="address" placeholder="" value="{{user.address}}" required>
                                            </div>
                                            <!--<div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Type User</label>
                                                <input type="text" class="form-control" id="" name="" placeholder="" value="{{user.type_user}}" readonly>
                                            </div>-->
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Balance ACN</label>
                                                <input type="text" class="form-control" id="" name="" placeholder="" value="{{user.avalible_balance}}" readonly>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Account Verified</label>
                                                <input type="text" class="form-control" id="" name="" placeholder="" value="{{#useraccountstatuspy27 user.account_verified}}{{/useraccountstatuspy27}}" readonly>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1">
                                                <label class="form-label" for="">Account Status</label>
                                                <input type="text" class="form-control" id="" name="" placeholder="" value="{{#userstatuspy27 user.status}}{{/userstatuspy27}}" readonly>
                                            </div>
                                            <div class="col-12"></div>

                                            <!--<div class="col-12 col-sm-6 mb-1 dni-img">
                                                <label class="form-label">Front DNI</label>
                                                <a href="/assets/img_up/[007550].jpg" target="_blank">
                                                    <img src="/assets/img_up/[007550].jpg" class="img-fluid rounded-1">
                                                </a>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-1 dni-img">
                                                <label class="form-label">Back DNI</label>
                                                <a href="/assets/img_up/[006014].jpg" target="_blank">
                                                    <img src="/assets/img_up/[006014].jpg" class="img-fluid rounded-1">
                                                </a>
                                            </div>-->

                                            <!--{{#imgfrontuserpy27 user.front_img_dni}}{{/imgfrontuserpy27}}
                                            {{#imgbackuserpy27 user.back_img_dni}}{{/imgbackuserpy27}}-->

                                            <div class="col-12">
                                                <button type="submit" class="btn btn-outline-primary mt-1 me-1 waves-effect waves-float waves-light">Save changes</button>
                                                <button type="reset" class="btn btn-outline-secondary mt-1 waves-effect">Discard</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!--/ form -->
                                </div>
                            </div>
                            <!--/ profile -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>