{{#if login}}{{else}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>




<script>

$(document).ready(function(){
      
  var valor = $('#array').val()
        var array = JSON.parse(valor.replace(/&quot;/g,'"'))
    console.log(array) 



$('#select2-basic').on('change', (e) =>{
    let id_ = e.target.value
    console.log(id_)
    var found = array.find(element => element.id == id_);
        console.log(found)
        $('input[name="firstName"]').val(found.firstName)
        $('input[name="lastName"]').val(found.lastName)

if ( $("#municipio_select option[value='" + found.ciudad + "']").length == 0 ){
  console.log("option doesn't exist!");
  $('#municipio_select').prepend('<option selected value="' + found.ciudad + '">' + found.ciudad + '</option>');  
}else{
    console.log("option exist!");
    $('#municipio_select').find('option:selected').remove().end();
    $("#municipio_select option[value='" + found.ciudad + "']").attr("selected", true);
}
                  //val(found.ciudad)

         $('input[name="fraccionamiento"]').val(found.fraccionamiento)
        $('input[name="coto"]').val(found.coto)
         $('input[name="casa"]').val(found.casa)
        $('input[name="calle"]').val(found.calle)
         $('input[name="avenida"]').val(found.avenida)
          $('input[name="referencia"]').val(found.referencia)
        $('input[name="telefono"]').val(found.telefono)


})

$('#metodo_pago').on('change', (e) =>{
    let metodo = e.target.value
    console.log(metodo)
  
if(metodo == "Transferencia"){
console.log("Por verificar")

$('#status_pago').val('Por verificar')
    }else{
console.log("Pagado")
$('#status_pago').val('Pagado')
    }


		})
})
</script>
<input type="text" id="array" hidden value="{{clientes_d}}">
<input type="text" id="array_pedido" hidden value="{{pedidos_}}">
<!-- BEGIN: Header-->
<nav
    class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl py4">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <ul class="nav navbar-nav d-xl-none">
                <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon"
                            data-feather="menu"></i></a></li>
            </ul>
            <!--  <ul class="nav navbar-nav bookmark-icons">
                    <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-email.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Email"><i class="ficon" data-feather="mail"></i></a></li>
                    <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-chat.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat"><i class="ficon" data-feather="message-square"></i></a></li>
                    <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-calendar.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Calendar"><i class="ficon" data-feather="calendar"></i></a></li>
                    <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-todo.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Todo"><i class="ficon" data-feather="check-square"></i></a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item d-none d-lg-block"><a class="nav-link bookmark-star"><i class="ficon text-warning" data-feather="star"></i></a>
                        <div class="bookmark-input search-input">
                            <div class="bookmark-input-icon"><i data-feather="search"></i></div>
                            <input class="form-control input" type="text" placeholder="Bookmark" tabindex="0" data-search="search">
                            <ul class="search-list search-list-bookmark"></ul>
                        </div>
                    </li>
                </ul>-->
        </div>
        <ul class="nav navbar-nav align-items-center ms-auto">
            <!--<li class="nav-item dropdown dropdown-language"><a class="nav-link dropdown-toggle" id="dropdown-flag" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language">English</span></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-us"></i> English</a><a class="dropdown-item" href="#" data-language="fr"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#" data-language="de"><i class="flag-icon flag-icon-de"></i> German</a><a class="dropdown-item" href="#" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a></div>
                </li>
                <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-style"><i class="ficon" data-feather="moon"></i></a></li>
                <li class="nav-item nav-search"><a class="nav-link nav-link-search"><i class="ficon" data-feather="search"></i></a>
                    <div class="search-input">
                        <div class="search-input-icon"><i data-feather="search"></i></div>
                        <input class="form-control input" type="text" placeholder="Explore Vuexy..." tabindex="-1" data-search="search">
                        <div class="search-input-close"><i data-feather="x"></i></div>
                        <ul class="search-list search-list-main"></ul>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-cart me-25"><a class="nav-link" href="#" data-bs-toggle="dropdown"><i class="ficon" data-feather="shopping-cart"></i><span class="badge rounded-pill bg-primary badge-up cart-item-count">6</span></a>
                    <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">
                        <li class="dropdown-menu-header">
                            <div class="dropdown-header d-flex">
                                <h4 class="notification-title mb-0 me-auto">My Cart</h4>
                                <div class="badge rounded-pill badge-light-primary">4 Items</div>
                            </div>
                        </li>
                        <li class="scrollable-container media-list">

                            <div class="list-item align-items-center"><img class="d-block rounded me-1" src="../../../app-assets/images/pages/eCommerce/5.png" alt="donuts" width="62">
                                <div class="list-item-body flex-grow-1"><i class="ficon cart-item-remove" data-feather="x"></i>
                                    <div class="media-heading">
                                        <h6 class="cart-item-title"><a class="text-body" href="app-ecommerce-details.html"> MacBook Pro</a></h6><small class="cart-item-by">By Apple</small>
                                    </div>
                                    <div class="cart-item-qty">
                                        <div class="input-group">
                                            <input class="touchspin-cart" type="number" value="1">
                                        </div>
                                    </div>
                                    <h5 class="cart-item-price">$2,999.00</h5>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-menu-footer">
                            <div class="d-flex justify-content-between mb-1">
                                <h6 class="fw-bolder mb-0">Total:</h6>
                                <h6 class="text-primary fw-bolder mb-0">$10,999.00</h6>
                            </div><a class="btn btn-primary w-100" href="app-ecommerce-checkout.html">Checkout</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown dropdown-notification me-25"><a class="nav-link" href="#" data-bs-toggle="dropdown"><i class="ficon" data-feather="bell"></i><span class="badge rounded-pill bg-danger badge-up">5</span></a>
                    <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">
                        <li class="dropdown-menu-header">
                            <div class="dropdown-header d-flex">
                                <h4 class="notification-title mb-0 me-auto">Notifications</h4>
                                <div class="badge rounded-pill badge-light-primary">6 New</div>
                            </div>
                        </li>
                        <li class="scrollable-container media-list">
                            <a class="d-flex" href="#">
                                <div class="list-item d-flex align-items-start">
                                    <div class="me-1">
                                        <div class="avatar bg-light-danger">
                                            <div class="avatar-content">MD</div>
                                        </div>
                                    </div>
                                    <div class="list-item-body flex-grow-1">
                                        <p class="media-heading"><span class="fw-bolder">Revised Order 游녦</span>&nbsp;checkout</p><small class="notification-text"> MD Inc. order updated</small>
                                    </div>
                                </div>
                            </a>
                            <div class="list-item d-flex align-items-center">
                                <h6 class="fw-bolder me-auto mb-0">System Notifications</h6>
                                <div class="form-check form-check-primary form-switch">
                                    <input class="form-check-input" id="systemNotification" type="checkbox" checked="">
                                    <label class="form-check-label" for="systemNotification"></label>
                                </div>
                            </div>
                      <a class="d-flex" href="#">
                                <div class="list-item d-flex align-items-start">
                                    <div class="me-1">
                                        <div class="avatar bg-light-warning">
                                            <div class="avatar-content"><i class="avatar-icon" data-feather="alert-triangle"></i></div>
                                        </div>
                                    </div>
                                    <div class="list-item-body flex-grow-1">
                                        <p class="media-heading"><span class="fw-bolder">High memory</span>&nbsp;usage</p><small class="notification-text"> BLR Server using high memory</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-menu-footer"><a class="btn btn-primary w-100" href="#">Read all notifications</a></li>
                    </ul>
                </li>-->

            <li class="nav-item dropdown dropdown-notification me-25">
                <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="modal" data-bs-target="#registro_pedido_modal">
                    <i class="ficon me-1" data-feather="shopping-cart"></i>
                    <span class="menu-title text-truncate a침adir">A침adir <br>pedido</span>
                </a>
            </li>
            <li class="nav-item border mx-1">
                <span class="divider"></span>
            </li>
            <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link"
                    id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="user-nav d-sm-flex d-none"><span class="user-name fw-bolder">{{user.name}}</span><span
                            class="user-status">{{user.tipo}}</span></div><span class="avatar"><img class="round"
                            src="../../dataPY4/images/avatar-s-pyt4.jpg" alt="avatar" height="40" width="40"><span
                            class="avatar-status-online"></span></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                   <!-- <a class="dropdown-item"
                        href="page-profile.html"><i class="me-50" data-feather="user"></i> Profile</a>
                        <a  class="dropdown-item" href="app-email.html"><i class="me-50" data-feather="mail"></i>
                        Inbox</a>
                        <a class="dropdown-item" href="app-todo.html"><i class="me-50"
                            data-feather="check-square"></i> Task</a>
                        <a class="dropdown-item" href="app-chat.html"><i
                            class="me-50" data-feather="message-square"></i> Chats</a>-->
                    {{!-- <div class="dropdown-divider"></div> --}}
                   <!-- <a class="dropdown-item"    href="page-account-settings-account.html"><i class="me-50" data-feather="settings"></i>
                        Settings</a>
                        <a class="dropdown-item" href="page-pricing.html"><i class="me-50"
                            data-feather="credit-card"></i> Pricing</a>-->
                            {{!-- <a class="dropdown-item" href="page-faq.html"><i
                            class="me-50" data-feather="help-circle"></i> FAQ</a> --}}
                            <a class="dropdown-item"
                        href="/logoutpy4"><i class="me-50" data-feather="power"></i> Cerrar Sesion</a>

                </div>
            </li>
        </ul>
    </div>
</nav>
<ul class="main-search-list-defaultlist d-none">
    <li class="d-flex align-items-center"><a href="#">
            <h6 class="section-label mt-75 mb-0">Files</h6>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
            href="app-file-manager.html">
            <div class="d-flex">
                <div class="me-75"><img src="../../../app-assets/images/icons/xls.png" alt="png" height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Two new item submitted</p><small class="text-muted">Marketing
                        Manager</small>
                </div>
            </div><small class="search-data-size me-50 text-muted">&apos;17kb</small>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
            href="app-file-manager.html">
            <div class="d-flex">
                <div class="me-75"><img src="../../../app-assets/images/icons/jpg.png" alt="png" height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">52 JPG file Generated</p><small class="text-muted">FontEnd
                        Developer</small>
                </div>
            </div><small class="search-data-size me-50 text-muted">&apos;11kb</small>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
            href="app-file-manager.html">
            <div class="d-flex">
                <div class="me-75"><img src="../../../app-assets/images/icons/pdf.png" alt="png" height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">25 PDF File Uploaded</p><small class="text-muted">Digital
                        Marketing Manager</small>
                </div>
            </div><small class="search-data-size me-50 text-muted">&apos;150kb</small>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
            href="app-file-manager.html">
            <div class="d-flex">
                <div class="me-75"><img src="../../../app-assets/images/icons/doc.png" alt="png" height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Anna_Strong.doc</p><small class="text-muted">Web Designer</small>
                </div>
            </div><small class="search-data-size me-50 text-muted">&apos;256kb</small>
        </a></li>
    <li class="d-flex align-items-center"><a href="#">
            <h6 class="section-label mt-75 mb-0">Members</h6>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
            href="app-user-view-account.html">
            <div class="d-flex align-items-center">
                <div class="avatar me-75"><img src="../../../app-assets/images/portrait/small/avatar-s-8.jpg" alt="png"
                        height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">John Doe</p><small class="text-muted">UI designer</small>
                </div>
            </div>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
            href="app-user-view-account.html">
            <div class="d-flex align-items-center">
                <div class="avatar me-75"><img src="../../../app-assets/images/portrait/small/avatar-s-1.jpg" alt="png"
                        height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Michal Clark</p><small class="text-muted">FontEnd
                        Developer</small>
                </div>
            </div>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
            href="app-user-view-account.html">
            <div class="d-flex align-items-center">
                <div class="avatar me-75"><img src="../../../app-assets/images/portrait/small/avatar-s-14.jpg" alt="png"
                        height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Milena Gibson</p><small class="text-muted">Digital Marketing
                        Manager</small>
                </div>
            </div>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
            href="app-user-view-account.html">
            <div class="d-flex align-items-center">
                <div class="avatar me-75"><img src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="png"
                        height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Anna Strong</p><small class="text-muted">Web Designer</small>
                </div>
            </div>
        </a></li>
</ul>
<ul class="main-search-list-defaultlist-other-list d-none">
    <li class="auto-suggestion justify-content-between"><a
            class="d-flex align-items-center justify-content-between w-100 py-50">
            <div class="d-flex justify-content-start"><span class="me-75" data-feather="alert-circle"></span><span>No
                    results found.</span></div>
        </a></li>
</ul>
<!-- END: Header-->
<style>
    .main-menu.menu-light .navigation {
        background: transparent;
    }

    .semi-dark-layout .main-menu-content .navigation-main .active>a {
        background: linear-gradient(118deg, #001871, #0093B2) !important;
        box-shadow: 0 0 10px 1px rgb(0 147 178 / 70%) !important;
    }

    .main-menu.menu-dark .navigation>li.active>a {
        background: linear-gradient(118deg, #001871, #0093B2) !important;
        box-shadow: 0 0 10px 1px rgb(0 147 178 / 70%) !important;
    }
</style>

<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow py4" data-scroll-to-active="true"
    style="background: linear-gradient(to bottom, #001867 0%, #010c70 51%, #0092ae 100%);">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto"><a class="navbar-brand" href="/homepy4" style="    margin-top: 0;"><span
                        class="brand-logo">
                        <img alt="" src="../../../dataPY4/images/pyt_4_logo_blanco.png"
                            style="width: 100%; max-width: fit-content;"></span>
                </a></li>
            <!-- <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>-->
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content" style="background: transparent;">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li core-menu-vertical-section="" class="navigation-header mt-2"><span class="navigation-section-text text-white">Opciones</span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></li>
            <li class="{{#if dash}}active {{/if}}nav-item"><a class="d-flex align-items-center" href="/homepy4"><i
                        data-feather="home"></i><span class="menu-title text-truncate"
                        data-i18n="tablero">Tablero</span></a></li>
            <li class="{{#if users1}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/usuarios/PYT-4"><i data-feather="users"></i><span class="menu-title text-truncate"
                        data-i18n="Usuarios">Usuarios</span></a>
            </li>
             <li class="{{#if personal}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/personal_py4"><i data-feather='smile'></i><span class="menu-title text-truncate"
                        data-i18n="Usuarios">Personal</span></a>
            </li>


        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="registro_pedido_modal" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Registrar Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form novalidate class="needs-validation invalid was-validated repeater" action="/reg_pedido_modal" method="post">
                           

                    <div class="form-group">
                                            <label class="form-label" for="select2-basic">Basic</label>
                                            <select class="select2 form-select" id="select2-basic" name="id_cliente">
                                                <option selected=""> Seleccione un cliente </option>
                                              {{#each clientes_arr as |cliente i|}}
                            <option value="{{id}}"> {{firstName}} {{lastName}}</option>
                            {{/each}}
                                            </select>
                   </div>

                    <button class="btn btn-primary mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#client-info" aria-expanded="false" aria-controls="collapseExample">
                        Modificar Cliente
                    </button>

                   <div class="collapse" id="client-info">

                        <div class="form-group mt-2"><label for="register-firstName" class="form-label">Nombre</label>
                            <input type="text" name="firstName" placeholder="Primer Nombre" aria-describedby="register-firstName"
                                tabindex="1" class="form-control mb-2" autofocus required>
                        </div>

                        <div class="form-group"><label for="register-lastName" class="form-label">Apellido</label><input
                                type="text" name="lastName" placeholder="Apellido" aria-describedby="register-lastName"
                                tabindex="2" class="form-control mb-2"></div>
                        <div class="divider">
                            <div class="divider-text">Direcci칩n</div>
                        </div>

                        <div class="form-group mb-2"><label for="register-lastName" class="form-label">Ciudad</label><input
                                type="text" name="ciudad" placeholder="Ciudad" aria-describedby="register-lastName"
                                tabindex="2" class="form-control" value="Guadalajara" id="ciudad_select" readonly>
                                </div>
                        <div class="form-group mb-2">
                        <label for="register-ciudad" class="form-label">Municipio</label>

                        <select class="select2 form-select" id="municipio_select" name="municipio">
                            <option> Acatic </option>
                            <option> Acatl치n de Ju치rez </option>
                            <option> Ahualulco de Mercado </option>
                            <option> Ajijic </option>
                            <option> Amatit치n </option>
                            <option> Ameca </option>
                            <option> Arandas </option>
                            <option> Atemajac de Brizuela </option>
                            <option> Atequiza </option>
                            <option> Atotonilco el Alto </option>
                            <option> Atotonilquillo </option>
                            <option> Atoyac </option>
                            <option> Autl치n de Navarro </option>
                            <option> Ayotl치n </option>
                            <option> Ayutla </option>
                            <option> Bellavista </option>
                            <option> Cajititl치n </option>
                            <option> Capilla de Guadalupe </option>
                            <option> Chapala </option>
                            <option> Cihuatl치n </option>
                            <option> Ciudad Guzm치n </option>
                            <option> Cocula </option>
                            <option> Colinas del Roble </option>
                            <option> Colotl치n </option>
                            <option> Coyula </option>
                            <option> Cuitzeo (La Estancia) </option>
                            <option> Degollado </option>
                            <option> El Arenal </option>
                            <option> El Capul칤n </option>
                            <option> El Grullo </option>
                            <option> El Quince (San Jos칠 El Quince) </option>
                            <option> El Refugio </option>
                            <option> El Salto </option>
                            <option> Encarnaci칩n de D칤az </option>
                            <option> Etzatl치n </option>
                            <option> Galaxia Bonito Jalisco </option>
                            <option> Galaxia la Noria </option>
                            <option> Guadalajara </option>
                            <option> Hacienda Santa Fe </option>
                            <option> Ixtapa </option>
                            <option> Ixtlahuac치n de los Membrillos </option>
                            <option> Ixtlahuac치n del R칤o </option>
                            <option> Jalostotitl치n </option>
                            <option> Jamay </option>
                            <option> Jes칰s Mar칤a </option>
                            <option> Jocotepec </option>
                            <option> Juanacatl치n </option>
                            <option> La Alameda </option>
                            <option> La Barca </option>
                            <option> La Huerta </option>
                            <option> La Resolana </option>
                            <option> La Ribera </option>
                            <option> La Tijera </option>
                            <option> La Venta del Astillero </option>
                            <option> Lagos de Moreno </option>
                            <option> Las Juntas </option>
                            <option> Las Pintas </option>
                            <option> Las Pintitas </option>
                            <option> Lomas de San Agust칤n </option>
                            <option> Lomas del Sur </option>
                            <option> Los Olivos </option>
                            <option> Los Ruise침ores </option>
                            <option> Magdalena </option>
                            <option> Mascota </option>
                            <option> Mazamitla </option>
                            <option> Mezcala </option>
                            <option> Ocotl치n </option>
                            <option> Ojuelos de Jalisco </option>
                            <option> Pihuamo </option>
                            <option> Poncitl치n </option>
                            <option> Puente Grande </option>
                            <option> Puerto Vallarta </option>
                            <option> Rancho Alegre (Fraccionamiento) </option>
                            <option> Real del Valle </option>
                            <option> San Agust칤n </option>
                            <option> San Andr칠s Ixtl치n </option>
                            <option> San Diego de Alejandr칤a </option>
                            <option> San Francisco de Asis </option>
                            <option> San Ignacio Cerro Gordo </option>
                            <option> San Jos칠 El Verde (El Verde) </option>
                            <option> San Jos칠 del Castillo </option>
                            <option> San Juan Cosal치 </option>
                            <option> San Juan de los Lagos </option>
                            <option> San Juanito de Escobedo </option>
                            <option> San Juli치n </option>
                            <option> San Mart칤n Hidalgo </option>
                            <option> San Miguel Cuyutl치n </option>
                            <option> San Miguel el Alto </option>
                            <option> San Patricio Melaque </option>
                            <option> San Pedro Itzic치n </option>
                            <option> San Sebasti치n del Sur </option>
                            <option> San Sebasti치n el Grande </option>
                            <option> Santa Anita </option>
                            <option> Santa Cruz de las Flores </option>
                            <option> Santa Cruz del Valle </option>
                            <option> Sayula </option>
                            <option> Tala </option>
                            <option> Talpa de Allende </option>
                            <option> Tamazula de Gordiano </option>
                            <option> Tapalpa </option>
                            <option> Tecalitl치n </option>
                            <option> Tecolotl치n </option>
                            <option> Teocaltiche </option>
                            <option> Tepatitl치n de Morelos </option>
                            <option> Tequila </option>
                            <option> Tesist치n (San Francisco Tesist치n) </option>
                            <option> Tizap치n el Alto </option>
                            <option> Tlajomulco de Z칰침iga </option>
                            <option> Tlaquepaque </option>
                            <option> Tomatl치n </option>
                            <option> Tonal치 </option>
                            <option> Tototl치n </option>
                            <option> Tuxpan </option>
                            <option> Uni칩n de San Antonio </option>
                            <option> Uni칩n de Tula </option>
                            <option> Usmajac </option>
                            <option> Valle Dorado Inn </option>
                            <option> Villa Corona </option>
                            <option> Villa Hidalgo </option>
                            <option> Villa Purificaci칩n </option>
                            <option> Villas de la Hacienda (Fraccionamiento) </option>
                            <option> Yahualica de Gonz치lez Gallo </option>
                            <option> Zacoalco de Torres </option>
                            <option> Zapopan </option>
                            <option> Zapote del Valle (Zapote de Santa Cruz) </option>
                            <option> Zapotiltic </option>
                            <option> Zapotlanejo </option>
                        </select>

                        </div>

                        <div class="form-group"><label for="register-fraccionamiento"
                                class="form-label">Fraccionamiento</label><input type="text" name="fraccionamiento"
                                placeholder="Fraccionamiento" aria-describedby="register-fraccionamiento" tabindex="5"
                                class="form-control mb-2">
                        </div>
                        <div class="form-group"><label for="register-coto" class="form-label">Coto</label><input type="text"
                                name="coto" placeholder="Coto" aria-describedby="register-coto" tabindex="6"
                                class="form-control mb-2"></div>

                        <div class="form-group"><label for="register-casa" class="form-label">Casa</label><input type="text"
                                name="casa" placeholder="Casa" aria-describedby="register-casa" tabindex="7"
                                class="form-control mb-2"></div>

                        <div class="form-group"><label for="register-calle" class="form-label">Calle</label><input
                                type="text" name="calle" placeholder="Calle" aria-describedby="register-calle" tabindex="8"
                                class="form-control mb-2"></div>
                        <div class="form-group"><label for="register-avenida" class="form-label">Avenida</label>
                        <input
                                type="text" name="avenida" placeholder="Avenida" aria-describedby="register-avenida"
                                tabindex="9" class="form-control mb-2"></div>

                        <div class="form-group"><label for="register-referencia" class="form-label">Referencia</label><input
                                type="text" name="referencia" placeholder="Referencia"
                                aria-describedby="register-referencia" tabindex="9"
                                class="form-control mb-2"></div>

                        <div class="form-group"><label for="register-telefono" class="form-label">Tel칠fono</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span>
                                </div>
                                <input type="number" name="telefono" placeholder="(760) 123 00 00" mask="(000) 000 00 00"
                                    aria-describedby="register-telefono" tabindex="11"
                                    class="form-control">
                            </div>
                        </div>

                   </div>

                    <div class="divider">
                        <div class="divider-text">Chofer</div>
                    </div>

                    <div class="form-group">
                        <label for="register-ciudad" class="form-label">Seleccione un chofer</label>
                        <select
                            name="chofer" placeholder="Chofer" aria-describedby="register-ciudad" tabindex="3"
                            class="form-control mb-2">
                            {{#each choferes_ as |chofer i |}}
                            <option>{{name}} {{lastName}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="divider">
                        <div class="divider-text">Productos</div>
                    </div>

                    <div class="mb-1">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="pill" href="#garrafon" aria-expanded="true">Garrafon 19L</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="pill" href="#botella" aria-expanded="false">Botella 1L</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="about-tab" data-bs-toggle="pill" href="#garrafon11l" aria-expanded="false">Garrafon 11L</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="pill" href="#botella5l" aria-expanded="false">Botella 5L</a>
                            </li>
                        </ul>

                        <div class="tab-content mt-2">
                            <div role="tabpanel" class="tab-pane active" id="garrafon" aria-labelledby="garrafon-tab" aria-expanded="true">
                                <input type="text" class="form-control mb-1 w-50" id="readonlyInput1" readonly="readonly" value="Precio: 0$">
                                <div class="d-flex align-items-center mb-1">
                                    <p class="m-0">Refil</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span><input type="number" class="touchspin form-control" value="0"><span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-1">
                                    <p class="m-0">Canje</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span><input type="number" class="touchspin form-control" value="0"><span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                                    </div>
                                </div>
                                <p class="mb-0">Cantidad Total: <span>0</span></p>
                            </div>

                            <div class="tab-pane" id="botella" role="tabpanel" aria-labelledby="botella-tab" aria-expanded="false">
                                <input type="text" class="form-control mb-1 w-50" id="readonlyInput2" readonly="readonly" value="Precio: 0$">
                                <div class="d-flex align-items-center mb-1">
                                    <p class="m-0">Refil</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span><input type="number" class="touchspin form-control" value="0"><span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-1">
                                    <p class="m-0">Canje</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span><input type="number" class="touchspin form-control" value="0"><span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                                    </div>
                                </div>
                                <p class="mb-0">Cantidad Total: <span>0</span></p>
                            </div>

                            <div class="tab-pane" id="garrafon11l" role="tabpanel" aria-labelledby="garrafon11l-tab" aria-expanded="false">
                                <input type="text" class="form-control mb-1 w-50" id="readonlyInput3" readonly="readonly" value="Precio: 0$">
                                <div class="d-flex align-items-center mb-1">
                                    <p class="m-0">Refil</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span><input type="number" class="touchspin form-control" value="0"><span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-1">
                                    <p class="m-0">Canje</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span><input type="number" class="touchspin form-control" value="0"><span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                                    </div>
                                </div>
                                <p class="mb-0">Cantidad Total: <span>0</span></p>
                            </div>

                            <div class="tab-pane" id="botella5l" role="tabpanel" aria-labelledby="botella5l-tab" aria-expanded="false">
                                <input type="text" class="form-control mb-1 w-50" id="readonlyInput4" readonly="readonly" value="Precio: 0$">
                                
                                <div class="d-flex align-items-center mb-1">
                                    <p class="m-0">Refil</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span><input type="number" class="touchspin form-control" value="0"><span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-1">
                                    <p class="m-0">Canje</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span><input type="number" class="touchspin form-control" value="0"><span class="input-group-btn bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                                    </div>
                                </div>
                                <p class="mb-0">Cantidad Total: <span>0</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around m-0">
                        <p class="m-0">Total del producto: <span>0</span></p>
                        <p class="m-0">Monto Total: <span>100$</span></p>
                    </div>

                    <div class="divider">
                        <hr>
                    </div>

                    {{!-- <div data-repeater-list="productos">
                        <div data-repeater-item>
                            <button type="button" class="btn btn-warning waves-effect waves-float waves-light mb-1"
                                data-repeater-delete>-</button>
                            <button type="button" class="btn btn-success waves-effect waves-float waves-light"
                        data-repeater-create>+</button>

                            <div class="form-group"><label for="register-ciudad" class="form-label">Producto</label>
                                <select name="product"  aria-describedby="register-ciudad"
                                    tabindex="3" class="form-control mb-2">
                                    <option selected="">Garraf칩n 19L</option>
                                    <option>Botella 1L</option>
                                    <option>Garraf칩n 11L</option>
                                    <option>Botella 5L</option>
                                </select>
                            </div>

                          
                          
                            <div class="form-group"><label for="register-firstName" class="form-label">Refill</label>
                                <input type="text" name="monto_producto" placeholder="Monto"
                                    aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                                     <input>+  -
                            </div>
                              <div class="form-group"><label for="register-firstName" class="form-label">Nuevo</label>
                                <input type="text" name="monto_producto" placeholder="Monto"
                                    aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                                     <input>+  -
                            </div>
                              <div class="form-group"><label for="register-firstName" class="form-label">Canje</label>
                                <input type="text" name="monto_producto" placeholder="Monto"
                                    aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                                    <input>+  -
                            </div>


                            <div class="form-group"><label for="register-firstName" class="form-label">Refill</label>
                                <input type="text" name="monto_producto" placeholder="Monto"
                                    aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                                     <input>+  -
                            </div>
                              <div class="form-group"><label for="register-firstName" class="form-label">Nuevo</label>
                                <input type="text" name="monto_producto" placeholder="Monto"
                                    aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                                     <input>+  -
                            </div>
                              <div class="form-group"><label for="register-firstName" class="form-label">Canje</label>
                                <input type="text" name="monto_producto" placeholder="Monto"
                                    aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                                    <input>+  -
                            </div>
  <div  id="Garrafon" style="display: none;">

                            <div class="form-group"><label for="register-firstName" class="form-label">Refill</label>
                                <input type="text" name="monto_producto" placeholder="Monto"
                                    aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required id="refill_garrafonf">
                                     <input>+  -
                            </div>
                              <div class="form-group"><label for="register-firstName" class="form-label">Nuevo</label>
                                <input type="text" name="monto_producto" placeholder="Monto"
                                    aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                                     <input>+  -
                            </div>
                              <div class="form-group"><label for="register-firstName" class="form-label">Canje</label>
                                <input type="text" name="monto_producto" placeholder="Monto"
                                    aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                                    <input>+  -
                            </div>
                            <div class="form-group"><label for="register-firstName" class="form-label">Cantidad</label>
                                <input type="text" name="cantidad_producto" placeholder="Cantidad"
                                    aria-describedby="cantidad_producto" tabindex="1" class="form-control mb-2" required>
                            </div>


                            </div>


                            <div class="form-group">
                                <label for="register-ciudad" class="form-label">Tipo de venta</label>
                                <select name="tipo_venta" placeholder="Ciudad"
                                    aria-describedby="register-ciudad" tabindex="3"
                                    class="form-control mb-2">
                                    <option selected="">Refill</option>
                                    <option> Garrafon nuevo</option>
                                    <option> Canje</option>
                                    <option> Garant칤a</option>
                                    <option> Obsequio</option>
                                    <option> Maquila para sucursales</option>
                                    <option> Maquila para Independientes</option>
                                </select>
                            </div>

                        </div>
                    </div>

     

                     <div class="form-group"><label for="register-ciudad" class="form-label">M칠todo de Pago</label>
                                <select name="metodo_pago" placeholder="Metodo de pago" aria-describedby="metodo_pago"
                                    tabindex="3" class="form-control mb-2" id="metodo_pago">
                                    <option selected=""> Efectivo </option>
                                    <option> Tarjeta </option>
                                    <option> Transferencia </option>
                                </select>
                            </div>
                    <div class="form-group"><label for="register-firstName" class="form-label">Monto Total</label>
                        <input type="text" name="monto_total" placeholder="Monto total" aria-describedby="register-firstName"
                            tabindex="1" class="form-control mb-2" required>
                    </div>

                    <div class="divider">
                        <div class="divider-text">Venta</div>
                    </div>
                <div class="form-group"><label for="register-firstName" class="form-label">Status del Pago</label>
                        <input type="text" name="status_pago" 
                            tabindex="1" class="form-control mb-2" readonly id="status_pago">
                    </div>
                  <!--  <div class="form-group"><label for="register-ciudad" class="form-label">Status del Pago</label>
                    <select name="status_pago"  aria-describedby="register-ciudad"
                            tabindex="3" class="form-control mb-2">
                            <option selected=""> Por pagar </option>
                            <option> Por Verificar </option>
                            <option> Pagado </option>
                            <option> Obsequio </option>
                            <option> Garant칤a </option>
                            <option>Prestado </option>
                        </select>
                    </div>-->
                    <div class="form-group"><label for="register-firstName" class="form-label">Status del Pedido</label>
                        <input type="text" name="status_pedido" 
                            tabindex="1" class="form-control mb-2" readonly value="Por entregar">
                    </div>
                  <!--  <div class="form-group"><label for="register-ciudad" class="form-label">Status del Pedido</label>
                    <select name="status_pedido" aria-describedby="register-ciudad"
                            tabindex="3" class="form-control mb-2">
                            <option selected=""> En proceso </option>
                            <option> Entregado </option>
                            <option> Rezagado </option>
                            <option> Reasignado </option>
                            <option> Cancelado </option>
                            <option>Por facturar </option>
                            <option>Devuelto </option>
                        </select>
                    </div>-->
                    <div class="form-group"><label for="register-firstName" class="form-label">Garrafones prestados(S/R)</label>
                        <input type="text" name="garrafones_prestamos" placeholder="Garrafones Prestados" aria-describedby="register-firstName"
                            tabindex="1" class="form-control mb-2" required>
                    </div>

                    <div class="form-group"><label for="register-firstName" class="form-label">Observaci칩n</label>
                        <input type="text" name="observacion" placeholder="Observaci칩n" aria-describedby="register-firstName"
                            tabindex="1"  class="form-control mb-2" required>
                    </div>
            </div>
            <div class="modal-footer">
                <button tabindex="26" rippleeffect=""
                    class="btn btn-primary btn-block waves-effect waves-float waves-light">Reg칤strar</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- END: Main Menu-->
{{/if}}