{{#if login}}{{else}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/extensions/ext-component-toastr.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/extensions/ext-component-context-menu.css">



<script>
    function ucwords(str,force){ 
        str=force ? str.toLowerCase() : str; 
        return str.replace(/(\b)([a-zA-Z])/g, 
            function(firstLetter){ 
                    return firstLetter.toUpperCase();
         }); 
        }
    $(document).ready(function () {
        $('input[type="text"]').keyup(function(evt){ // force: true to lower case all letter except first 
       // var cp_value= ucfirst($(this).val(),true) ; // to capitalize all words //
        var cp_value= ucwords($(this).val(),true) ; 
        $(this).val(cp_value ); 
        });
$('#reg_pedido_modal1').on('submit', (e)=>{
e.preventDefault()
console.log('aqui')
if($('#id_cliente_reg_pedido').val() == 'default'){
    Swal.fire('Debe seleccionar un cliente')
    return
}
if($('.chofer_reg_modal_pedido').val() == 'default'){
    Swal.fire('Debe seleccionar un chofer')
    return
}
if($('#total_total_inp').val() == 0){
    Swal.fire('No ha cargado ningún producto a su pedido')
    return
}
return $('#reg_pedido_modal1').unbind('submit').submit()
})
        $('.cp_select').on('keyup', (e) => {
            $(".select_asentamiento_me").empty();
            let cp = e.target.value
            console.log(cp)
            const data = new FormData();
            data.append("cp", cp);
            $.ajax({
                url: '/consultaCP',
                type: 'POST',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                /*xhr: function () {        
                    var xhr = $.ajaxSettings.xhr();
                    xhr.upload.onprogress = function (event) {
                        var perc = Math.round((event.loaded / event.total) * 100);
                       // $("#nombreArchivoCalendario1").text(inputFile.name);
                       
                        $("#progressBar1").text(perc + '%');
                        $("#progressBar1").css('width', perc + '%');
                    };
                    return xhr;
                },
                beforeSend: function (xhr) {
                  displayLoading()
                    $("#progressBar1").text('0%');
                    $("#progressBar1").css('width', '0%');
                },*/
                success: function (data, textStatus, jqXHR) {
                    var municipio = ""
                    for (let i = 0; i < data.cp_let.length; i++) {

                        municipio = data.cp_let[0].municipio
                        $(".select_asentamiento_me").append('<option value="' + data.cp_let[i].id + '">' + data.cp_let[i].asentamiento + '</option>');
                    }
                    console.log(municipio)
                    $('.municipio').val(municipio)
                },
                error: function (jqXHR, textStatus) {
                    console.log('error:' + jqXHR)
                }
            });
        })

$('#bell_not').on('click', ()=>{
    console.log('hola munco notificacion')
    console.log($('#bell_not .badge').text())
    $('#bell_not .badge').attr('style', 'display:none')
})
    })
</script>
{{#if admin}}{{else}}<span id="otro_rol" hidden>Admin</span>{{/if}}
<input type="text" id="array" hidden value="{{clientes_d}}">
<input type="text" id="array_pedido" hidden value="{{pedidos_}}">
<input type="text" id="array_sucursales" hidden value="{{sucursales_}}">
<input type="text" id="array_cp" hidden value="{{cp_}}">
<input type="text" id="etiquetas_" hidden value="{{etiquetas_}}">
<!-- BEGIN: Header-->
<nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxxl py4 {{#if disabled_chofer}}d-none{{/if}}" >
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <ul class="nav navbar-nav d-xl-none">
                <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon"
                            data-feather="menu"></i></a></li>
            </ul>

        </div>
        <ul class="nav navbar-nav align-items-center ms-auto {{#if disabled_chofer}}d-none{{/if}}" >
            <li class="nav-item dropdown dropdown-notification me-25">
                <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="bell_not"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell ficon"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                {{#if cont_not}}<span class="badge rounded-pill bg-danger badge-up">{{cont_not}}</span>{{/if}}</a>
            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">
              <li class="dropdown-menu-header">
                <div class="dropdown-header d-flex">
                  <h4 class="notification-title mb-0 me-auto">Notificaciones</h4>
                  <div class="badge rounded-pill badge-light-primary">{{cont_not}} New</div>
                </div>
              </li>
              <li class="scrollable-container media-list ps ps--active-y">
                  
                      {{#each notif1_2 as |nt1_2 i|}}
                <a class="d-flex" href="#">
                <div class="list-item d-flex align-items-start">
                    <div class="me-1">
                      <div class="avatar"><img src="../../dataPY4/images/avatar-s-pyt4.jpg" alt="avatar" width="32" height="32"></div>
                    </div>
                    <div class="list-item-body flex-grow-1">
                      <p class="media-heading"><span class="fw-bolder">{{nombre_cliente}} {{apellido_cliente}} / {{asentamiento}}</span></p>
                      <small class="notification-text"> No ha realizado un pedido desde hace {{tiempo_desde}} días<br>
                      Pedido: #{{id_pedido}} / Cant. Garrafones: {{total_g}}
                      </small>
                    </div>
                  </div></a>
                      {{/each}}
                      {{#each notif3_5 as |nt i|}}
                <a class="d-flex" href="#">
                <div class="list-item d-flex align-items-start">
                    <div class="me-1">
                      <div class="avatar"><img src="../../dataPY4/images/avatar-s-pyt4.jpg" alt="avatar" width="32" height="32"></div>
                    </div>
                    <div class="list-item-body flex-grow-1">
                      <p class="media-heading"><span class="fw-bolder">{{nombre_cliente}} {{apellido_cliente}}</span></p>
                      <small class="notification-text"> No ha realizado un pedido desde hace {{tiempo_desde}} días<br>
                      Pedido: #{{id_pedido}} / Cant. Garrafones: {{total_g}}
                      </small>
                    </div>
                  </div></a>
                      {{/each}}
                      {{#each notif6_12 as |nt i|}}
                <a class="d-flex" href="#">
                <div class="list-item d-flex align-items-start">
                    <div class="me-1">
                      <div class="avatar"><img src="../../dataPY4/images/avatar-s-pyt4.jpg" alt="avatar" width="32" height="32"></div>
                    </div>
                    <div class="list-item-body flex-grow-1">
                      <p class="media-heading"><span class="fw-bolder">{{nombre_cliente}} {{apellido_cliente}}</span></p>
                      <small class="notification-text"> No ha realizado un pedido desde hace {{tiempo_desde}} días<br>
                      Pedido: #{{id_pedido}} / Cant. Garrafones: {{total_g}}
                      </small>
                    </div>
                  </div></a>
                      {{/each}}
                  

              <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px; height: 350px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 285px;"></div></div>
              </li>
              <!--<li class="dropdown-menu-footer"><a class="btn btn-primary w-100 waves-effect waves-float waves-light" href="#">Read all notifications</a></li>-->
            </ul>
          </li>
          {{#if admin}}
           <div class="d-none"> <li class="nav-item dropdown dropdown-notification me-25 d-none d-md-block">
                <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="modal"
                    data-bs-target="#sucursal_change" id="cambiar_sucursal">
                    <i data-feather='layers' class="ficon me-1"></i>
                    <span class="menu-title text-truncate añadir">Cambiar<br><span id="suc_actual">zona</span></span>
                </a>
            </li></div>
    {{/if}}
            <li class="nav-item dropdown dropdown-notification me-25 d-none d-md-block">
                <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="modal"
                    data-bs-target="#add_cliente">
                    <i class="ficon me-1" data-feather='user-plus'></i>
                    <span class="menu-title text-truncate añadir">Añadir <br>Cliente</span>
                </a>
            </li>
            <li class="nav-item dropdown dropdown-notification me-25 d-none d-md-block">
                <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="modal"
                    data-bs-target="#registro_pedido_modal">
                    <i class="ficon me-1" data-feather="shopping-cart"></i>
                    <span class="menu-title text-truncate añadir">Añadir <br>Pedido</span>
                </a>
            </li>
            <li class="nav-item border mx-1">
                <span class="divider"></span>
            </li>
            <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link"
                    id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="user-nav d-sm-flex d-none"><span class="user-name fw-bolder">{{user.name}}</span><span
                            class="user-status">{{user.tipo}}</span></div><span class="avatar"><img class="round"
                            src="../../dataPY4/images/avatar-s-pyt4.jpg" alt="avatar" height="40" width="40"><span
                            class="avatar-status-online"></span></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                    <a class="dropdown-item" href="/logoutpy4"><i class="me-50" data-feather="power"></i> Cerrar
                        Sesion</a>
                </div>
            </li>
            <li class="nav-item dropdown dropdown-actions d-md-none">
                <a class="nav-link dropdown-toggle dropdown-actions-link"
                    id="dropdown-actions" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather='more-vertical' class="ficon"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-actions">
                    <a class="dropdown-item d-flex align-items-center" href="#" data-bs-toggle="modal"
                    data-bs-target="#add_cliente">
                        <i class="ficon me-1" data-feather='user-plus'></i>
                        Añadir Cliente
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#" data-bs-toggle="modal"
                    data-bs-target="#registro_pedido_modal">
                        <i class="ficon me-1" data-feather="shopping-cart"></i>
                        Añadir Pedido
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<ul class="main-search-list-defaultlist d-none">
    <li class="d-flex align-items-center"><a href="#">
            <h6 class="section-label mt-75 mb-0">Files</h6>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
            href="app-file-manager.html">
            <div class="d-flex">
                <div class="me-75"><img src="../../../app-assets/images/icons/xls.png" alt="png" height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Two new item submitted</p><small class="text-muted">Marketing
                        Manager</small>
                </div>
            </div><small class="search-data-size me-50 text-muted">&apos;17kb</small>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
            href="app-file-manager.html">
            <div class="d-flex">
                <div class="me-75"><img src="../../../app-assets/images/icons/jpg.png" alt="png" height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">52 JPG file Generated</p><small class="text-muted">FontEnd
                        Developer</small>
                </div>
            </div><small class="search-data-size me-50 text-muted">&apos;11kb</small>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
            href="app-file-manager.html">
            <div class="d-flex">
                <div class="me-75"><img src="../../../app-assets/images/icons/pdf.png" alt="png" height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">25 PDF File Uploaded</p><small class="text-muted">Digital
                        Marketing Manager</small>
                </div>
            </div><small class="search-data-size me-50 text-muted">&apos;150kb</small>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
            href="app-file-manager.html">
            <div class="d-flex">
                <div class="me-75"><img src="../../../app-assets/images/icons/doc.png" alt="png" height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Anna_Strong.doc</p><small class="text-muted">Web Designer</small>
                </div>
            </div><small class="search-data-size me-50 text-muted">&apos;256kb</small>
        </a></li>
    <li class="d-flex align-items-center"><a href="#">
            <h6 class="section-label mt-75 mb-0">Members</h6>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
            href="app-user-view-account.html">
            <div class="d-flex align-items-center">
                <div class="avatar me-75"><img src="../../../app-assets/images/portrait/small/avatar-s-8.jpg" alt="png"
                        height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">John Doe</p><small class="text-muted">UI designer</small>
                </div>
            </div>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
            href="app-user-view-account.html">
            <div class="d-flex align-items-center">
                <div class="avatar me-75"><img src="../../../app-assets/images/portrait/small/avatar-s-1.jpg" alt="png"
                        height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Michal Clark</p><small class="text-muted">FontEnd
                        Developer</small>
                </div>
            </div>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
            href="app-user-view-account.html">
            <div class="d-flex align-items-center">
                <div class="avatar me-75"><img src="../../../app-assets/images/portrait/small/avatar-s-14.jpg" alt="png"
                        height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Milena Gibson</p><small class="text-muted">Digital Marketing
                        Manager</small>
                </div>
            </div>
        </a></li>
    <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
            href="app-user-view-account.html">
            <div class="d-flex align-items-center">
                <div class="avatar me-75"><img src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="png"
                        height="32"></div>
                <div class="search-data">
                    <p class="search-data-title mb-0">Anna Strong</p><small class="text-muted">Web Designer</small>
                </div>
            </div>
        </a></li>
</ul>
<ul class="main-search-list-defaultlist-other-list d-none">
    <li class="auto-suggestion justify-content-between"><a
            class="d-flex align-items-center justify-content-between w-100 py-50">
            <div class="d-flex justify-content-start"><span class="me-75" data-feather="alert-circle"></span><span>No
                    results found.</span></div>
        </a></li>
</ul>
<!-- END: Header-->
<style>
    .main-menu.menu-light .navigation {
        background: transparent;
    }

    .semi-dark-layout .main-menu-content .navigation-main .active>a {
        background: linear-gradient(118deg, #001871, #0093B2) !important;
        box-shadow: 0 0 10px 1px rgb(0 147 178 / 70%) !important;
    }

    .main-menu.menu-dark .navigation>li.active>a {
        background: linear-gradient(118deg, #001871, #0093B2) !important;
        box-shadow: 0 0 10px 1px rgb(0 147 178 / 70%) !important;
    }
    .vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .brand-logo img {
    content:url('../../dataPY4/images/gotaSF.png');
    max-width: 62px !important;
}
   .main-menu .navbar-header {
padding-left: 0.7rem;
}           
</style>
{{#if disabled_chofer}}
<style>
    .vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .brand-logo img {
    content:url('../../dataPY4/images/gotaSF.png');
    max-width: 62px !important;
}

</style>
{{/if}}
<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow py4 {{#if disabled_chofer}}d-none{{/if}}" data-scroll-to-active="true"
    style="background: linear-gradient(to bottom, #001867 0%, #010c70 51%, #0092ae 100%);">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto"><a class="navbar-brand" href="{{#if disabled_chofer}}#{{else}}/homepy4{{/if}}" style="    margin-top: 0;"><span
                        class="brand-logo">
                        <img alt="" src="../../../dataPY4/images/pyt_4_logo_blanco.png"
                            style="width: 100%; max-width: fit-content;"></span>
                </a></li>
            <!-- <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>-->
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content " style="background: transparent;">
        <ul class="navigation navigation-main " id="main-menu-navigation" data-menu="menu-navigation">
            <li core-menu-vertical-section="" class="navigation-header mt-2"><span
                    class="navigation-section-text text-white">Opciones</span><svg xmlns="http://www.w3.org/2000/svg"
                    width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                </svg></li>
            <li class="{{#if dash}}active {{/if}}nav-item"><a class="d-flex align-items-center" href="/homepy4"><i
                        data-feather="home"></i><span class="menu-title text-truncate"
                        data-i18n="tablero">Tablero</span></a></li>
            <li class="{{#if users1}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/usuarios/PYT-4"><i data-feather="users"></i><span class="menu-title text-truncate"
                        data-i18n="Usuarios">Clientes</span></a>
            </li>
            <li class="{{#if personal}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/personal_py4"><i data-feather='smile'></i><span class="menu-title text-truncate"
                        data-i18n="Usuarios">Personal</span></a>
            </li>
            <li class="{{#if corte}}active{{/if}} nav-item"><a class="d-flex align-items-center" href="/corte_py4"><i
                        data-feather='pie-chart'></i><span class="menu-title text-truncate"
                        data-i18n="Corte">Corte</span></a>
            </li>
           {{#if admin}} <li class="{{#if vehiculos}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/vehiculos_py4"><i data-feather='chrome'></i><span class="menu-title text-truncate"
                        data-i18n="vehiculos">Vehiculos</span></a>{{/if}}
            </li>
            <li class="{{#if sucursales}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/sucursales_py4"><i data-feather='layers'></i><span class="menu-title text-truncate"
                        data-i18n="Zonas">Zonas</span></a>
            </li>
                        <li class="{{#if carga_init}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/carga_inicial_py4"><i data-feather='package'></i><span class="menu-title text-truncate"
                        data-i18n="Carga">Carga Inicial</span></a>
            </li>
            
            <li class="{{#if promociones}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/promociones_bw"><i data-feather='star'></i><span class="menu-title text-truncate"
                        data-i18n="Promociones ">Promociones</span></a>
            </li>
            <li class="{{#if notificaciones}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/notificaciones_panel"><i data-feather='alert-circle'></i><span class="menu-title text-truncate"
                        data-i18n="Notificaciones ">Notificaciones</span></a>
            </li>
              <li class="{{#if seguimiento}}active{{/if}} nav-item"><a class="d-flex align-items-center"
                    href="/seguimiento_panel"><i data-feather='alert-circle'></i><span class="menu-title text-truncate"
                        data-i18n="seguimiento ">Seguimiento</span></a>
            </li>

        </ul>
        {{#if disabled_chofer}} <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li core-menu-vertical-section="" class="navigation-header mt-2"><span
                    class="navigation-section-text text-white">Opciones</span><svg xmlns="http://www.w3.org/2000/svg"
                    width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                </svg></li>
            <li class="{{#if dash}}active {{/if}}nav-item"><a class="d-flex align-items-center" href="#" id="ver_btn_cup"><i
                        data-feather="home"></i><span class="menu-title text-truncate"
                        data-i18n="tablero">Categorias</span></a></li>
              <li class="nav-item"><a class="d-flex align-items-center" href="logout_cuponera" id="ver_btn_cup"><i
                        data-feather="power"></i><span class="menu-title text-truncate"
                        data-i18n="tablero">Salir</span></a></li>          
        </ul>
        {{/if}}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="registro_pedido_modal" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Registrar Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form novalidate class="needs-validation was-validated repeater" action="/reg_pedido_modal"
                    method="post" id="reg_pedido_modal1">


                    <div class="form-group">
                        <label class="form-label" for="id_cliente_reg_pedido">Cliente</label>
                        <select class="select2 form-select" id="id_cliente_reg_pedido" name="id_cliente">
                            <option selected="" value="default"> Seleccione un cliente </option>
                            {{#each clientes_arr as |cliente i|}}
                            <option value="{{id}}"> {{firstName}} {{lastName}} / {{cp.asentamiento}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <button class="btn btn-primary mt-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#client-info" aria-expanded="false" aria-controls="collapseExample">
                        Modificar Cliente
                    </button>

                    <div class="collapse" id="client-info">

                        <div class="form-group mt-2"><label for="register-firstName" class="form-label">Nombre</label>
                            <input type="text" name="firstName" placeholder="Primer Nombre"
                                aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" autofocus
                                required>
                        </div>

                        <div class="form-group"><label for="register-lastName" class="form-label">Apellido</label><input
                                type="text" name="lastName" placeholder="Apellido" aria-describedby="register-lastName"
                                tabindex="2" class="form-control mb-2"></div>
                        <div class="divider">
                            <div class="divider-text">Dirección</div>
                        </div>


                        <div class="form-group mb-2"><label for="register-lastName" class="form-label">Códido
                                Postal</label><input type="text" name="cp" placeholder="cp"
                                aria-describedby="register-lastName" tabindex="2" class="form-control cp_select"
                                id="cp_select">
                        </div>

                        <div class="form-group mb-2"><label for="register-lastName"
                                class="form-label">Estado</label><input type="text" name="ciudad" placeholder="Ciudad"
                                aria-describedby="register-lastName" tabindex="2" class="form-control" value="Jalisco"
                                id="ciudad_select" readonly>
                        </div>
                        <div class="form-group mb-2"><label for="register-lastName"
                                class="form-label">Municipio</label><input type="text" name="municipio"
                                placeholder="Municipio" aria-describedby="register-lastName" tabindex="2"
                                class="form-control municipio" id="municipio" readonly>
                        </div>
                        <div class="form-group mb-2">
                            <label for="register-ciudad" class="form-label">Asentamiento</label>

                            <select class="select2 form-select select_asentamiento_me" id="select_asentamiento_me"
                                name="asentamiento">

                            </select>

                        </div>
                        <div class="form-group" hidden><label for="register-fraccionamiento"
                                class="form-label">Sucursal</label><input type="text" name="sucursal"
                                placeholder="Fraccionamiento" aria-describedby="register-fraccionamiento" tabindex="5"
                                class="form-control mb-2">
                        </div>
                        <div class="form-group" hidden><label for="register-fraccionamiento"
                                class="form-label">Fraccionamiento</label><input type="text" name="fraccionamiento"
                                placeholder="Fraccionamiento" aria-describedby="register-fraccionamiento" tabindex="5"
                                class="form-control mb-2">
                        </div>
                        <div class="form-group"><label for="register-coto" class="form-label">Coto</label><input
                                type="text" name="coto" placeholder="Coto" aria-describedby="register-coto" tabindex="6"
                                class="form-control mb-2"></div>

                        <div class="form-group"><label for="register-casa" class="form-label">Casa</label><input
                                type="text" name="casa" placeholder="Casa" aria-describedby="register-casa" tabindex="7"
                                class="form-control mb-2"></div>

                        <div class="form-group"><label for="register-calle" class="form-label">Calle</label><input
                                type="text" name="calle" placeholder="Calle" aria-describedby="register-calle"
                                tabindex="8" class="form-control mb-2"></div>
                        <div class="form-group"><label for="register-avenida" class="form-label">Avenida</label>
                            <input type="text" name="avenida" placeholder="Avenida" aria-describedby="register-avenida"
                                tabindex="9" class="form-control mb-2">
                        </div>

                        <div class="form-group"><label for="register-referencia"
                                class="form-label">Referencia</label><input type="text" name="referencia"
                                placeholder="Referencia" aria-describedby="register-referencia" tabindex="9"
                                class="form-control mb-2"></div>

                        <div class="form-group"><label for="register-telefono" class="form-label">Teléfono</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend"><span id="basic-addon1"
                                        class="input-group-text">+52</span>
                                </div>
                                <input type="number" name="telefono" placeholder="(760) 123 00 00"
                                    mask="(000) 000 00 00" aria-describedby="register-telefono" tabindex="11"
                                    class="form-control">
                            </div>
                        </div>

                    </div>

                    <div class="divider">
                        <div class="divider-text">Chofer</div>
                    </div>

                    <div class="form-group">
                        <label for="register-ciudad" class="form-label">Seleccione un chofer</label>
                        <select name="chofer" placeholder="Chofer" aria-describedby="register-ciudad" tabindex="3"
                            class="form-control mb-2 chofer_reg_modal_pedido" id='chofer'>
                            <option default value="default">Seleccione un chofer</option>
                            {{#each choferes_ as |chofer i |}}
                            <option data-id="{{id}}">{{name}} {{lastName}}</option>
                            {{/each}}
                        </select>
                        <input type="hidden" id="id_chofer" name="id_chofer">
                    </div>

                    <div class="divider">
                        <div class="divider-text">Productos</div>
                    </div>

                    <div class="mb-1">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="pill" href="#garrafon"
                                    aria-expanded="true">Garrafon 19L</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="pill" href="#botella"
                                    aria-expanded="false">Botella 1L</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="about-tab" data-bs-toggle="pill" href="#garrafon11l"
                                    aria-expanded="false">Garrafon 11L</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="pill" href="#botella5l"
                                    aria-expanded="false">Botella 5L</a>
                            </li>
                        </ul>

                        <div class="tab-content mt-2">
                            <div role="tabpanel" class="tab-pane active" id="garrafon" aria-labelledby="garrafon-tab"
                                aria-expanded="true">

                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Refil</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0" id="count_refill_garrafon"
                                                name="refill_cant_garrafon" />
                                        </div>
                                    </div>
                                    <input type="text" class="form-control mb-1 w-50" id="refill_garrafon_mont"
                                        readonly="readonly" value="0" name="refill_garrafon_mont" hidden>
                                </div>

                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Canje</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0" id="count_canje_garrafon"
                                                name="canje_cant_garrafon" />
                                        </div>
                                    </div> <input type="text" class="form-control mb-1 w-50" id="canje_garrafon_mont"
                                        readonly="readonly" value="0" name="canje_garrafon_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Envase Nuevo</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0" id="count_enNew_garrafon"
                                                name="enNew_cant_garrafon" />
                                        </div>
                                    </div> <input type="text" class="form-control mb-1 w-50" id="enNew_garrafon_mont"
                                        readonly="readonly" value="0" name="nuevo_garrafon_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Obsequio</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0"
                                                id="count_enobsequio_garrafon" name="enobsequio_cant_garrafon" />
                                        </div>
                                    </div>
                                </div>
                                <input type="number" class="" value="0" id="total_garrafon" name="total_garrafon_cant"
                                    hidden />
                                <p class="mb-0">Cantidad Total: <span id="cant_garrafon">0</span></p>
                                <input type="number" class="" value="0" id="monto_garrafon_input" name="total_garrafon"
                                    hidden />
                                <p class="m-0">Costo Total del producto: $<span id="monto_garrafon">0</span></p>
                            </div>



                            <div class="tab-pane" id="botella" role="tabpanel" aria-labelledby="botella-tab"
                                aria-expanded="false">
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Refil</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0" id="count_refill_botella"
                                                name="refill_cant_botella" />
                                        </div>

                                    </div>
                                    <input type="text" class="form-control mb-1 w-50" id="refill_botella_mont"
                                        readonly="readonly" value="0" name="refill_botella_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Canje</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0" id="count_canje_botella"
                                                name="canje_cant_botella" />
                                        </div>

                                    </div> <input type="text" class="form-control mb-1 w-50" id="canje_botella_mont"
                                        readonly="readonly" value="0" name="canje_botella_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Envase Nuevo</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0" id="count_enNew_botella"
                                                name="enNew_cant_botella" />
                                        </div>
                                    </div> <input type="text" class="form-control mb-1 w-50" id="enNew_botella_mont"
                                        readonly="readonly" value="0" name="nuevo_botella_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Obsequio</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0"
                                                id="count_enobsequio_botella" name="enobsequio_cant_botella" />
                                        </div>
                                    </div>
                                </div>
                                <input type="number" class="" value="0" id="total_botella" name="total_botella_cant"
                                    hidden />
                                <p class="mb-0">Cantidad Total: <span id="cant_botella">0</span></p>
                                <input type="number" class="" value="0" id="monto_botella_input" name="total_botella"
                                    hidden />
                                <p class="m-0">Costo Total del producto: $<span id="monto_botella">0</span></p>
                            </div>


                            <div class="tab-pane" id="garrafon11l" role="tabpanel" aria-labelledby="garrafon11l-tab"
                                aria-expanded="false">
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Refil</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0"
                                                id="count_refill_garrafon11l" name="refill_cant_garrafon11l" />
                                        </div>
                                    </div><input type="text" class="form-control mb-1 w-50" id="refill_garrafon11l_mont"
                                        readonly="readonly" value="0" name="refill_garrafon11l_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Canje</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0"
                                                id="count_canje_garrafon11l" name="canje_cant_garrafon11l" />
                                        </div>
                                    </div><input type="text" class="form-control mb-1 w-50" id="canje_garrafon11l_mont"
                                        readonly="readonly" value="0" name="canje_garrafon11l_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Envase Nuevo</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0"
                                                id="count_enNew_garrafon11l" name="enNew_cant_garrafon11l" />
                                        </div>
                                    </div> <input type="text" class="form-control mb-1 w-50" id="enNew_garrafon11l_mont"
                                        readonly="readonly" value="0" name="nuevo_garrafon11l_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Obsequio</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0"
                                                id="count_enobsequio_garrafon11l" name="enobsequio_cant_garrafon11l" />
                                        </div>
                                    </div>
                                </div>

                                <input type="number" class="" value="0" id="total_garrafon11l"
                                    name="total_garrafon11l_cant" hidden />
                                <p class="mb-0">Cantidad Total: <span id="cant_garrafon11l">0</span></p>
                                <input type="number" class="" value="0" id="monto_garrafon11l_input"
                                    name="total_garrafon11l" hidden />
                                <p class="m-0">Costo Total del producto: $<span id="monto_garrafon11l">0</span></p>
                            </div>

                            <div class="tab-pane" id="botella5l" role="tabpanel" aria-labelledby="botella5l-tab"
                                aria-expanded="false">

                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Refil</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0" id="count_refill_botella5l"
                                                name="refill_cant_botella5l" />
                                        </div>
                                    </div> <input type="text" class="form-control mb-1 w-50" id="refill_botella5l_mont"
                                        readonly="readonly" value="0" name="refill_botella5l_mont" hidden>

                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Canje</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0" id="count_canje_botella5l"
                                                name="canje_cant_botella5l" />
                                        </div>
                                    </div><input type="text" class="form-control mb-1 w-50" id="canje_botella5l_mont"
                                        readonly="readonly" value="0" name="canje_botella5l_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Envase Nuevo</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0" id="count_enNew_botella5l"
                                                name="enNew_cant_botella5l" />
                                        </div>
                                    </div> <input type="text" class="form-control mb-1 w-50" id="enNew_botella5l_mont"
                                        readonly="readonly" value="0" name="nuevo_botella5l_mont" hidden>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between form-control mb-1"
                                    readonly>
                                    <p class="m-0">Obsequio</p>
                                    <div class="input-group bootstrap-touchspin">
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="touchspin" value="0"
                                                id="count_enobsequio_botella5l" name="enobsequio_cant_botella5l" />
                                        </div>
                                    </div>
                                </div>
                                <input type="number" class="" value="0" id="total_botella5l" name="total_botella5l_cant"
                                    hidden />
                                <p class="mb-0">Cantidad Total: <span id="cant_botella5l">0</span></p>
                                <input type="number" class="" value="0" id="monto_botella5l_input"
                                    name="total_botella5l" hidden />
                                <p class="m-0">Costo Total del producto: $<span id="monto_botella5l">0</span></p>
                            </div>
                        </div>
                    </div>
                    
                      <div class="form-group" style="display: none;" id="deuda_box">
                        <label for="register-firstName" class="form-label" style="color: red">Adeudo de: <strong>$<span id="deuda_verf"></span></strong></label><br>
                        <label for="register-firstName" class="form-label">Prestados: <span id="prestados_anterior"></span> garrafones</label><br>
                         <input type="text" name="deuda_anterior" class="d-none" >   
                        </div>
                    <div class="d-flex m-0">
                        <input type="number" class="" value="0" id="total_total_inp" name="total_total_inp" hidden />
                        <b class="m-0">Monto Total: $<span id="total_total">0</span></b>
                    </div>

                    <div class="divider">
                        <hr>
                    </div>

                    <div class="form-group"><label for="register-ciudad" class="form-label">Método de Pago</label>
                        <select name="metodo_pago" placeholder="Metodo de pago" aria-describedby="metodo_pago"
                            tabindex="3" class="form-control mb-2" id="metodo_pago">
                            <option selected=""> Efectivo </option>
                            <option> Tarjeta </option>
                            <option> Transferencia </option>
                        </select>
                    </div>
                    <div class="form-group"><label for="register-firstName" class="form-label">Status del Pago</label>
                        <input type="text" name="status_pago" tabindex="1" class="form-control mb-2" readonly
                            id="status_pago" value="Pagado">
                    </div>
                    <div class="form-group"><label for="register-firstName" class="form-label">Status del Pedido</label>
                        <input type="text" name="status_pedido" tabindex="1" class="form-control mb-2" readonly
                            value="Por entregar">
                    </div>
                    <div class="form-group"><label for="register-firstName" class="form-label">Garrafones
                            prestados(S/R)</label>
                        <input type="text" name="garrafones_prestamos" placeholder="Garrafones Prestados"
                            aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                    </div>
                    <div class="form-group"><label for="register-firstName" class="form-label">Garrafones
                            dañados</label>
                        <input type="text" name="danados" placeholder="Garrafones Dañados"
                            aria-describedby="register-firstName" tabindex="1" class="form-control mb-2">
                    </div>
                    <div class="form-group"><label for="register-firstName" class="form-label">Observación</label>
                        <input type="text" name="observacion" placeholder="Observación"
                            aria-describedby="register-firstName" tabindex="1" class="form-control mb-2" required>
                    </div>
            </div>
            <div class="modal-footer">
                <button tabindex="26" rippleeffect=""
                    class="btn btn-primary btn-block waves-effect waves-float waves-light">Regístrar</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="add_cliente" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Agregar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation was-validated" action="/save_cliente_py4" method="post" id="form_reg_cliente">
                    <div class="form-group"><label for="register-firstName" class="form-label">Nombre</label>
                        <input type="text" name="firstName" placeholder="Pedro" aria-describedby="register-firstName"
                            tabindex="1" autofocus="" class="form-control mb-2">
                    </div>
                    <div class="form-group"><label for="register-lastName" class="form-label">Apellido</label><input
                            type="text" name="lastName" placeholder="Pérez" aria-describedby="register-lastName"
                            tabindex="2" class="form-control mb-2"></div>
                    <div class="divider">
                        <div class="divider-text">Dirección</div>
                    </div>

                    <div class="form-group mb-2"><label for="register-lastName" class="form-label">Códido
                            Postal</label><input type="text" name="cp" placeholder="cp"
                            aria-describedby="register-lastName" tabindex="2" class="form-control cp_select"
                            id="cp_select">
                    </div>

                    <div class="form-group mb-2"><label for="register-lastName" class="form-label">Estado</label><input
                            type="text" name="ciudad" placeholder="Ciudad" aria-describedby="register-lastName"
                            tabindex="2" class="form-control" value="Jalisco" id="ciudad_select" readonly>
                    </div>


                    <div class="form-group mb-2"><label for="register-lastName"
                            class="form-label">Municipio</label><input type="text" name="municipio"
                            placeholder="Municipio" aria-describedby="register-lastName" tabindex="2"
                            class="form-control municipio" id="municipio" readonly>
                    </div>
                    <div class="form-group mb-2">
                        <label for="register-ciudad" class="form-label">Asentamiento</label>

                        <select class="select2 form-select select_asentamiento_me" id="select_asentamiento"
                            name="asentamiento">

                        </select>

                    </div>
                    <div class="form-group" hidden><label for="register-fraccionamiento"
                            class="form-label">Fraccionamiento</label><input type="text" name="fraccionamiento"
                            placeholder="Fraccionamiento" aria-describedby="register-fraccionamiento" tabindex="5"
                            class="form-control mb-2"></div>
                    <div class="form-group"><label for="register-coto" class="form-label">Coto</label><input type="text"
                            name="coto" placeholder="Coto" aria-describedby="register-coto" tabindex="6"
                            class="form-control mb-2"></div>
                    <div class="form-group"><label for="register-casa" class="form-label">Casa</label><input type="text"
                            name="casa" placeholder="Casa" aria-describedby="register-casa" tabindex="7"
                            class="form-control mb-2"></div>
                    <div class="form-group"><label for="register-calle" class="form-label">Calle</label><input
                            type="text" name="calle" placeholder="Calle" aria-describedby="register-calle" tabindex="8"
                            class="form-control mb-2"></div>
                    <div class="form-group"><label for="register-avenida" class="form-label">Avenida</label><input
                            type="text" name="avenida" placeholder="Avenida" aria-describedby="register-avenida"
                            tabindex="9" class="form-control mb-2"></div>
                    <div class="form-group"><label for="register-referencia" class="form-label">Referencia</label><input
                            type="text" name="referencia" placeholder="Referencia"
                            aria-describedby="register-referencia" tabindex="9" class="form-control mb-2"></div>
                    <div class="form-group"><label for="register-telefono" class="form-label">Teléfono</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span>
                            </div>
                            <input type="number" name="telefono" placeholder="(760) 123 00 00" mask="(000) 000 00 00"
                                aria-describedby="register-telefono" tabindex="11" class="form-control mb-2" required>
                        </div>
                    </div>
                    <div class="divider">
                        <div class="divider-text">Familiares</div>
                    </div>
                    <div class="form-group"><label for="register-nombre_familiar_1" class="form-label">Nombre del
                            familiar
                            1</label><input type="text" name="nombre_familiar_1" placeholder="Pedro"
                            aria-describedby="register-nombre_familiar_1" tabindex="12" class="form-control mb-2"></div>
                    <div class="form-group"><label for="register-apellido_familiar_1" class="form-label">Apellido del
                            familiar
                            1</label><input type="text" name="apellido_familiar_1" placeholder="Pérez"
                            aria-describedby="register-apellido_familiar_1" tabindex="13" class="form-control mb-2">
                    </div>
                    <div class="form-group"><label for="register-telefono_familiar_1" class="form-label">Teléfono del
                            familiar
                            1</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span>
                            </div>
                            <input type="number" name="telefono_familiar_1" placeholder="(760) 123 00 00"
                                mask="(000) 000 00 00" aria-describedby="register-telefono_familiar_1" tabindex="14"
                                class="form-control mb-2">
                        </div>
                    </div>
                    <div class="form-group"><label for="register-nombre_familiar_2" class="form-label">Nombre del
                            familiar
                            2</label><input type="text" name="nombre_familiar_2" placeholder="Pedro"
                            aria-describedby="register-nombre_familiar_2" tabindex="15" class="form-control mb-2"></div>
                    <div class="form-group"><label for="register-apellido_familiar_2" class="form-label">Apellido del
                            familiar
                            2</label><input type="text" name="apellido_familiar_2" placeholder="Pérez"
                            aria-describedby="register-apellido_familiar_2" tabindex="16" class="form-control mb-2">
                    </div>
                    <div class="form-group"><label for="register-telefono_familiar_2" class="form-label">Teléfono del
                            familiar
                            2</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span>
                            </div>
                            <input type="number" name="telefono_familiar_2" placeholder="(760) 123 00 00"
                                mask="(000) 000 00 00" aria-describedby="register-telefono_familiar_2" tabindex="17"
                                class="form-control mb-2">
                        </div>
                    </div>
                    <div class="form-group"><label for="register-tipo_cliente" class="form-label">Tipo de
                            cliente</label><select aria-describedby="register-tipo_cliente" tabindex="20"
                            name="tipo_cliente" class="form-control mb-2">
                            <option selected=""> Residencial </option>
                            <option> Negocio </option>
                            <option> Punto de venta </option>
                        </select></div>
                    <div class="form-group"><label for="register-cliente_nuevo" class="form-label">¿Es un nuevo
                            cliente?</label>
                            
                        <div class="custom-control custom-checkbox"><input type="checkbox" id="customCheck1"
                                name="cliente_nuevo" aria-describedby="register-cliente_nuevo" tabindex="21"
                                class="custom-control-input me-1" value="SI"><label for="customCheck1"
                                class="custom-control-label">Sí</label>
                        </div>
                    </div>
                                        <div class="form-group"><label for="register-sucursal" class="form-label">Zona</label><select
                            aria-describedby="register-sucursal" tabindex="24" name="sucursal"
                            class="form-control mb-2" id="reg_zona_cliente">
                            <option selected="" value="0"> Seleccione una zona </option>
                            {{#each sucursales_let as |sucursal i|}}
                            <option value={{id}}> {{nombre}} </option>
                            {{/each}}
                        </select></div>
                   <div class="form-group">
                  <label for="register-lastName" class="form-label">Etiqueta</label>
                  <select class="select2 form-select" id="color_tag_reg_cliente" name="color" >
                    <option selected="" value="0"> Seleccione una etiqueta </option>
                    {{#each etiquetas_let as |cliente i|}}
                    <option value="{{id}}"> {{etiquetas}}</option>
                    {{/each}}
                  </select>                
                </div>
                    <div class="form-group"><label for="register-fecha_ultimo_pedido" class="form-label">Fecha del
                            último
                            pedido</label><input type="date" name="fecha_ultimo_pedido" placeholder="01/02/2023"
                            mask="00/00/0000" aria-describedby="register-fecha_ultimo_pedido" tabindex="22"
                            class="form-control mb-2"></div>
                    <div class="form-group"><label for="register-utimos_botellones" class="form-label">Cantidad de
                            garrafones
                            en el último pedido</label><input type="text" name="utimos_botellones" placeholder="0"
                            aria-describedby="register-utimos_botellones" tabindex="23" class="form-control mb-2"></div>


                    <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
                    <!--container-->
                    <div class="divider">
                        <div class="divider-text">Acceso</div>
                    </div>
                    <div class="form-group"><label for="register-email" class="form-label">Correo</label><input
                            type="text" name="email" placeholder="pedro@example.com" aria-describedby="register-email"
                            tabindex="25" class="form-control mb-2"></div>
            </div>
            <div class="modal-footer">
                <button tabindex="26"
                    class="btn btn-primary btn-block waves-effect waves-float waves-light">Regístrate</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="sucursal_change" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Cambiar Zona</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form novalidate class="needs-validation was-validated repeater" action="/cambiar_sucursal"
                    method="post">
                    <div class="mb-1">
                        <label class="form-label" >Selecciona la zona</label>
                        <select class="form-select" name="cambia_sucursal">
                            <option value="default">Default</option>
                            {{#each sucursales_let as |sucursal i|}}
                            <option value="{{id}}">{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button tabindex="26" rippleeffect=""
                    class="btn btn-primary btn-block waves-effect waves-float waves-light">Cambiar</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- END: Main Menu-->
{{/if}}