<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section class="asistencias">
                <div class="row">
                    {{!---<div class="col-12 my-1">
                        <p class="lead">{{numLeccion}}</p>
                        <p class="lead">{{diff}}</p>
                        <p class="lead">{{rest}}</p>
                        <p class="lead">{{fechaActual}}</p>
                        <p class="lead">{{fechaInicio}}</p>
                    </div>----}}
                    
                    <div class="col-12 mb-1">
                        <div class="demo-inline-spacing">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo" id="inlineRadio3" value="1" checked="">
                                <label class="form-check-label" for="inlineRadio3">Desde Cero</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="inlineRadio4" name="tipo" value="2">
                                <label class="form-check-label" for="inlineRadio4">Intensivo</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 p-0" id="filtrosDesdeCero">
                        <div class="row m-0 p-0">
                            <div class="col-6 col-md-4 mb-1">
                                <select name="" id="" class="form-select">
                                    <option value="-">Seleccionar Grupo</option>
                                    {{#each gruposDesde0 as |grupo i|}}
                                    <option value="{{grupo.id}}">
                                        {{grupo.identificador}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="col-6 col-md-4 mb-1">
                                <select name="" id="" class="form-select">
                                    <option value="-">Seleccionar Lección</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 p-0 d-none" id="filtrosIntensivo">
                        <div class="row m-0 p-0">
                            <div class="col-6 col-md-4 mb-1">
                                <select name="" id="" class="form-select">
                                    <option value="-">Seleccionar Grupo</option>
                                    {{#each gruposIntensivo as |grupo i|}}
                                    <option value="{{grupo.id}}">
                                        {{grupo.identificador}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="col-6 col-md-4 mb-1">
                                <select name="" id="" class="form-select">
                                    <option value="-">Seleccionar Lección</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <form action="" method="GET" id="grupoForm" class="d-none">
                        <input type="text" name="id" value="PYT-672">
                        <input type="text" name="grupoid" class="grupoId">
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    let checkDesde0 = document.getElementById('inlineRadio3'),
    checkIntensivo = document.getElementById('inlineRadio4'),
    filtrosDesdeCero = document.getElementById('filtrosDesdeCero'),
    selectDesdeCero = document.querySelector('#filtrosDesdeCero select'),
    filtrosIntensivo = document.getElementById('filtrosIntensivo'),
    selectIntensivo = document.querySelector('#filtrosIntensivo select'),
    grupoForm = document.getElementById('grupoForm'),
    grupoFormInput = document.querySelector('#grupoForm input.grupoId');

    checkDesde0.addEventListener('change', e => {
        if(checkDesde0.checked === true) {
            filtrosDesdeCero.classList.remove('d-none');
            filtrosIntensivo.classList.add('d-none');
        }
    });

    selectDesdeCero.addEventListener('change', e => {
        let select = selectDesdeCero.options[selectDesdeCero.selectedIndex].value;
        grupoFormInput.value = select;
        grupoForm.action = `/asistenciasgrupo/PYT-672/${select}`;
        grupoForm.submit();
    });

    checkIntensivo.addEventListener('change', e => {
        if(checkIntensivo.checked === true) {
            filtrosIntensivo.classList.remove('d-none');
            filtrosDesdeCero.classList.add('d-none');
        }
    });

</script>