<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section class="asistencias">
                <div class="row">
                    {{!--<div class="col-12 my-1">
                        <p class="lead">grupo: {{grupo.identificador}}</p>
                        <p class="lead">numero leccion: {{numLeccion}}</p>
                        <p class="lead">diferencia de dias: {{diff}}</p>
                        <p class="lead">calculo: {{rest}}</p>
                        <p class="lead">fecha actual: {{fechaActual}}</p>
                        <p class="lead">fecha inicio: {{fechaInicio}}</p>
                    </div>--}}
                    
                    <input type="text" class="d-none" value="{{grupoId}}" id="grupoId">
                    <input type="text" class="d-none" value="{{numLeccion}}" id="numeroLeccion">
                    <input type="text" class="d-none" value="{{matri}}" id="matriculaGrupo">

                    <div class="col-12 mb-1">
                        <div class="demo-inline-spacing">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo" id="inlineRadio3" value="1" checked="">
                                <label class="form-check-label" for="inlineRadio3">Desde Cero</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="inlineRadio4" name="tipo" value="2">
                                <label class="form-check-label" for="inlineRadio4">Intensivo</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 p-0" id="filtrosDesdeCero">
                        <div class="row m-0 p-0">
                            <div class="col-6 col-md-4 mb-1">
                                <label for="" class="form-label">Seleccionar Grupo</label>
                                <select name="" id="" class="form-select select2 grupo">
                                    <option value="-">Seleccionar Grupo</option>
                                    {{#each gruposDesde0 as |grupo i|}}
                                    <option value="{{grupo.id}}">
                                        {{grupo.identificador}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="col-6 col-md-4 mb-1">
                                <label for="" class="form-label">Seleccionar Lección</label>
                                <select name="" id="" class="form-select select2 leccion">
                                    <option value="-">Seleccionar Lección</option>
                                    <option value="1" disabled>1</option>
                                    <option value="2" disabled>2</option>
                                    <option value="3" disabled>3</option>
                                    <option value="4" disabled>4</option>
                                    <option value="5" disabled>5</option>
                                    <option value="6" disabled>6</option>
                                    <option value="7" disabled>7</option>
                                    <option value="8" disabled>8</option>
                                    <option value="9" disabled>9</option>
                                    <option value="10" disabled>10</option>
                                    <option value="11" disabled>11</option>
                                    <option value="12" disabled>12</option>
                                    <option value="13" disabled>13</option>
                                    <option value="14" disabled>14</option>
                                    <option value="15" disabled>15</option>
                                    <option value="16" disabled>16</option>
                                    <option value="17" disabled>17</option>
                                    <option value="18" disabled>18</option>
                                    <option value="19" disabled>19</option>
                                    <option value="20" disabled>20</option>
                                    <option value="21" disabled>21</option>
                                    <option value="22" disabled>22</option>
                                    <option value="23" disabled>23</option>
                                    <option value="24" disabled>24</option>
                                    <option value="25" disabled>25</option>
                                    <option value="26" disabled>26</option>
                                    <option value="27" disabled>27</option>
                                    <option value="28" disabled>28</option>
                                    <option value="29" disabled>29</option>
                                    <option value="30" disabled>30</option>
                                    <option value="31" disabled>31</option>
                                    <option value="32" disabled>32</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 p-0 d-none" id="filtrosIntensivo">
                        <div class="row m-0 p-0">
                            <div class="col-6 col-md-4 mb-1">
                                <label for="" class="form-label">Seleccionar Grupo</label>
                                <select name="" id="" class="form-select select2 grupo">
                                    <option value="-">Seleccionar Grupo</option>
                                    {{#each gruposIntensivo as |grupo i|}}
                                    <option value="{{grupo.id}}">
                                        {{grupo.identificador}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="col-6 col-md-4 mb-1">
                                <label for="" class="form-label">Seleccionar Lección</label>
                                <select name="" id="" class="form-select select2 leccion">
                                    <option value="-">Seleccionar Lección</option>
                                    <option value="1" disabled>1</option>
                                    <option value="2" disabled>2</option>
                                    <option value="3" disabled>3</option>
                                    <option value="4" disabled>4</option>
                                    <option value="5" disabled>5</option>
                                    <option value="6" disabled>6</option>
                                    <option value="7" disabled>7</option>
                                    <option value="8" disabled>8</option>
                                    <option value="9" disabled>9</option>
                                    <option value="10" disabled>10</option>
                                    <option value="11" disabled>11</option>
                                    <option value="12" disabled>12</option>
                                    <option value="13" disabled>13</option>
                                    <option value="14" disabled>14</option>
                                    <option value="15" disabled>15</option>
                                    <option value="16" disabled>16</option>
                                    <option value="17" disabled>17</option>
                                    <option value="18" disabled>18</option>
                                    <option value="19" disabled>19</option>
                                    <option value="20" disabled>20</option>
                                    <option value="21" disabled>21</option>
                                    <option value="22" disabled>22</option>
                                    <option value="23" disabled>23</option>
                                    <option value="24" disabled>24</option>
                                    <option value="25" disabled>25</option>
                                    <option value="26" disabled>26</option>
                                    <option value="27" disabled>27</option>
                                    <option value="28" disabled>28</option>
                                    <option value="29" disabled>29</option>
                                    <option value="30" disabled>30</option>
                                    <option value="31" disabled>31</option>
                                    <option value="32" disabled>32</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <section class="row m-0 p-0" id="estudiantes"></section>

                    <div class="col-12">
                        <div class="card card-statistics border-success" id="estudiante{{id}}">
                            <div class="row m-0 p-0">
                                <div class="col-10 col-xl-11">
                                    <div class="row card-header">
                                        <div class="col-12">
                                            <div class="d-flex flex-column flex-sm-row justify-content-sm-between mb-1">
                                                <div class="d-flex flex-column mb-1 mb-md-0">
                                                    <h5><span class="badge badge-light-success">Presente</span></h5>
                                                    <h1 class="mb-0"><b>{{nombre}} {{primer_apellido}}</b></h1>
                                                </div>

                                                <div class="d-flex flex-column">
                                                    <p class="text-success"><b>Calificación</b></p>
                                                    <div class="d-flex align-items-center">
                                                        <button class="btn btn-sm btn-primary bootstrap-touchspin-down btnCalificacionMenos" data-id="{{id}}" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus" style="pointer-events: none;"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button>

                                                        <p class="h3 mb-0 mx-1"><input type="number" name="" class="calificacion" value="0" min="0" max="100">%</p>
                                                        

                                                        <button class="btn btn-sm btn-primary bootstrap-touchspin-up btnCalificacionMas" data-id="{{id}}" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus" style="pointer-events: none;"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-block">
                                                <div id="example-caption-2" class="d-block">Participación: <span class="porcentaje">0</span>%</div>
                                                <input type="range" name="" class="range" id="" value="0" min="0" max="100">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-xl-1 p-0">
                                    <div class="box icon d-flex align-items-center justify-content-center h-100 btnAsistencia" role="button" data-id="{{id}}">
                                        <i data-feather='user-check' class="feather text-secondary d-none check" style="pointer-events: none;"></i>
                                        <i data-feather='user-minus' class="feather text-success uncheck" style="pointer-events: none;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <template id="template">            
                    </template>

                    <form action="" method="GET" id="grupoForm" class="d-none">
                        <input type="text" name="id" value="PYT-672">
                        <input type="text" name="grupoid" class="grupoId">
                    </form>

                    <form action="" id="procesarAusente" class="d-none">
                        <input type="number" name="leccion" id="ausenteNumLeccion">
                        <input type="number" name="grupoId" id="ausenteGrupoId">
                        <input type="number" name="matriculaId" id="ausenteMatriculaId">
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    let matriculaGrupo = document.getElementById('matriculaGrupo').value;

    if(matriculaGrupo != "") {
        matriculaGrupo = JSON.parse(document.getElementById('matriculaGrupo').value);
    } else {
        matriculaGrupo = "";
    }

    const EstablecerMatriculaPorLeccion = () => {
        let fragment = new DocumentFragment(), esContainer = document.getElementById('estudiantes');
        esContainer.innerHTML = '';

        matriculaGrupo.forEach(matricula => {  
            let div = document.createElement('div');
            div.classList.add('col-12');      
            let lecc = null, idAusentes = null;

            if ($('#filtrosDesdeCero .select2.grupo').val() != "-") {
                lecc = parseInt($('#filtrosDesdeCero .select2.leccion').val());
                $('#ausenteNumLeccion').val($('#filtrosDesdeCero .select2.leccion').val());
                $('#ausenteGrupoId').val($('#filtrosDesdeCero .select2.grupo').val());
            } else {
                lecc = parseInt($('#filtrosIntensivo .select2.leccion').val());
                $('#ausenteNumLeccion').val($('#filtrosIntensivo .select2.leccion').val());
                $('#ausenteGrupoId').val($('#filtrosIntensivo .select2.grupo').val());
            }
            
            $('#ausenteMatriculaId').val('');
            $('#ausenteMatriculaId').val(matricula.id);

            let form = new FormData(document.getElementById('procesarAusente'));

            fetch('/obtenerMatriculaAusente', {
                method: 'POST',
                body: form
            })
            .then(response => response.json())
            .then(data => {
                let response = data.resp;
                if(response.length) {
                    idAusentes = response[0].matriculaId;
                } 
                //console.log(idAusentes);

                let result = matriculaGrupo.filter(item => {
                    return item.id === idAusentes;
                }); 
            
                let calif = '';

                if(lecc === 9 || lecc === 17 || lecc === 18 || lecc === 25 || lecc === 31 || lecc === 32) {
                    calif = `
                    <div class="d-flex flex-column">
                        <p class="text-success"><b>Calificación</b></p>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-icon btn-sm btn-primary bootstrap-touchspin-down btnCalificacionMenos" data-id="${matricula.id}" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus" style="pointer-events: none;"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button>

                            <p class="h3 mb-0 mx-1"><input type="number" name="calificacion" class="calificacion" value="0" min="0" max="100">%</p>
                            
                            <button class="btn btn-icon btn-sm btn-primary bootstrap-touchspin-up btnCalificacionMas" data-id="${matricula.id}" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus" style="pointer-events: none;"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button>
                        </div>
                    </div>`;
                    if(lecc === 32) {
                        calif = `
                        <div class="d-flex flex-column">
                            <p class="text-success"><b>Calificación</b></p>
                            <div class="d-flex align-items-center">
                                <button class="btn btn-icon btn-sm btn-primary bootstrap-touchspin-down btnCalificacionMenos" data-id="${matricula.id}" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus" style="pointer-events: none;"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button>

                                <p class="h3 mb-0 mx-1"><input type="number" name="calificacion" class="calificacion" value="0" min="0" max="100">%</p>
                                

                                <button class="btn btn-icon btn-sm btn-primary bootstrap-touchspin-up btnCalificacionMas" data-id="${matricula.id}" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus" style="pointer-events: none;"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button>
                            </div>
                        </div>`;
                    }
                }

                if(result.length) {
                    div.innerHTML = `
                        <div class="card card-statistics border-secondary" id="estudiante${matricula.id}">
                            <div class="row m-0 p-0">
                                <div class="col-10 col-xl-11">
                                    <div class="row card-header">
                                        <div class="col-12">
                                            <div class="d-flex flex-column flex-sm-row justify-content-sm-between">
                                                <div class="d-flex flex-column mb-1 mb-md-0">
                                                    <h5><span class="badge badge-light-secondary">Ausente</span></h5>
                                                    <h1 class="mb-0"><b>${matricula.nombre} ${matricula.primer_apellido}</b></h1>
                                                </div> 
                                                ${calif}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-xl-1 p-0">
                                    <div class="box icon d-flex align-items-center justify-content-center h-100 btnAsistencia" role="button" data-id="${matricula.id}">
                                        ${feather.icons['user-check'].toSvg({class: 'feather text-secondary check', style: 'pointer-events: none;'})}
                                        ${feather.icons['user-minus'].toSvg({class: 'feather text-success d-none uncheck', style: 'pointer-events: none;'})}
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                } else {
                    div.innerHTML = `
                        <div class="card card-statistics border-success" id="estudiante${matricula.id}">
                            <div class="row m-0 p-0">
                                <div class="col-10 col-xl-11">
                                    <div class="row card-header">
                                        <div class="col-12">
                                            <div class="d-flex flex-column flex-sm-row justify-content-sm-between">
                                                <div class="d-flex flex-column mb-1 mb-md-0">
                                                    <h5><span class="badge badge-light-success">Ausente</span></h5>
                                                    <h1 class="mb-0"><b>${matricula.nombre} ${matricula.primer_apellido}</b></h1>
                                                </div>
                                                ${calif}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-xl-1 p-0">
                                    <div class="box icon d-flex align-items-center justify-content-center h-100 btnAsistencia" role="button" data-id="${matricula.id}">
                                        ${feather.icons['user-check'].toSvg({class: 'feather text-secondary d-none check', style: 'pointer-events: none;'})}
                                        ${feather.icons['user-minus'].toSvg({class: 'feather text-success uncheck', style: 'pointer-events: none;'})}
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                }
            });  

            fragment.appendChild(div);
        });

        esContainer.appendChild(fragment);
    }

    if(matriculaGrupo != "") {
        let docListo = setInterval(() => {
            if(document.readyState === "complete") {
                EstablecerMatriculaPorLeccion();
                clearInterval(docListo);
            }
        }, 1000);
    }
    
    let checkDesde0 = document.getElementById('inlineRadio3'),
    checkIntensivo = document.getElementById('inlineRadio4'),
    filtrosDesdeCero = document.getElementById('filtrosDesdeCero'),
    selectDesdeCero = document.querySelector('#filtrosDesdeCero select.grupo'),
    filtrosIntensivo = document.getElementById('filtrosIntensivo'),
    selectIntensivo = document.querySelector('#filtrosIntensivo select.grupo'),
    grupoForm = document.getElementById('grupoForm'),
    grupoFormInput = document.querySelector('#grupoForm input.grupoId');

    checkDesde0.addEventListener('change', e => {
        if(checkDesde0.checked === true) {
            filtrosDesdeCero.classList.remove('d-none');
            filtrosIntensivo.classList.add('d-none');
        }
    });

    if($('#grupoId').val() != "") {
        let arr = Object.values(selectDesdeCero.options),
        arr2 = Object.values(selectIntensivo.options);
        
        arr.forEach(item => {
            if (item.value === $('#grupoId').val()) {
                $('#filtrosDesdeCero select.grupo').val($('#grupoId').val());
                $('#filtrosDesdeCero select.grupo').trigger('change');
                $('#filtrosDesdeCero select.leccion').val($('#numeroLeccion').val());
                $('#filtrosDesdeCero select.leccion').trigger('change');
                let numLecciones = parseInt($('#numeroLeccion').val());
                for(i = 0; i <= numLecciones; i++) {
                    $('#filtrosDesdeCero select.leccion')[0].options[i].disabled = false;
                }
            }
        });

        arr2.forEach(item => {
            if (item.value === $('#grupoId').val()) {
                $('#filtrosIntensivo select.grupo').val($('#grupoId').val());
                $('#filtrosIntensivo select.grupo').trigger('change');
                $('#filtrosIntensivo select.leccion').val($('#numeroLeccion').val());
                $('#filtrosIntensivo select.leccion').trigger('change');
                let numLecciones = parseInt($('#numeroLeccion').val());
                for(i = 0; i <= numLecciones; i++) {
                    $('#filtrosIntensivo select.leccion')[0].options[i].disabled = false;
                }
                checkDesde0.checked = false;
                checkIntensivo.checked = true;
                filtrosIntensivo.classList.remove('d-none');
                filtrosDesdeCero.classList.add('d-none');
            }
        });
    }

    $('#filtrosDesdeCero .select2.grupo').on('select2:select', function (e) {
        let select = selectDesdeCero.options[selectDesdeCero.selectedIndex].value;
        let data = e.params.data;
        let id = data.id;
        //console.log(data);

        grupoFormInput.value = select;
        grupoForm.action = `/controlgrupo/PYT-672/${id}`;
        grupoForm.submit();
    });

    /*selectDesdeCero.addEventListener('change', e => {
        let select = selectDesdeCero.options[selectDesdeCero.selectedIndex].value;
        grupoFormInput.value = select;
        grupoForm.action = `/asistenciasgrupo/PYT-672/${select}`;
        grupoForm.submit();
    });*/

    checkIntensivo.addEventListener('change', e => {
        if(checkIntensivo.checked === true) {
            filtrosIntensivo.classList.remove('d-none');
            filtrosDesdeCero.classList.add('d-none');
        }
    });

    $('#filtrosIntensivo .select2.grupo').on('select2:select', function (e) {
        let select = selectDesdeCero.options[selectDesdeCero.selectedIndex].value;
        let data = e.params.data;
        let id = data.id;

        grupoFormInput.value = select;
        grupoForm.action = `/controlgrupo/PYT-672/${id}`;
        grupoForm.submit();
    });

    /*selectIntensivo.addEventListener('change', e => {
        let select = selectIntensivo.options[selectIntensivo.selectedIndex].value;
        grupoFormInput.value = select;
        grupoForm.action = `/asistenciasgrupo/PYT-672/${select}`;
        grupoForm.submit();
    });*/

    let btnsAsistencias = document.getElementById('estudiantes');
    
    btnsAsistencias.addEventListener('click', e => {
        if(e.target.classList.contains('btnAsistencia')) {
            let target = e.target.getAttribute('data-id');
            let est = document.getElementById(`estudiante${target}`);
            let checkBtn = document.querySelector(`#estudiante${target} .check`), unCheckBtn = document.querySelector(`#estudiante${target} .uncheck`), badge = document.querySelector(`#estudiante${target} .badge`);

            est.classList.toggle('border-success');
            est.classList.toggle('border-secondary');
            checkBtn.classList.toggle('d-none');
            unCheckBtn.classList.toggle('d-none');
            badge.classList.toggle('badge-light-success');
            badge.classList.toggle('badge-light-secondary');
            if(badge.classList.contains('badge-light-success')) {
                badge.innerText = 'Presente';
                EliminarMatriculaAusente(target);
            } else {
                badge.innerText = 'Ausente';
                GuardarMatriculaAusente(target);
            }
        } else if (e.target.classList.contains('btnCalificacionMas')) {
            let target = e.target.getAttribute('data-id');
            let calificacion = document.querySelector(`#estudiante${target} .calificacion`);
            calificacion.value++;
        } else if (e.target.classList.contains('btnCalificacionMenos')) {
            let target = e.target.getAttribute('data-id');
            let calificacion = document.querySelector(`#estudiante${target} .calificacion`);
            if(calificacion.value === "0") {
                calificacion.value = 0;
            } else {
                calificacion.value--;
            }
        }
    });

    $('#filtrosDesdeCero select.leccion').on('change', e => {
        EstablecerMatriculaPorLeccion();
    });

    $('#filtrosIntensivo select.leccion').on('change', e => {
        EstablecerMatriculaPorLeccion();
    });

    const GuardarMatriculaAusente = (id) => {
        if ($('#filtrosDesdeCero .select2.grupo').val() != "-") {
            $('#ausenteNumLeccion').val($('#filtrosDesdeCero .select2.leccion').val());
            $('#ausenteGrupoId').val($('#filtrosDesdeCero .select2.grupo').val());
        } else {
            $('#ausenteNumLeccion').val($('#filtrosIntensivo .select2.leccion').val());
            $('#ausenteGrupoId').val($('#filtrosIntensivo .select2.grupo').val());
        }
        $('#ausenteMatriculaId').val(id)
        /*console.log($('#filtrosDesdeCero .select2.grupo').val())
        console.log($('#filtrosIntensivo .select2.grupo').val())*/
        
        let form = new FormData(document.getElementById('procesarAusente'));

        fetch('/registrarMatriculaAusente', {
            method: 'POST',
            body: form
        })
        .then(response => response.json())
        .then(data => console.log(data));
    }

    const EliminarMatriculaAusente = (id) => {
        if ($('#filtrosDesdeCero .select2.grupo').val() != "-") {
            $('#ausenteNumLeccion').val($('#filtrosDesdeCero .select2.leccion').val());
            $('#ausenteGrupoId').val($('#filtrosDesdeCero .select2.grupo').val());
        } else {
            $('#ausenteNumLeccion').val($('#filtrosIntensivo .select2.leccion').val());
            $('#ausenteGrupoId').val($('#filtrosIntensivo .select2.grupo').val());
        }
        $('#ausenteMatriculaId').val(id);
        /*console.log($('#filtrosDesdeCero .select2.grupo').val())
        console.log($('#filtrosIntensivo .select2.grupo').val())*/
        
        let form = new FormData(document.getElementById('procesarAusente'));
        //console.log(form)

        fetch('/eliminarMatriculaAusente', {
            method: 'POST',
            body: form
        })
        .then(response => response.json())
        .then(data => console.log(data));
    } 
});
</script>