<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            {{! NOTIFICACION }}
            <div class="toast-container" id="toast">
                <div class="toast basic-toast position-fixed top-0 end-0 m-2 fade" role="alert">
                    <div class="toast-header">
                        <strong class="me-auto"></strong>
                        <button type="button" class="ms-1 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body"></div>
                </div>
            </div>

            <button class="btn btn-outline-primary toast-basic-toggler mt-2 waves-effect d-none" id="btnToast">Toast</button>
            {{! NOTIFICACION END }}
            
            <div class="row match-height">
                <!-- Formulario de grpos -->
                <div class="col-12 col-lg-7">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Detalles de Usuario</h4>
                            <a href="#" class="text-primary" id="activarForm">
                                <span id="manual-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Editar" data-bs-trigger="manual">
                                    <i class="feather" data-feather="edit"></i>
                                </span>
                            </a>
                        </div>
                        <div class="card-body">
                            <form class="row match-height" action="/changeInfoUser" method="POST" id="formEditUserInfo">
                                <!--Info del alumno columna 1-->
                                <div class="col-sm-6 mb-1 pt-1 ps-lg-1 ps-3">
                                    <label class="form-label">Nombre</label>
                                    <div class="input-group mb-1">
                                        <span class="input-group-text">
                                            <i class="feather" data-feather="user"></i>
                                        </span>
                                        <input type="text" class="form-control infoEdit" name="nombre" value="{{usuario.nombre}}" required readonly>
                                    </div>

                                    <label class="form-label">DNI</label>
                                    <div class="input-group mb-1">
                                        <span class="input-group-text">
                                            <i class="feather" data-feather="user"></i>
                                        </span>
                                        <input type="text" class="form-control infoEdit" name="dni" value="{{usuario.dni}}" required readonly>
                                    </div>

                                    <label class="form-label">Fecha de Nacimiento</label>
                                    <input type="text" id="" class="form-control flatpickr-basic flatpickr-input mb-1 infoEdit" value="{{usuario.fecha_nacimiento}}" placeholder="YYYY-MM-DD" name="fechaN" required disabled>

                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control infoEdit mb-1" name="email" value="{{usuario.email}}" required readonly>

                                </div>
                                <!--/ Info del alumno columna 1-->

                                <!--Info del alumno columna 2-->
                                <div class="col-sm-6 pt-1 ps-lg-1 ps-3 mb-1 mb-lg-0">                       

                                    <label class="form-label">Puesto</label>
                                    <div class="input-group mb-1">
                                        <span class="input-group-text">
                                            <i class="feather" data-feather="info"></i>
                                        </span>
                                        <input type="text" class="form-control" name="puesto" value="{{usuario.puesto}}" readonly>
                                    </div>

                                    <label class="form-label">País</label>
                                    <div class="input-group mb-1">
                                        <span class="input-group-text">
                                            <i class="feather" data-feather="map-pin"></i>
                                        </span>
                                        <input type="text" class="form-control infoEdit" name="pais" value="{{usuario.pais}}" required readonly>
                                    </div>

                                    <label class="form-label">Fecha de Inicio</label>
                                    <input type="text" id="" class="form-control flatpickr-basic flatpickr-input mb-1 infoEdit" value="{{usuario.fecha_inicio}}" placeholder="YYYY-MM-DD" name="fechaI" required disabled>

                                    <label class="form-label">Teléfono</label>
                                    <div class="input-group mb-1">
                                        <span class="input-group-text">
                                            <i class="feather" data-feather="phone"></i>
                                        </span>
                                        <input type="text" class="form-control infoEdit" name="telefono" value="{{usuario.telefono}}" required readonly>
                                    </div>

                                </div>
                                <div class="col-sm-6 ps-lg-1 ps-3">
                                    <button type="submit" class="btn btn-primary disabled" id="sendFormBtn">Guardar</button>
                                </div>
                                <!--/ Info del alumno columna 2-->
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Cambiar Contraseña</h4>
                        </div>
                        <div class="card-body pt-1">
                            <!-- form -->
                            <form class="validate-form" action="/changePasswordUser" method="POST">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-1 d-none">
                                        <label class="form-label" for="account-old-password">Contraseña actual</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            <input type="password" class="form-control" id="account-old-password" name="" placeholder="Enter current password" data-msg="Please current password">
                                            <div class="input-group-text cursor-pointer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-1">
                                        <label class="form-label" for="account-new-password">Contraseña</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            <input type="password" id="account-new-password" name="password" class="form-control" placeholder=".....">
                                            <div class="input-group-text cursor-pointer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <label class="form-label" for="account-retype-new-password">Confimar Contraseña</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            <input type="password" class="form-control" id="account-retype-new-password" name="confirm-new-password" placeholder="......">
                                            <div class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                            <!--/ form -->
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<script>
    let inputs = document.querySelectorAll('.infoEdit'),
    formEdit = document.getElementById('formEditUserInfo'),
    btnSend = document.getElementById('sendFormBtn'),
    activarEditBtn = document.getElementById('activarForm'), 
    edit = false;

    activarEditBtn.addEventListener('click', e => {
        if (!edit) {
            SetInputBtn("edit")
        } else {
            SetInputBtn()
        }
    });

    function SetInputBtn (text) {
        if (text) {
            inputs.forEach(inp => {
                if (inp.classList.contains('flatpickr-basic')) {
                    inp.disabled = false;
                } else {
                    inp.readOnly = false;
                }
            });
            btnSend.classList.remove('disabled');
            edit = true;
        } else {
            inputs.forEach(inp => {
                if (inp.classList.contains('flatpickr-basic')) {
                    inp.disabled = true;
                } else {
                    inp.readOnly = true;
                }
            });
            edit = false;
            btnSend.classList.add('disabled');
        }
    }

    formEdit.addEventListener('submit', e => {
        e.preventDefault()
        Swal.fire({
            title: 'Datos Actualizados',
            icon: 'success'
        }).then(result => {
            if (result.isConfirmed || result.isDismissed) {
                formEdit.submit();
            }
        });
    });
</script>
