<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            {{! NOTIFICACION }}
            <div class="toast-container" id="toast">
                <div class="toast basic-toast position-fixed top-0 end-0 m-2 fade" role="alert">
                    <div class="toast-header">
                        <strong class="me-auto"></strong>
                        <button type="button" class="ms-1 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body"></div>
                </div>
            </div>

            <button class="btn btn-outline-primary toast-basic-toggler mt-2 waves-effect d-none" id="btnToast">Toast</button>
            {{! NOTIFICACION END }}
            
            <div class="row match-height">
                <!-- Formulario de grpos -->
                <div class="col-12 col-lg-7">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Detalles de Usuario</h4>
                        </div>
                        <div class="card-body pt-1">
                            <div class="row match-height">
                                <!-- Card info del alumno-->
                                <div class="col-12 px-0">
                                    <div class="col-12 rounded-1">
                                        <div class="card-body py-0">
                                            <div class="row">
                                                <!--Info del alumno columna 1-->
                                                <div class="col-sm-6 mb-2 pt-1 ps-lg-1 ps-3">
                
                                                    <div class="d-flex align-items-center">
                                                        <span class="item-clock me-75">
                                                            <i data-feather="user"></i>
                                                        </span>
                                                        <p class="mb-0">
                                                            <span class="fw-bolder">
                                                                Nombre:
                                                            </span>
                
                                                            <span>{{nombre}}</span>
                                                        </p>
                                                    </div>
                
                                                    <div class="d-flex align-items-center mt-1">
                                                        <span class="item-user me-75">
                                                            <i data-feather='user'></i>
                                                        </span>
                                                        <p class="mb-0">
                                                            <span class="fw-bolder">
                                                                DNI:
                                                            </span>
                                                            <span>{{dni}}</span>
                                                        </p>
                                                    </div>

                                                    <div class="d-flex align-items-center mt-1">
                                                        <span class="item-clock me-75">
                                                            <i data-feather='calendar'></i>
                                                        </span>
                                                        <p class="mb-0">
                                                            <span class="fw-bolder">
                                                                Fecha de Nacimiento:
                                                            </span>
                                                            <span>{{fecha_nacimiento}}</span>
                                                        </p>
                                                    </div>

                                                    <div class="d-flex align-items-center mt-1">
                                                        <span class="item-clock me-75">
                                                            <i data-feather="mail"></i>
                                                        </span>
                                                        <p class="mb-0">
                                                            <span class="fw-bolder">
                                                                Email:
                                                            </span>
                
                                                            <span>{{email}}</span>
                                                        </p>
                                                    </div>

                                                </div>
                                                <!--/ Info del alumno columna 1-->
                
                                                <!--Info del alumno columna 2-->
                                                <div class="col-sm-6 pt-1 ps-lg-1 ps-3 mb-2 mb-lg-0">                       
                
                                                    <div class="d-flex align-items-center">
                                                        <span class="item-user me-75">
                                                            <i data-feather='info'></i>
                                                        </span>
                                                        <p class="mb-0">
                                                            <span class="fw-bolder">
                                                                Puesto:
                                                            </span>
                                                            <span>{{puesto}}</span>
                                                        </p>
                                                    </div>

                                                    <div class="d-flex align-items-center mt-1">
                                                        <span class="item-clock me-75">
                                                            <i data-feather='map-pin'></i>
                                                        </span>
                                                        <p class="mb-0">
                                                            <span class="fw-bolder">
                                                                País:
                                                            </span>
                
                                                            <span class="">{{pais}}</span>
                                                        </p>
                                                    </div>
                
                                                    <div class="d-flex align-items-center mt-1">
                                                        <span class="item-clock me-75">
                                                            <i data-feather='calendar'></i>
                                                        </span>
                                                        <p class="mb-0">
                                                            <span class="fw-bolder">
                                                                Fecha de Inicio:
                                                            </span>
                                                            <span>{{fecha_inicio}}</span>
                                                        </p>
                                                    </div>
                
                                                    <div class="d-flex align-items-center mt-1">
                                                        <span class="item-clock me-75">
                                                            <i data-feather='phone'></i>
                                                        </span>
                                                        <p class="mb-0">
                                                            <span class="fw-bolder">
                                                                Teléfono:
                                                            </span>
                                                            <span>{{telefono}}</span>
                                                        </p>
                                                    </div>
                
                                                </div>
                                                <!--/ Info del alumno columna 2-->
                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Card info del alumno-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Cambiar Contraseña</h4>
                        </div>
                        <div class="card-body pt-1">
                            <!-- form -->
                            <form class="validate-form" action="/changePasswordUser" method="POST">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-1 d-none">
                                        <label class="form-label" for="account-old-password">Contraseña actual</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            <input type="password" class="form-control" id="account-old-password" name="" placeholder="Enter current password" data-msg="Please current password">
                                            <div class="input-group-text cursor-pointer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-1">
                                        <label class="form-label" for="account-new-password">Contraseña</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            <input type="password" id="account-new-password" name="password" class="form-control" placeholder=".....">
                                            <div class="input-group-text cursor-pointer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <label class="form-label" for="account-retype-new-password">Confimar Contraseña</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            <input type="password" class="form-control" id="account-retype-new-password" name="confirm-new-password" placeholder="......">
                                            <div class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                            <!--/ form -->
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
