<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section>
                <div class="row match-height flex-md-row-reverse">
                    <!-- Listado de grpos -->
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="card">
                            <div class="card-header pb-md-0">
                                <h4 class="card-title">Crear grupo</h4>
                                <div class="heading-elements d-md-none">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse"><i data-feather="chevron-down"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p class="card-header pt-1 font-small-2 d-none d-md-block">
                                Si presionas un item a la derecha tambien puedes editarlo acá. . .
                            </p>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="">
                                        <div class="row custom-options-checkable g-1 mb-1">
                                            <div class="col-md-6">
                                                <input class="custom-option-item-check desde0" type="radio" name="customOptionsCheckableRadios" id="customOptionsCheckableRadios1" checked/>
                                                <label class="custom-option-item p-1" for="customOptionsCheckableRadios1">
                                                    <span class="d-flex justify-content-between flex-wrap mb-50">
                                                        <span class="fw-bolder">Desde cero</span>
                                                    </span>
                                                    <small class="text">1 lección semanal.</small>
                                                </label>
                                            </div>
        
                                            <div class="col-md-6">
                                                <input class="custom-option-item-check intensivo" type="radio" name="customOptionsCheckableRadios" id="customOptionsCheckableRadios2" value="" />
                                                <label class="custom-option-item p-1" for="customOptionsCheckableRadios2">
                                                    <span class="d-flex justify-content-between flex-wrap mb-50">
                                                        <span class="fw-bolder">Intensivo</span>
                                                    </span>
                                                    <small class="text">2 lecciones semanales.</small>
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <!-- DESDE CERO -->
                                        <form class="form" method="POST" action="/creargrupopy672" id="desde0Form">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="mb-1">
                                                        <label class="form-label" for="first-name-column">Día y Horario</label>
                                                        <input type="text" class="d-none" value="Desde cero" name="nombre"/>
                                                        <input type="text" class="d-none" value="1" name="lecciones"/>
                                                        <select class="form-select" name="horario" required>
                                                            <option value="Lunes: 6:30pm a 9pm"> Lunes: 6:30pm a 9pm</option>
                                                            <option value="Martes: 6:30pm a 9pm"> Martes: 6:30pm a 9pm</option>
                                                            <option value="Miércoles: 6:30pm a 9pm"> Miércoles: 6:30pm a 9pm</option>
                                                            <option value="Jueves: 6:30pm a 9pm"> Jueves: 6:30pm a 9pm</option>
                                                            <option value="Sábado: 8:30am a 11am"> Sábado: 8:30am a 11am</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 mb-1">
                                                    <label class="form-label" for="fp-default">Fecha inicio</label>
                                                    <input type="text" id="fp-default" class="form-control flatpickr-basic" name="fechaInicio" placeholder="YYYY-MM-DD" required/>
                                                </div>
                                            </div>
                                                                                                    
                                            <div class="row">
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary me-1">Guardar</button>
                                                </div>
                                            </div>
                                        </form>

                                        <!-- INTENSIVO -->
                                        <form class="form d-none" method="POST" action="/creargrupopy672" id="intensivoForm">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="mb-1">
                                                                                                                                                                     <input type="text" class="d-none" name="nombre" value="Intensivo"/>
                                                        <input type="text" class="d-none" value="2" name="lecciones"/>
                                                        <label class="form-label" for="first-name-column">Día y Horario</label>
                                                        <select class="form-select" name="horario" id="" required>
                                                            <option value="Lunes y Míercoles: 6:30pm a 9pm"> Lunes y Míercoles: 6:30pm a 9pm</option>
                                                            <option value="Martes y Jueves: 6:30pm a 9pm"> Martes y Jueves: 6:30pm a 9pm</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 mb-1">
                                                    <label class="form-label" for="fp-default">Fecha inicio</label>
                                                    <input type="text" id="fp-default" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" name="fechaInicio" required>
                                                </div>
                                            </div>
                                                                                                    
                                            <div class="row">
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary me-1">Guardar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/ Fin Listado de grpos -->

                    <!-- Formulario de grpos -->
                    <div class="col-12 col-md-6 col-lg-7">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Grupos</h4>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="aperturas-tab" data-bs-toggle="tab" href="#aperturas" aria-controls="aperturas" role="tab" aria-selected="true">Aperturas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="desdecero-tab" data-bs-toggle="tab" href="#desdecero" aria-controls="desdecero" role="tab" aria-selected="false">Desde cero</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="intensivo-tab" data-bs-toggle="tab" href="#intensivo" aria-controls="intensivo" role="tab" aria-selected="false">Intensivos</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="aperturas" aria-labelledby="aperturas-tab" role="tabpanel">
                                        <div class="card-datatable table-responsive pt-0">
                                            <div class="TipoCurso-grupos mb-1">
                                                <label class="form-label" for="">Tipo de curso</label>
                                                <select id="filtroApertura" class="form-select text-capitalize mb-md-0 mb-2">
                                                    <option value="todos">Todos</option>
                                                    <option value="desde cero" class="text-capitalize">Desde cero</option>
                                                    <option value="intensivo" class="text-capitalize">Intensivo</option>
                                                </select>
                                            </div>
                                            <table class="user-list-table-Tabla-Aperturas table">
                                                <tbody>
                                                    {{#if gruposApertura}}
                                                    {{#each gruposApertura as |grupo i|}}
                                                    <tr class="{{#clasesGruposPY672 nombre}}{{/clasesGruposPY672}}">
                                                        <td>
                                                            <div>
                                                                <div class="d-flex align-items-center mb-1">
                                                                    <div class="me-75">
                                                                        <a href="#" class="text-primary editar-grupo" role="button" data-bs-toggle="modal" data-bs-target="#new-task-modal" data-id="{{id}}" data-horario="{{dia_horario}}" data-nombre="{{nombre}}" data-fecha="{{fecha_inicio}}"><b>{{identificador}}</b></a>
                                                                    </div>

                                                                    <div class="d-flex align-items-center justify-content-between w-100">
                                                                        <div class="d-flex">
                                                                            <div class="badge rounded-pill badge-light-success me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Activos" data-consulta="activos" role="button">
                                                                                {{grupo.activos}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                    
                                                                            <div class="badge rounded-pill badge-light-info me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Incorporados" data-consulta="incorporados" role="button">
                                                                                {{grupo.incorporados}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-secondary me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-De otro grupo" data-bs-placement="top" data-bs-original-title="Inscritos" data-consulta="inscritos" role="button">
                                                                                {{grupo.inscritos}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-warning me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Fusionados" data-consulta="fusionados" role="button">
                                                                                {{grupo.fusionados}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-danger me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Congelados" data-consulta="congelados" role="button">
                                                                                {{grupo.congelados}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-primary me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Total" data-consulta="todos" role="button">
                                                                                {{grupo.total}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <div role="button" class="btn btn-sm btn-outline-danger borrar-btn">
                                                                                <form action="/borrargrupopy672" method="POST">
                                                                                    <input type="text" name="id" class="new-todo-item-title form-control d-none" value="{{id}}" required>
                                                                                    <a>
                                                                                        <i data-feather='trash'></i>
                                                                                    </a>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="d-flex">
                                                                    <!---- PROF ---->
                                                                    <div class="me-1">
                                                                        <span class="item-user me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user font-small-4"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></span>
                                                                        <small class="emp_post text-muted">Prof.</small><br><small class="emp_post">Mosqueda Cor.</small>
                                                                    </div>

                                                                    <!---- PAGOS ---->
                                                                    <div class="me-1">
                                                                        <span class="item-dollar-sign me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign font-small-4"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg></span>

                                                                        <small class="emp_post text-muted">Pagos</small><br><small class="emp_post">{{dia_pagos}}</small>
                                                                    </div>

                                                                    <div class="me-1">
                                                                        <span class="item-clock me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock font-small-4"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>
                                                                        
                                                                        <small class="emp_post text-muted">Horario</small><br><small class="emp_post texto-horario">{{dia_horario}}</small>
                                                                        
                                                                        </div><div class="me-1"><span class="item-calendar me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar font-small-4"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                                                        <small class="emp_post text-muted">Inicio</small><br><small class="emp_post">{{fecha_inicio}}</small>
                                                                    </div>
                                                                    <div class="">
                                                                        <span class="item-calendar me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar font-small-4"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                                                        <small class="emp_post text-muted">Fin</small><br><small class="emp_post">{{fecha_finalizacion}}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                    {{else}}
                                                    <tr>
                                                        <td>No existen grupos en apertura actualmente.</td>
                                                    </tr>
                                                    {{/if}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- GRUPOS DESDE CERO -->
                                    <div class="tab-pane" id="desdecero" aria-labelledby="desdecero-tab" role="tabpanel">
                                        <div class="card-datatable table-responsive pt-0">
                                            <div class="row p-0 mb-1">
                                                <!-- FILTRO DESDE CERO -->
                                                <div class="col-4 niveles-grupos">
                                                    <label class="form-label" for="">Niveles</label>
                                                    <select id="nivelesGrupo1" class="form-select text-capitalize mb-md-0 mb-2">
                                                        <option value="todos">Todos</option>
                                                        <option value="Principiante" class="text-capitalize">Principiante</option>
                                                        <option value="Básico" class="text-capitalize">Básico</option>
                                                        <option value="Intermedio" class="text-capitalize">Intermedio</option>
                                                        <option value="Avanzado" class="text-capitalize">Avanzado</option>
                                                    </select>
                                                </div>
                                                <div class="col-4 profesor-grupos">
                                                    <label class="form-label" for="">Profesor</label>
                                                    <select id="" class="form-select text-capitalize mb-md-0 mb-2">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-4 pagos-grupos">
                                                    <label class="form-label" for="">Fecha de pago</label>
                                                    <select id="pagosGrupo1" class="form-select text-capitalize mb-md-0 mb-2xx">
                                                        <option value="todos">Todos</option>
                                                        <option value="01">01 de cada mes</option>
                                                        <option value="15">15 de cada mes</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <table class="user-list-table-Tabla-DesdeCero table" id="tablaDesde0">
                                                {{#if gruposDesde0}}
                                                {{#each gruposDesde0 as |grupo i|}}
                                                    <tr class="{{#clasesGruposPY672 nombre}}{{/clasesGruposPY672}} {{nivel}}" data-pagos="{{dia_pagos}}">
                                                        <td>
                                                            <div>
                                                                <div class="d-flex align-items-center mb-1">
                                                                    <div class="me-75">
                                                                        <a href="#" class="text-primary editar-grupo" role="button" data-bs-toggle="modal" data-bs-target="#new-task-modal" data-id="{{id}}" data-horario="{{dia_horario}}" data-nombre="{{nombre}}" data-fecha="{{fecha_inicio}}"><b>{{identificador}}</b></a>
                                                                    </div>

                                                                    <div class="d-flex align-items-center justify-content-between w-100">
                                                                        <div class="d-flex">
                                                                            <div class="badge rounded-pill badge-light-success me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Activos" data-consulta="activos" role="button">
                                                                                {{grupo.activos}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                    
                                                                            <div class="badge rounded-pill badge-light-info me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Incorporados" data-consulta="incorporados" role="button">
                                                                                {{grupo.incorporados}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-secondary me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-De otro grupo" data-bs-placement="top" data-bs-original-title="Inscritos" data-consulta="inscritos" role="button">
                                                                                {{grupo.inscritos}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-warning me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Fusionados" data-consulta="fusionados" role="button">
                                                                                {{grupo.fusionados}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-danger me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Congelados" data-consulta="congelados" role="button">
                                                                                {{grupo.congelados}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-primary me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Total" data-consulta="todos" role="button">
                                                                                {{grupo.total}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                                                        
                                                                        </div>
                                                                        <div>
                                                                            <div role="button" class="btn btn-sm btn-outline-danger borrar-btn">
                                                                                <form action="/borrargrupopy672" method="POST">
                                                                                    <input type="text" name="id" class="new-todo-item-title form-control d-none" value="{{id}}" required>
                                                                                    <a>
                                                                                        <i data-feather='trash'></i>
                                                                                    </a>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="d-flex">
                                                                    <!---- PROF ---->
                                                                    <div class="me-1">
                                                                        <span class="item-user me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user font-small-4"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></span>
                                                                        <small class="emp_post text-muted">Prof.</small><br><small class="emp_post">Mosqueda Cor.</small>
                                                                    </div>

                                                                    <!---- PAGOS ---->
                                                                    <div class="me-1">
                                                                        <span class="item-dollar-sign me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign font-small-4"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg></span>

                                                                        <small class="emp_post text-muted">Pagos</small><br><small class="emp_post">{{dia_pagos}}</small>
                                                                    </div>

                                                                    <div class="me-1">
                                                                        <span class="item-clock me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock font-small-4"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>
                                                                        
                                                                        <small class="emp_post text-muted">Horario</small><br><small class="emp_post texto-horario">{{dia_horario}}</small>
                                                                        
                                                                        </div><div class="me-1"><span class="item-calendar me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar font-small-4"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                                                        <small class="emp_post text-muted">Inicio</small><br><small class="emp_post">{{fecha_inicio}}</small>
                                                                    </div>
                                                                    <div class="">
                                                                        <span class="item-calendar me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar font-small-4"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                                                        <small class="emp_post text-muted">Fin</small><br><small class="emp_post">{{fecha_finalizacion}}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                {{else}}
                                                    <tr>
                                                        <td>No existen grupos desde cero actualmente.</td>
                                                    </tr>
                                                {{/if}}
                                            </table>
                                        </div>
                                    </div>

                                    <!-- GRUPOS INTENSIVO -->
                                    <div class="tab-pane" id="intensivo" aria-labelledby="intensivo-tab" role="tabpanel">
                                        <div class="card-datatable table-responsive pt-0">
                                            <div class="row p-0 mb-1">
                                                <!-- FILTRO INTENSIVO -->
                                                <div class="col-4 niveles-grupos">
                                                    <label class="form-label" for="">Niveles</label>
                                                    <select id="nivelesGrupo2" class="form-select text-capitalize mb-md-0 mb-2">
                                                        <option value="todos">Todos</option>
                                                        <option value="Principiante" class="text-capitalize">Principiante</option>
                                                        <option value="Básico" class="text-capitalize">Básico</option>
                                                        <option value="Intermedio" class="text-capitalize">Intermedio</option>
                                                        <option value="Avanzado" class="text-capitalize">Avanzado</option>
                                                    </select>
                                                </div>
                                                <div class="col-4 profesor-grupos">
                                                    <label class="form-label" for="">Profesor</label>
                                                    <select id="" class="form-select text-capitalize mb-md-0 mb-2">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-4 pagos-grupos">
                                                    <label class="form-label" for="">Fecha de pago</label>
                                                    <select id="pagosGrupo2" class="form-select text-capitalize mb-md-0 mb-2xx">
                                                        <option value="todos">Todos</option>
                                                        <option value="01">01 de cada mes</option>
                                                        <option value="15">15 de cada mes</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <table class="user-list-table-Tabla-DesdeCero table" id="tablaIntensivo">
                                                {{#if gruposIntensivo}}
                                                {{#each gruposIntensivo as |grupo i|}}
                                                    <tr class="{{#clasesGruposPY672 nombre}}{{/clasesGruposPY672}} {{nivel}}" data-pagos="{{dia_pagos}}">
                                                        <td>
                                                            <div>
                                                                <div class="d-flex align-items-center mb-1">
                                                                    <div class="me-75">
                                                                        <a href="#" class="text-primary editar-grupo" role="button" data-bs-toggle="modal" data-bs-target="#new-task-modal" data-id="{{id}}" data-nombre="{{nombre}}" data-horario="{{dia_horario}}" data-fecha="{{fecha_inicio}}"><b>{{identificador}}</b></a>
                                                                    </div>

                                                                    <div class="d-flex align-items-center justify-content-between w-100">
                                                                        <div class="d-flex">
                                                                            <div class="badge rounded-pill badge-light-success me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Activos" data-consulta="activos" role="button">
                                                                                {{grupo.activos}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                    
                                                                            <div class="badge rounded-pill badge-light-info me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Incorporados" data-consulta="incorporados" role="button">
                                                                                {{grupo.incorporados}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-secondary me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-De otro grupo" data-bs-placement="top" data-bs-original-title="Inscritos" data-consulta="inscritos" role="button">
                                                                                {{grupo.inscritos}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-warning me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Fusionados" data-consulta="fusionados" role="button">
                                                                                {{grupo.fusionados}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-danger me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Congelados" data-consulta="congelados" role="button">
                                                                                {{grupo.congelados}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                            
                                                                            <div class="badge rounded-pill badge-light-primary me-1 btnModalMatricula" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" data-bs-original-title="Total" role="button" data-consulta="todos">
                                                                                {{grupo.total}}
                                                                                <form action="">
                                                                                    <input type="text" class="d-none" name="id" value="{{id}}">
                                                                                </form>
                                                                            </div>
                                                                           
                                                                        </div>
                                                                        <div>
                                                                            <div role="button" class="btn btn-sm btn-outline-danger borrar-btn">
                                                                                <form action="/borrargrupopy672" method="POST">
                                                                                    <input type="text" name="id" class="new-todo-item-title form-control d-none" value="{{id}}" required>
                                                                                    <a>
                                                                                        <i data-feather='trash'></i>
                                                                                    </a>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="d-flex">
                                                                    <!---- PROF ---->
                                                                    <div class="me-1">
                                                                        <span class="item-user me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user font-small-4"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></span>
                                                                        <small class="emp_post text-muted">Prof.</small><br><small class="emp_post">Mosqueda Cor.</small>
                                                                    </div>

                                                                    <!---- PAGOS ---->
                                                                    <div class="me-1">
                                                                        <span class="item-dollar-sign me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign font-small-4"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg></span>

                                                                        <small class="emp_post text-muted">Pagos</small><br><small class="emp_post">{{dia_pagos}}</small>
                                                                    </div>

                                                                    <div class="me-1">
                                                                        <span class="item-clock me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock font-small-4"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>
                                                                        
                                                                        <small class="emp_post text-muted">Horario</small><br><small class="emp_post texto-horario">{{dia_horario}}</small>
                                                                        
                                                                        </div><div class="me-1"><span class="item-calendar me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar font-small-4"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                                                        <small class="emp_post text-muted">Inicio</small><br><small class="emp_post">{{fecha_inicio}}</small>
                                                                    </div>
                                                                    <div class="">
                                                                        <span class="item-calendar me-75"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar font-small-4"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                                                        <small class="emp_post text-muted">Fin</small><br><small class="emp_post">{{fecha_finalizacion}}</small>
                                                                    </div>
                                                                                                            
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                {{else}}
                                                    <tr>
                                                        <td>No existen grupos intensivos actualmente.</td>
                                                    </tr>
                                                {{/if}}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Formulario de grupos -->
                </div>
            </section>

            <div class="modal modal-slide-in sidebar-todo-modal fade" id="new-task-modal" aria-modal="true" role="dialog">
                <div class="modal-dialog sidebar-lg">
                    <div class="modal-content p-0">
                        <form class="todo-modal needs-validation" action="/actualizargrupospty672" method="POST">
                            <div class="modal-header align-items-center mb-1">
                                <div class="todo-item-action d-flex align-items-center justify-content-between ms-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x cursor-pointer" data-bs-dismiss="modal"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                </div>
                            </div>
                            <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
                                <div class="action-tags">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Tipo de Curso</label>
                                        <input type="text" name="id" class="new-todo-item-title form-select id d-none" required>
                                        <select type="text" id="titulo" name="nombre" class="new-todo-item-title form-select" required>
                                            <option value="Desde cero">Desde cero</option>
                                            <option value="Intensivo">Intensivo</option>
                                        </select>
                                    </div>
                                    <div class="mb-1">
                                        <label for="" class="form-label">Día y Horario</label>
                                        <select name="horario1" id="horarioDesdeCero" class="form-select">       
                                            <option value="Lunes: 6:30pm a 9pm"> Lunes: 6:30pm a 9pm</option>
                                            <option value="Martes: 6:30pm a 9pm"> Martes: 6:30pm a 9pm</option>
                                            <option value="Miércoles: 6:30pm a 9pm"> Miércoles: 6:30pm a 9pm</option>
                                            <option value="Jueves: 6:30pm a 9pm"> Jueves: 6:30pm a 9pm</option>
                                            <option value="Sábado: 8:30am a 11am"> Sábado: 8:30am a 11am</option>
                                        </select>
                                        <select name="horario2" id="horarioIntensivo" class="form-select">
                                            <option value="Lunes y Míercoles: 6:30pm a 9pm"> Lunes y Míercoles: 6:30pm a 9pm</option>
                                            <option value="Martes y Jueves: 6:30pm a 9pm"> Martes y Jueves: 6:30pm a 9pm</option>
                                        </select>
                                    </div> 
                                    <div class="mb-1">
                                        <label for="" class="form-label">Fecha de Inicio</label>
                                        <input type="date" class="form-control task-due-date flatpickr-input" id="date" name="fechaInicio" required>
                                    </div> 
                                </div>
                                <div class="my-1">
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                    <button type="reset" class="btn btn-outline-danger" data-bs-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary d-none" id="modalTable" data-bs-toggle="modal" data-bs-target="#pricingModal">
                Show
            </button>

            <div class="modal fade" id="pricingModal" tabindex="-1" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-sm-5 mx-50 pb-5">
                            <div class="text-center">
                                <h1 class="mb-2">Matricula de Grupo <b><span id="identificadorGrupo" class="text-primary"></span></b></h1>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Email</th>
                                            <th>Tipo</th>
                                            <th>Identificación</th>
                                            <th>Fecha de Nacimiento</th>
                                            <th>Teléfonos</th>
                                            <th>Provincia</th>
                                            <th>Cantón</th>
                                            <th>Distrito</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableRows">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../assets/js/PYT672/grupos.js"></script>